.builder-welcome-page-wrapper{

	.builder-welcome-content{

		max-width: 700px;
		margin: auto;
		margin-top: 160px;
		color: white;
		text-align: center;

		.welcome-icon-wrapper{
			width: 50px;
			height: 80px;
			overflow: hidden;
			margin: auto;

			img{
				width: 100%;
				height: auto;
			}
		}
		

		.welcome-title{

			margin-top: 50px;

			p{
				font-size: 28pt;
			}
		}

		.welcome-text{

			margin-top: 30px;

			p{
				font-size: 16pt;
			}
		}

		.welcome-lets-go-btn-wrapper{
			margin-top: 50px;
		}

		.password-input-wrapper{

			padding: 50px;

			.personal-details-input {

				button{
					width: 100%;
					height: 40px;
					background-color: $happii-pink;
					color: white;
					margin-top: 25px;
					border: none;
				}

				.overlay{

					//padding-right: 95px !important;
				}

				input {
					width: 100%;
					height: 40px;
					margin: auto;
					display: block;
					margin-top: 15px;
					text-indent: 25px;
					color: black;
				}

				p {
					margin: 0px;
					margin-left: 25px;
					line-height: 2;
					color: white;
					margin-top: 15px;
				}

				.progress {
					width: 200px;
					padding: 0;
					margin: 0;
					float: right;
					//margin-right: 75px;
					margin-bottom: -20px;
					position: relative;
					bottom: 40px;
					height: 40px;
					border-radius: 0px;
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Safari */
					transform: rotate(180deg);
					background-color: transparent;

					.progress-bar {
						-ms-transform: rotate(180deg); /* IE 9 */
						-webkit-transform: rotate(180deg); /* Safari */
						transform: rotate(180deg);
					}

					span {
						font-size: 15pt;
						line-height: 2;
					}
				}
			}
		}
	}
}

.builder-wrapper{

	display: block;
	height: 100vh;

	.builder-questions-wrapper{

		height: 100vh;
		overflow-y: scroll;

		header{
			.happii-btn-empty{
				color: white !important;
				margin-top: 15px;
				float: right;
			}
		}


		.builder-question-dots{
			float: left;
			line-height: 2;
			margin-top: 10px;

			i{
				color: white;
				opacity: 0.5;
			}

			.builder-dot-single{
				float: right;
			}
		}

		.navigation-wrapper{

			width: 300px;
			margin: auto;
			display: block;
			//margin-top: 25px;

			.section-nav-content{

				color: white;
				text-align: center;
				display: inline-flex;
				margin-top: 25px;
				//transform: translate(50%, 50%);

				p{
					text-transform: uppercase;
				}

				p:nth-child(2){
					margin-left: 15px;
					margin-right: 15px;
				}

				i{
					margin-right: 10px;
					margin-left: 10px;
				}
			}

		}

		.navigation-wrapper-abs{
			position: absolute;
			left: 36%;
		}

		//Description wrapper
		.profile-description-builder-wrapper{

			width: 800px;
			margin: auto;
			text-align: center;
			overflow: hidden;
			//margin-top: 50px;

			.profile-description-top-text-wrapper{
				p{
					color: white;
					@include cooperFont();
				}

				p:nth-child(1){
					font-size: 25pt;
				}

				p:nth-child(2){
					font-size: 12pt;
				}
			}

			.profile-description-input-section{

				width: 100%;

				.text-area-wrapper{

					width: 800px;
					margin: auto;
					padding: 40px;
					padding-bottom: 100px;
					overflow: hidden;
					background-color: rgba(255,255,255,0.5);
					color: grey;

					textarea{
						width: 100%;
						height: 300px;
						padding: 20px;
					}

					p{
						float: right;
						color: gray;
						position: relative;
						bottom: 30px;
						right: 20px;
					}
				}

				.next-step-button{
					float: right;
					margin-top: -85px;
					margin-right: 40px;
				}


			}
		}

		//Basic stats
		.builder-basic-stats-wrapper{

			width: 800px;
			margin: auto;

			.basic-stats-main-title{

				p{
					color: white;
					font-size: 22pt;
					text-align: center;
					@include cooperFont();
				}

			}

			.basic-stats-question{

				.basic-stats-title{

					font-size: 22pt;
					color: white;
					text-align: center;
					margin-top: 10px;
				}

				.basic-stats-icon-wrapper{

					margin-top: 25px;
					.basic-stats-icon{

						display: block;
						margin: auto;
						width: 80px;
						height: auto;

						img{
							width: 100%;
							height: auto;
						}

					}
				}

				.next-step-btn-wrapper{

					position: absolute;
					display: block;
					margin: auto;
					text-align: center;
					width: 100%;
					margin-top: 40px;
				}

			}

			//Location from question
			.location-from-wrapper{

				.location-from-input-wrapper{
					margin-top: 25px;
					padding-bottom: 50px;

					input {
						width: 450px;
						height: 40px;
						margin: auto;
						display: block;
						padding-left: 25px;
					}

					i {
						position: relative;
						font-size: 20pt;
						color: lightgray;
						bottom: 34px;
						right: 80px;
						float: right;
					}
				}
			}

			//height question
			.height-wrapper{

				.basic-stats-title{
					margin-top: 30px;
				}

				.basic-stats-icon{

				}

				.height-slider-wrapper{

					height: 100px;
					padding: 35px;
					padding-bottom: 115px;

					.height-slider{

					}

					.height-slider-value{

						p{
							color: $happii-pink;
							font-size: 22pt;
							margin: 0px;
							padding: 0px;
							line-height: 2;
							text-align: center;
						}
					}
				}
			}
		}

		//Interests
		.builder-interests-wrapper, .partner-interests-wrapper{

			.next-step-btn-wrapper{

				position: absolute;
				display: block;
				margin: auto;
				text-align: center;
				width: 100%;
				margin-top: 40px;
			}

			.interests-content-wrapper{

				color: white;

				.interests-title{

					p{
						text-align: center;
						font-size: 22pt;
						@include cooperFont();
					}
				}

				.interests-sub-title{

					p{
						text-align: center;
						font-size: 10pt;
					}
				}

				.checkbox-input-wrapper{

					padding: 30px;

					.checkbox-5-column-wrapper{

						position: relative;
						margin-left: -15%;
					}

					.checkbox-any-wrapper{
						width: 50%;
						margin: auto;
						//position: relative;
						.interests-input-single{
							width: 50%;
							margin: auto;
							text-align: center;

							.checkbox{
								margin: auto;
								left: -50px;
							}

							label{

							}
						}
					}
				}

				//Interest favourites
				.interest-favourite-wrapper{

					@mixin interest-border-style(){
						border-style: solid;
						border-color: white;
						border-width: 1px;
					};

					width: 800px;
					margin: auto;
					margin-top: 100px;
					@include interest-border-style();

					.favourite-input-wrapper{

						.favourite-input{
							display: inline-flex;
						}

						.favourite-title{
							font-size: 18pt;
							text-align: center;
							padding: 50px;
							padding-top: 15px;
							padding-bottom: 15px;
						}

						input{
							color: black;
							height: 40px;
							width: 300px;
							margin: auto;
							display: block;
							text-indent: 15px;
							margin-left: 50px;
						}

						i{
							font-size: 18pt;
							position: relative;
							top: 10px;
							left: 12px;
							//border: solid white 1px;
							height: 32px;
							width: 25px;
							color: grey;
						}

						.api-results-wrapper{

							width: 100%;
							position: absolute;
							background-color: white;
							color: #23527c;
							border: 1px solid #408698;
							left: 25px;
							margin-top: 10px;

							.api-result-single{

								width: 100%;
								position: relative;
								padding: 5px;
								background-color: #eaeaea;

								p{
									width: 100%;
									position: relative;
									margin: 0px;
								}

								.api-result-image-wrapper{

									width: 35px;

									img{
										width: 100%;
										height: auto;
									}
								}
							}

							.api-result-single:nth-child(2n){
								background-color: white;
							}
						}
					}

					.favourite-list-wrapper{

						margin-top: 15px;

						ul{

							list-style: none;

							li{

								label{
									height: 30px;
									width: 90%;
									background-color: rgba(255,255,255,0.2);
									@include interest-border-style();
									text-indent: 15px;
									line-height: 2;
								}

								i{
									margin-right: 5px;
								}
							}
						}
					}
				}

			}


		}

		//The travel questions
		.builder-travel-wrapper{

			.next-step-btn-wrapper{

				position: relative;
				display: block;
				margin: auto;
				text-align: center;
				width: 100%;
				margin-top: 40px;
			}

			.travel-content-wrapper{

				width: 800px;
				margin: auto;

				.travel-title{

					margin-bottom: 20px;

					p{
						color: white;
						font-size: 26pt;
						text-align: center;
						@include cooperFont();
					}

				}

				.travel-sub-title{

					width: 520px;
					margin: auto;
					margin-bottom: 50px;

					p{
						color: white;
						font-size: 14pt;
						text-align: center;
						width: 100%;
					}
				}

				.travel-input-wrapper{

					i {
						position: relative;
						font-size: 20pt;
						color: lightgray;
						bottom: 47px;
						right: 10px;
						float: right;
					}

					input{
						width: 100%;
						height: 40px;
						margin-bottom: 15px;
						text-indent: 15px;
					}

					hr{
						width: 100%;
						color: white;
					}

				}

				.travel-item{
					text-align: left;
					width: 100%;

					div{
						//display: inline-flex;
						width: 100%;
					}
				}

				.travel-list-wrapper{

					margin-top: 15px;

					ul{

						list-style: none;
						display: block;
						margin: auto;
						width: 116%;
						position: relative;
						left: -39px;

						li{
							width: 100%;
							label{
								height: 30px;
								width: 100%;
								background-color: rgba(255,255,255,0.2);
								border-style: solid;
								border-width: 1px;
								border-color: white;
								text-indent: 15px;
								line-height: 2;
							}

							i{
								margin-right: 5px;
								position: relative;
								top: 25px;
								left: -15px;
							}
						}
					}
				}

				.places-set-wrapper{

					text-align: center;
					border-style: solid;
					border-width: 1px;
					border-color: white;

					#places-set-wrapper-content{
						padding: 40px;
					}

					.travel-icon-wrapper{

						margin-bottom: 25px;

						.travel-icon{
							width: 20px;
							height: 30px;
							margin: auto;

							img{
								width: 100%;
								height: auto;
							}
						}

					}

					.travel-places-been-wrapper{

						p{
							margin-bottom: 25px;
							font-size: 14pt;
							color: white;
						}

					}

					.travel-places-go-wrapper{

						p{
							margin-bottom: 25px;
							font-size: 14pt;
							color: white;
						}
					}
				}

				.places-describe-wrapper{

					width: 100%;
					border-color: white;
					border-width: 1px;
					border-style: solid;

					.places-describe-tab-names{

						height: 60px;
						background-color: white;

						p{
							text-align: center;
							color: darkgray;
							font-size: 14pt;
							line-height: 3;
							cursor: pointer;
						}

					}

					.places-describe-wrapper-content{
						padding: 40px;
						width: 100%;
						height: 300px;

						textarea{
							width: 100%;
							height: 200px;
							color: darkgrey;
							padding: 15px;
						}

						.travel-upload-photo-wrapper{

							.happii-btn{
								width: 180px !important;
								font-size: 10pt;
								//
								//i{
								//	position: relative;
								//	right: 25px;
								//	margin-left: 0px;
								//}
							}

							#video-upload-display{

								button{
									background-color: $happii-profile-blue !important;
									margin-top: 10px;
								}

							}

							.happii-btn{

								i{
									right: 5px;
									position: absolute;
								}

								margin-left: 0px;
							}

							.social-btn{
								width: 180px;
								margin-top: 10px;

								button{
									width: 100%;
								}

								.facebook-btn{
									background-color: #5373be !important;
								}

								.instagram-btn{
									background-color: #706481 !important;
								}
							}

						}
					}
				}



			}
		}

		.builder-partner-wrapper{

			width: 800px;
			margin: auto;

			.builder-partner-title{

				p{
					color: white;
					font-size: 22pt;
					text-align: center;
					width: 600px;
					margin: auto;
					@include cooperFont();
				}

			}

			.partner-question{

				color: white;

				.partner-stats-title{

					p{
						font-size: 22pt;
						text-align: center;
						margin-top: 10px;
						margin-bottom: 0px;
						padding-bottom: 50px;
						@include cooperFont();
					}

				}

				.partner-stats-icon-wrapper{

					margin-top: 25px;
					.partner-stats-icon{

						display: block;
						margin: auto;
						width: 40px;
						height: 40px;

						img{
							width: 100%;
							height: auto;
						}

					}
				}

				.partner-icon-wrapper{

					margin: auto;
					margin-top: 25px;
					width: 80px;
					height: 80px;

					img{
						width: 100%;
						height: auto;
					}
				}

				.partner-stats-contents{

					//Gender question
					.gender-content-wrapper{

						padding: 80px;
						padding-top: 0px;
						padding-bottom: 20px;

						.gender-icon-wrapper{

							.gender-icon{

								width: 60px;
								height: 150px;
								margin: auto;
								display: block;

								img{
									width: 100%;
									height: auto;
								}
							}

							#male-icon{
								position: relative;
								left: 10px;
							}

							#female-icon{
								position: relative;
								right: 10px;
							}

							.gender-text{
								p{
									text-transform: uppercase;
									font-size: 20pt;
									text-align: center;
								}
							}
						}
					}

					//age range question
					.age-range-content-wrapper{

						.age-range-slider-wrapper{

							width: 500px;
							margin: auto;
						}

						.age-range-text-wrapper{

							p{
								font-size: 26pt;
								color: $happii-pink;
								text-align: center;
								margin-bottom: 0px;
								padding-bottom: 25px;
							}
						}
					}

					//location question
					.location-content-wrapper{

						.location-input-wrapper{

							margin-top: -25px;

							input {
								width: 450px;
								height: 40px;
								margin: auto;
								display: block;
								padding-left: 25px;
								color: black;
							}

							i {
								position: relative;
								font-size: 20pt;
								color: lightgray;
								bottom: 34px;
								right: 80px;
								float: right;
							}

						}

						.location-slider-wrapper{

							width: 450px;
							margin: auto;
							padding-bottom: 25px;
							left: 10px;
							position: relative;

							.slider-rz{
								width: 100%;
								margin: auto;
							}

							.location-text-wrapper{
								p{
									font-size: 16pt;
									color: $happii-pink;
									line-height: 2.3;
									text-align: center;
								}
							}
						}
					}

					//Partner radio directive
					.question-partner-radio-directive{

						.partner-question{

							width: 100%;
							padding: 5px;

							.partner-icon-wrapper-directive{

								padding-top: 25px;

								.partner-icon-directive{

									width: 80px;
									height: 80px;
									margin: auto;
									overflow: hidden;

									img{
										width: 100%;
										margin: auto;
									}
								}

								p{
									text-align: center;
									font-size: 22pt;
								}
							}

							.partner-input-wrapper{

							}
						}
					}

					//height question
					.height-content-wrapper{

						padding-bottom: 25px;

						.height-slider-wrapper{

							width: 500px;
							margin: auto;
						}

						.height-text-wrapper{

							p{
								font-size: 26pt;
								color: $happii-pink;
								text-align: center;
								margin-bottom: 0px;
								padding-bottom: 25px;
							}
						}
					}

				}



				.next-step-btn-wrapper{

					position: absolute;
					display: block;
					margin: auto;
					text-align: center;
					width: 100%;
					margin-top: 40px;
				}

			}

		}

		//The section section questions
		.image-section-wrapper{

			.image-section-title{

				p{
					@include cooperFont();
					font-size: 22pt;
					color: white;
					text-align: center;
				}
			}

			.outro-page-wrapper{
				text-align: center;
				color: white;
				font-size: 16pt;
				margin-top: 200px;

				p{
					margin-bottom: 60px;
					@include cooperFont();
				}

				.image-section-nav-content{
					transform: translate(0px) !important;
				}
			}

			.image-section-navigation{

				width: 300px;
				margin: auto;
				display: block;
				//margin-top: 25px;

				.image-section-nav-content{

					color: white;
					text-align: center;
					display: inline-flex;
					transform: translate(50%, 50%);

					p{
						text-transform: uppercase;
					}

					p:nth-child(2){
						margin-left: 15px;
						margin-right: 15px;
					}

					i{
						margin-right: 10px;
						margin-left: 10px;
					}
				}

			}

			//Intro page
			.image-section-intro-wrapper{

				color: white;
				text-align: center;
				margin: auto;
				margin-top: 200px;

				.intro-content{

					p{
						@include cooperFont();
					}

					p:nth-child(1),p:nth-child(2){

						font-size: 25pt;
						margin-bottom: 0px;
					}

					p:nth-child(3){

						font-size: 10pt;
						text-transform: uppercase;
						margin-top: 25px;
					}

					i{
						margin-left: 10px;
					}

					button{
						margin-top: 25px;
					}
				}
			}

			.image-section-photo-complete-wrapper{
				color: white;
				text-align: center;
				margin: auto;
				margin-top: 200px;

				.intro-content{
					font-size: 18pt;
				}

				.image-section-nav-content{
					transform: translate(0%) !important;
					margin-top: 40px;
				}
			}

			.photo-upload-btn{

				width: 100%;
				height: 50px;
				border: solid 1px white;
				border-radius: 5px;
				color: white;
				font-weight: 600;
				position: relative;
				margin: 5px;

				i{
					position: absolute;
					left: 25px;
					font-size: 15pt;
				}
			}

			.device-upload-btn{
				background-color: $happii-pink;
				font-size: 12pt;
			}

			.facebook-upload-btn{
				background-color: #537CBE;
				font-size: 10pt;
			}

			.instagram-upload-btn{
				background-color: #706481;
				font-size: 10pt;
			}

			.check-btn{
				background-color: #9AB8BB;
				font-size: 12pt;
			}

			.photo-dots-wrapper{
				width: 100%;
				height: 40px;
				background-color: white;
				position: relative;
				text-align: center;

				i{
					line-height: 3;
					padding: 15px;
					padding-top: 0px;
				}
			}


			.photo-text-guidelines-wrapper{
				padding: 55px;
				text-align: center;
				padding-top: 25px;
				padding-bottom: 0px;
				color: white;

				h3{
					font-size: 12pt;
					font-weight: 700;
					margin-top: 10px;
					margin-bottom: 5px;
				}
			}

			.photo-confirmation-wrapper{
				width: 550px;
				margin: auto;
				margin-top: 40px;
				padding-bottom: 25px;
				height: auto;
				background-color: white;

				#photo-upload-display{
					cursor: pointer;
				}

				.photo-upload-display-wrapper{

					width: 200px;
					height: 200px;
					margin: auto;
					display: block;
					background-color: lightgray;
					margin-top: 25px;
					overflow: hidden;
					background-repeat: no-repeat;
					background-size: cover;

					i{
						font-size: 50pt;
						display: block;
						margin: auto;
						text-align: center;
						margin-top: 60px;
						color: white;
					}
				}

				.photo-confirmation-btns-wrapper{
					margin-top: 25px;

					i{
						left: 8px !important;
					}

					p{
						color: #585858;
						font-size: 10pt;
						margin-left: 6px;
						margin-top: 5px;
					}
				}

			}

			//Profile photo page
			.image-section-profile-photo-wrapper{

				width: 600px;
				margin: auto;
				margin-top: 100px;

				.profile-photo-content-wrapper{

					background-color: rgba(255, 255, 255, 0.2);
					border: solid white 2px;
					height: 325px;
					color: black;

					.photo-upload-btns-wrapper{

						margin-top: 15px;

						.video-url-upload-wrapper{
							position: relative;
							display: inline-block;
							width: 100%;
							text-align: center;
							margin: 5px;
							margin-top: 25px;
							border-radius: 5px;

							button{
								width: 100%;
								height: 30px;
								margin: 0px;
								background-color: $happii-pink;
							}

							input{
								width: 100%;
								height: 30px;
								text-indent: 5px;
								border-radius: 5px;
							}
						}
					}
				}
			}

		}

		//The question complete section
		.question-complete-wrapper{

			.complete-content-wrapper{

				width: 500px;
				margin: auto;
				text-align: center;
				color: white;
				margin-top: 100px;

				.happii-btn{
					width: 250px !important;
				}

				p{
					font-size: 26pt;
					margin-bottom: 50px;
					@include cooperFont();
				}

				.happi-face-icon-wrapper{

					margin-bottom: 70px;

					.happi-face-icon{

						width: 50px;
						height: 50px;
						margin: auto;

						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}


		}

		//Used in interest checkbox directive
		.interests-input-single{
			label{
				//margin-left: 20px;
				padding-left: 50px;
				right: 30px;
				position: relative;
			}

			input{
				visibility: hidden;
			}
		}

	}

}