/*

	Classes for the site
 */

//todo get ui-sref pointer code off of andy

.error-message{

	color: red !important;
}

.disabledElement{
	pointer-events: none;
	opacity: 0.4;
}

.lower-white{
	color: rgba(255,255,255,0.4);
}

.white{
	color: white;
}

.pink{
	color: $happii-pink !important;
}

.dot-opacity{
	opacity: 0.2
}

.happii-btn{

	background-color: #e87a8b;
	color: white;
	width: 150px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding: 5px;
	font-size: 14pt;
	text-transform: capitalize;
	border-radius: 5px;
	cursor: pointer;

	i{
		margin-left: 15px;
	}
}

.happii-btn-empty{
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	transition: 0.5s;
	background-color: transparent;
	width: 150px;
	height: 40px;

	i{
		margin-left: 15px;
	}
}

.happii-btn-empty:hover{
	background-color: $happii-pink;
}

.happii-btn-back{
	background-color: $happii-profile-blue !important;

	i{
		margin-left: 0px !important;
		margin-right: 15px !important;
	}

}

.happii-btn-next{

}

.skip-step-wrapper{

	margin-top: 35px;

	p{
		color: white;
		text-transform: uppercase;
		font-size: 10pt;
	}

	i{
		margin-left: 15px;
	}

}

//Creates a wrapper for the questions with white dots above
.route-questions-wrapper{

	max-width: 600px;
	margin: auto;
	margin-top: 50px;

	border-style: solid;
	border-width: 3px;
	border-color: white;

	.questions-dots-wrapper{
		background-color: white;
		height: 50px;
	}
}

//Standard input question styling
.question-type-input-wrapper{

	width: 80%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 25px;

	.input-single{
		width: 200px;

		input{
			visibility: hidden;
		}

		label{
			color: white;
			font-size: 12pt;
			right: 30px;
			position: relative;
			float: left;
			left: 0px;
			padding-left: 15px;

		}
	}
}

//Slider
.rzslider{

	.rz-tick{
		border-radius: 0px;
		width: 1px;
		height: 20px;
		top: -15px !important;
	}

	.rz-pointer{
		//display: none;
		background-color: $happii-pink;
		border: solid;
		border-color: white;
		border-width: 1px;
		width: 15px;
		height: 15px;
		top: -5px
	}

	.rz-pointer::after{
		display: none;
	}

	.rz-bubble{
		color: $happii-pink !important;
		top: 12px;
	}
}

.sub-dot-content{
	text-align: center;
	width: auto;
	margin: auto;
}

.builder-dot-single{
	//width: 200px;
	display: inline-flex;
	margin: auto;
	padding-left: 20px;
	padding-top: 15px;

	i{
		padding-right: 25px;
	}
}

.profile-active-tab{

	background-color: white !important;
	border-bottom: none !important;
}


.directive-fancy-checkbox{

	.checkbox{

		background-color: white;
		width: 25px;
		height: 25px;
		border-width: 1px;
		border-color: white;
		border-style: solid;
		border-radius: 5px;
		overflow: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		top: 22px;
		left: -10px;

		.checkbox-tick{
			width: 25px;
			height: 25px;
			background-color: $happii-pink;
		}
		.checkbox-tick:before {
			content: "\f00c";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			/*--adjust as necessary--*/
			color: white;
			font-size: 18px;
			padding-right: 0.5em;
			position: absolute;
			top: 0px;
			left: 2px;
		}
	}
}

//Dropzone
#Page-1{
	display: none;
}

.hide{
	display: none;
}

.dz-preview{
	display: none;
}

//Gallery active boxes
.gallery-btn-active{

	background-color: $happii-pink;
	color: white;
}

//Image picker selected
.image-picker-selected{
	border-color: white !important;
}

.social-image-picker-selected{
	border-color: $happii-pink !important;
}

.profile-link-selected{
	background-color: rgba(255,255,255,0.6);
}

.image-delete-selected{
	border-color: $happii-pink !important;
	opacity: 0.4;
}

.bootstrap-remove-padding{
	padding: 0px;
}

.bootstrap-remove-padding-left{
	padding-left: 0px;
}

.bootstrap-remove-padding-right{
	padding-right: 0px;
}

.border-dotted{
	border: dotted !important;
	border-color: darkgrey !important;
}

.slick-chevron-navigation-wrapper-profile{
	width: 100%;
	position: absolute;
	z-index: 50;
	left: 0px;
	padding: 40px;

	i{
		color: grey;
		font-size: 18pt;
	}

	i:nth-child(1){
		float: left;
	}

	i:nth-child(2){
		float: right;
	}
}

.slick-chevron-navigation-wrapper-profile-looking-edit{
	width: 100%;
	position: absolute;
	z-index: -1;
	left: 0px;
	padding: 6px;
	top: 130px;

	i{
		color: grey;
		font-size: 18pt;
	}

	i:nth-child(1){
		float: left;
	}

	i:nth-child(2){
		float: right;
	}
}

//Bar used for errors
.notification-bar {
	position: fixed;
	overflow: hidden;
	background-color: #fff;
	height: 45px;
	z-index: 1000;
	left: 0;
	right: 0;
	padding: 10px 20px;

	top: -45px;

	transition: top .6s;

	&.bar-visible {
		top: 0;
	}

	.message {
		font-weight: bold;
		line-height: 18pt;
	}

	.dismiss {
		float: right;
		margin-top: 5px;
	}

	&.type-warning {
		background-color: orangered;
		color: white;
	}
}

#watch-trailer-modal{

	.modal-dialog{

		transform: translate(0%, 70%);
		width: 50%;

		.modal-body{
			padding: 0px;
		}

		.modal-content{
			height: 300px;

			#player{
				height: 300px;
			}

			.close{
				font-size: 32pt;
				position: absolute;
				color: white;
				right: 15px;
				opacity: 1;
			}
		}
	}
}