.home-header{
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 120px;
	top: 0;


	img{
		height: 80px;
		display: block;
		margin: 20px;
		cursor: pointer;
	}

	ul{
		display: inline-block;
		float: right;
		margin-bottom: 0;
		padding-left: 0;
		margin-top: 25px;

		li {
			display: inline-block;
			margin: 0 10px;
			cursor: pointer;

			a {
				display: inline-block;
				padding: 0 5px;
				text-transform: uppercase;
				color: white;
				font-size: 12pt;
				font-weight: 500;

				&:hover{
					text-decoration: none;
				}

			}

			&.register{
				border: 1px solid white;
				border-radius: 5px;
				padding: 5px;
				cursor: pointer;
				@include transition(0.5s);

				&:hover{
					@include transition(0.5s);

					background-color: $happii-pink;
					border: 1px solid $happii-pink;

				}



			}
			&.sign-in{
				border: 1px solid white;
				border-radius: 5px;
				padding: 5px;
				cursor: pointer;
				@include transition(0.5s);

				&:hover{
					@include transition(0.5s);

					background-color: $happii-profile-blue;
					border: 1px solid $happii-profile-blue;

				}
			}

			&.activeMenuItem{
				border-bottom: 2px solid white;
			}
		}
	}

	.mobile-menu{

		margin-top: 20px;
		float: right;
		margin-right: 15px;
		cursor: pointer;
		a{
			color: white;

			i{
				font-size: 25pt;
				line-height: 1.2;
			}
		}
		nav{
			display: none;
		}

		.sign-in-img-wrapper{

			width: 70%;
			height: auto;
			position: absolute;
			top: 10px;
			left: -5px;

			img{
				width: 100%;
				height: auto;
			}

			button{
				border: solid 2px white;
				background-color: transparent;
				text-transform: uppercase;
				color: white;
				border-radius: 5px;
				width: 100px;
				height: 30px;
				line-height: 2;
				font-weight: 700;


			}
		}
	}


	.blue-logo{
		display: none;
	}
	&.appear{
		background-color: white;

		.mobile-menu{
			a{
				color: $happii-profile-blue;
			}
		}

		.white-logo{
			display: none;
		}
		.blue-logo{
			display: block;
		}

		li{
			a{
				color: $happii-pink;
			}

			&.activeMenuItem{
				border-bottom: 2px solid $happii-pink;
			}

			&.register{
				border: 1px solid $happii-pink;
				a{
					color: $happii-pink;
				}
				&:hover{
					@include transition(0.5s);
					background-color: $happii-pink;
					a{
						color: white;
					}

				}

			}
			&.sign-in{
				border: 1px solid $happii-profile-blue;
				a{
					color: $happii-profile-blue;
				}
				&:hover{
					@include transition(0.5s);
					background-color: $happii-profile-blue;
					a{
						color: white;
					}

				}
			}
		}
	}
}

.back-to-top-arrow{

	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 50px;
	height: 50px;
	background-color: #888;
	z-index: 10;
	text-align: center;

	i{
		font-size: 22pt;
		color: white;
		transform: translate(0, 40%);
	}
}

.tweet-header{
	margin-left: 25px;
	margin-bottom: 0px;
	color: #8899A6;
	text-align: center;

	p{
		font-size: 24pt;
		color: #58728D;
	}
}
#recentTweetsDesktop{
	overflow: scroll;
	height: 500px;
	padding: 25px;

	.timeline-Header{
		display: none;
	}

	.timeline-Body{
		margin-top: 15px;
	}

	.timeline-Header-title{
		display: none;
	}

}



.home-page {

	//Only for the first few seconds of the page load to hide the flicker
	visibility: hidden;

	.jssocials-share-link{
		width: 100px;
	}

	.jssocials-share-label, .jssocials-share-logo{
		color: white !important;
	}

	.section{
		overflow: hidden;

		.down-arrow{
			text-align: center;
			color: $happii-profile-teal;
			cursor: pointer;
			top: 200px;
			position: absolute;
			left: 50%;
			margin-left: -18px;
		}

	}

	.happii-home-list{
		color: #95989A;
		font-size: 12pt;
		transform: translate(15%);
	}

	.slide-1 {
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		background-position: center;
		background-image: url('../images/backgrounds/home.jpg');

		h1{
			color: white;
			text-align: center;
			//font-family: "cooper-black-std",serif;
			font-size: 75px;
			line-height: 1.5;
			margin-top: -120px;
			text-transform: uppercase;
			letter-spacing: 50px;
		}

		button{
			background-color: rgba(0,0,0,0.2);
			color: white;
			border: solid 1px white;
			border-radius: 5px;
			width: 40%;
			margin: auto;
			display: block;
			font-size: 32px;
			padding: 5px;
			margin-top: 30px;
		}

		.down-arrow{
			color: white;
		}

	}
	.slide-2{
		img{
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;

		}


		h3{
			text-align: center;
			color: $happii-pink;
			font-size: 21pt;
			//font-family: "cooper-black-std",serif;

		}

		p{
			color: #95989A;
			font-size: 12pt;
			text-align: center;
		}
		hr{
			border-top: 1px solid $happii-pink;
			width: 25%;
			margin: 30px auto;
		}

		.right-arrow{
			position: absolute;
			left: 48%;
			top: 50%;
			cursor: pointer;
			color: $happii-profile-teal;
		}

		.left-arrow{
			position: absolute;
			left: 52%;
			top: 50%;
			cursor: pointer;
			color: $happii-profile-teal;
		}
		.down-arrow{
			position: absolute;
			left: 50%;
			top: 90%;
			cursor: pointer;
			color: $happii-profile-teal;
			margin-left: -18px;
		}
		.down-arrow-2{
			position: absolute;
			left: 75%;
			top: 90%;
			cursor: pointer;
			color: $happii-profile-teal;
			margin-left: -18px;

		}

		.slide-2-right{
			img{
				padding-top: 0;
			}
			p{
				text-align: left;
				margin: 0 0 25px;
			}
			h3{
				text-align: left;
				color: #58728D;
				font-size: 32px;
				margin-bottom: 30px;
			}
			a{
				font-weight: bold;
				color: #95989A;
			}
			.social-share{
				position: relative;
				width: 80%;
				margin-top: 30px;
			}
			.mac-img{
				margin-top: -30px;
			}
		}

		.slide-2-text{
			padding: 75px;
		}
	}

	.slide-3{


		h3{
			text-align: center;
			color: #58728D;
		}

		.card-flip{
			height: 170px;
			margin: 15px 0;
			cursor: pointer;

			.front{
				border: 1px solid #95989A;
				padding: 30px 0;

				img{
					text-align: center;
					margin: 0 auto 20px auto;
					display: block;
					height: 60px;
				}
				h4{
					text-transform: uppercase;
					color: #95989A;
					text-align: center;
					font-weight: 700;

				}
			}
			.back{
				padding: 30px 0;
				p{
					font-size: 11pt;
					font-weight: 400;
					text-align: center;
					color: white;
					padding: 0 5px;
					@include center();
					right: -50%;
				}
			}
		}
		.down-arrow{
			position: absolute;
			left: 50%;
			top: 90%;
			cursor: pointer;
			color: $happii-profile-teal;
			margin-left: -18px;
		}

		ul{

		}
	}

	.slide-4{



		.twitter-section{
			margin-top: -100px;



			img{
				width: 100%;
				margin-bottom: 15px;
			}

			.follow-icon{
				background-color: $happii-pink;
				color: white;
				padding: 5px 15px;
				display: inline-block;
				border-radius: 5px;
			}
			.twitter-username{
				font-size: 14pt;
				color: #8E9193;
			}
			.bio-text{
				font-size: 12pt;
				color: #8D8D8D;
				margin-top: 15px;
			}
			.recent-tweets{

				.view-more-tweets-wrapper{
					width: 100%;
					position: relative;
					top: -34px;

					button{
						width: 150px;
						margin: auto;
						display: block;
						font-size: 12pt;
						border: none;
						background-color: rgba(112, 100, 129, 0.3) !important;
						padding: 1px;
						margin-bottom: 10px;
					}
				}

				#recentTweets{
					padding: 0 40px;
					overflow: scroll;
					height: 366px;


					ul{
						padding-left: 0;
						list-style: none;



						li{
							padding: 10px 0;
							color: #AAAAAA;
							border: 1px solid #95989A;
							margin-bottom: 15px;


							img{
								width: auto;
							}

							.interact{
								display: block;
							}
							a{
								color: #8E9193;
							}

							.user{
								a{
									span{
										font-size: 14pt;
										font-weight: 600;
										margin-left: 15px;

										&:last-child{
											font-weight: 400;
										}
									}
								}
							}

							.tweet{
								padding-left: 107px;
								font-size: 12pt;

								a{
									color: #2CA89F;
								}
							}
							.timePosted{
								padding-left: 107px;
								display: inline-block;
								font-size: 12pt;
							}
							.interact{
								display: inline-block;
								float: right;
								font-size: 12pt;

								a{
									padding: 0 5px;
								}
							}
						}

					}
				}
			}
		}

		.footer{
			width: 100%;
			background-color: #8E9190;
			position: absolute;
			bottom: 0;
			padding: 30px 15px;
			text-align: center;

			img{
				height: 60px;
				display: block;
				margin: 20px auto;
			}

			ul{
				display: inline-block;
				margin-bottom: 0;
				padding-left: 0;

				li {
					display: inline-block;
					margin: 0 10px;
					cursor: pointer;

					a {
						display: inline-block;
						padding: 0 5px;
						color: white;
						font-size: 10pt;
						font-weight: 400;

						&:hover{
							text-decoration: none;
						}

					}
				}
			}
		}
	}
}

.text-contents{

	margin: 100px 0;

	h1{
		color: $happii-pink;
		text-align: center;
		font-family: "cooper-black-std",serif;
		font-size: 26pt;
		line-height: 1.5;
		margin: 40px 0;
	}
	h3{
		color: $happii-pink;
		font-size: 18pt;
		margin: 30px 10px;
	}
	p{
		font-size: 14pt;
		color: #8D8D8D;
		font-weight: 400;
		margin: 15px 10px;
	}
	hr{
		margin: 40px 10px;
	}

	.columned-content{

			column-count: 2;
		p{
			margin: 0 10px 10px 10px;
		}

	}

	ol{
		color: #8D8D8D;

		li{
			font-size: 14pt;
		}
	}
	ul{
		color: #8D8D8D;
		li{
			font-size: 14pt;
		}
	}
	a{
		color: $happii-pink;
		li{
			font-size: 14pt;
		}
	}


	form {
		margin: 50px 0;

		input {

			display: inline-block;
			letter-spacing: 0.03em;
			line-height: 26pt;
			font-size: 12pt;
			padding: 3px 20px 0;
			border: 1px solid $happii-pink;
			height: 50px;
			margin-bottom: 15px;
			border-radius: 0;
			background-color: $happii-pink;
			width: 100%;
			color: white;
		}

		textarea{
			height: 250px;
			display: inline-block;
			letter-spacing: 0.03em;
			line-height: 26pt;
			font-size: 12pt;
			padding: 3px 20px 0;
			border: 1px solid $happii-pink;
			margin-bottom: 15px;
			border-radius: 0;
			background-color: $happii-pink;
			width: 100%;
			color: white;
		}

		.submit-btn {
			display: block;
			line-height: 26pt;
			font-size: 12pt;
			color: $happii-pink;
			text-transform: uppercase;
			letter-spacing: 2pt;
			background-color: transparent;
			border: 1px solid $happii-pink;
			height: 50px;
			width: 100%;

			&:hover {
				background-color: $happii-pink;
				color: white;
				text-decoration: none;
				border: 1px solid $happii-pink;

			}

		}

		::-webkit-input-placeholder {
			color: white;
		}

		:-moz-placeholder { /* Firefox 18- */
			color: white;
		}

		::-moz-placeholder { /* Firefox 19+ */
			color: white;
		}

		:-ms-input-placeholder {
			color: white;
		}

		input:focus {

			box-shadow: none;
			outline: none;
		}
		textarea:focus{
			box-shadow: none;
			outline: none;
		}
	}


}

.social-icons-contact{

	position: relative;
	width: 100%;
	margin: auto;
	display: inline-block;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	margin-bottom: 50px; //push the footer down

	button{
		width: 150px;
		height: 40px;
		color: $happii-pink;
		background-color: white;
		border-color: $happii-pink;
		border-style: solid;
		border-width: 1px;
		margin-right: 10px;
	}

	button:hover{
		background-color: $happii-pink;
		color: white;
	}

}

.footer{
	width: 100%;
	background-color: #8E9190;
	position: relative;
	bottom: 0;
	padding: 30px 15px;
	text-align: center;

	img{
		height: 60px;
		display: block;
		margin: 20px auto;
	}

	ul{
		display: inline-block;
		margin-bottom: 0;
		padding-left: 0;

		li {
			display: inline-block;
			margin: 0 10px;
			cursor: pointer;

			a {
				display: inline-block;
				padding: 0 5px;
				color: white;
				font-size: 10pt;
				font-weight: 400;

				&:hover{
					text-decoration: none;
				}

			}
		}
	}
}

.mobile-menu-list{

	a{
		display: inline-flex !important;
	}

	.mobile-menu-icon-wrapper{

		width: 30px;
		height: auto;
		margin-right: 25px;

		img{
			width: 100%;
			height: auto;
		}
	}
}


@import "media-queries";

@media #{$desktop} {

	.hide-desktop{
		display: none;
	}
}
@media #{$tablet} {


	.hide-tablet{
		display: none!important;
	}



	.text-contents{
		.columned-content{
			column-count: 1;
		}
	}

	.home-header{
		img{
			height: 60px;
			display: block;
			margin: 20px;
		}




		ul{
			margin-top: 25px;
			display: none;

			li{
				margin: 0 5px;

				a{
					font-size: 12pt;
				}

				&.register{
					float: right;


				}
				&.sign-in{
					float: right;

				}
			}
		}
	}

	.home-page{
		.slide-2{
			img{
				display: none;
			}
			.col-sm-12{
				padding: 0 70px;
			}
		}

		.slide-3{
			.card-flip{
				height: 150px;

				.front{
					img{
						height: 60px;
					}
				}
				.back{
					p{
						font-size: 10pt;
					}
				}
			}
		}
		.slide-4{
			.footer{
				ul{
					li{
						margin: 0 2px;
					}
				}
			}
		}
	}

}

@media #{$mobile} {

	.hide-mobile{
		display: none!important;
	}
	.text-contents{
		.columned-content{
			column-count: 1;
		}
	}

	.home-header {

		height: 52px;
		//background-color: white;

		img {
			height: 35px;
			display: block;
			margin: 10px;
		}
		.white-logo{
			display: none;
		}
		.blue-logo{
			display: block;
		}

		.mobile-menu{

			margin-top: 5px !important;

			a{
				//color: $happii-profile-blue;
			}
		}

	}
	.down-arrow{
		display: none;
	}
	.left-arrow{
		display: none;
	}
	.right-arrow{
		display: none;
	}
	.down-arrow-2{
		display: none;
	}

	.back-to-top-arrow{
		width: 30px;
		height: 30px;

		i{
			font-size: 13pt;
		}
	}

	.home-page{
		//padding-top: 80px;

		.fp-tableCell{
			height: auto !important;
		}

		.jssocials-share-link{
			width: 50px !important;
		}

		.slick-list{

		}

		.slider-arrows-home{

			position: absolute;
			width: 100%;
			z-index: 10;

			i{
				color: white;
				font-size: 18pt;
				position: absolute;
				top: 215px;
			}

			i:nth-child(1){
				left: 5px;
			}

			i:nth-child(2){
				right: 5px;
			}
		}

		.slick-dots li button{
			width: 8px !important;
			height: 8px !important;
		}

		.section{
			padding-top: 0px !important;
		}


		.slide-1{


			height: 100vh;

			h1{
				letter-spacing: 20px;
				font-size: 30pt;
				width: auto;
				margin: auto;
				margin-left: 5%;
			}

			button{
				width: 55%;
				font-size: 20px;
				padding: 10px;
			}

			.slick-dots{

				li{
					display: inline-block;
					padding: 0 5px;
					margin: 0;


					button{
						background-color: rgba(233, 121, 139, 0.3);
						border-radius: 100%;
						color: rgba(233, 121, 139, 0.3);
						font-size: 0;
						height: 12px;
						width: 12px;
						border: none;
						&:focus{
							outline: none;
						}
						&:before{
							color: transparent;
						}
					}
				}
				.slick-active{

					button{
						background-color: $happii-pink;
						color: $happii-pink;

					}
				}
			}

		}

		.slide-2{

			height: auto !important;

			img{
				display: none;
			}
			.col-sm-12{
				padding: 0 10px;
			}
			h3{
				font-size: 14pt;
				//background-color: rgba(233, 121, 139, 0.3);
				margin: 0;
				padding: 20px 0;
				padding-left: 25px;
				padding-right: 25px;

			}
			h4{
				font-weight: 800;
				color: #95989A;
				text-align: center;
				margin-top: 0px;
			}
			p{
				font-size: 12pt;
				line-height: 1;

				margin-bottom: 25px;
				text-align: center;

			}
			li{
				line-height: 1;
			}
			hr{
				margin: 15px auto;
			}

			.happii-home-list{

				transform: none;
			}
			.slick-slide{
				padding: 30px;
			}
			.slick-dots{

				bottom: 130px !important;
				li{
					display: inline-block;
					padding: 0 5px;
					margin: 0;


					button{
						background-color: rgba(233, 121, 139, 0.3);
						border-radius: 100%;
						color: rgba(233, 121, 139, 0.3);
						font-size: 0;
						height: 12px;
						width: 12px;
						border: none;
						&:focus{
							outline: none;
						}
						&:before{
							color: transparent;
						}
					}
				}
				.slick-active{

					button{
						background-color: $happii-pink;
						color: $happii-pink;

					}
				}
			}

			.slide-2-mob-text{
				padding: 20px;
			}

		}
		.slide-2-right{

			height: auto !important;

			h3{
				font-size: 12pt;
				//background-color: rgba(112, 100, 129, 0.3)!important;
				margin: 0;
				padding: 15px 0;
				padding-top: 0px;
				text-align: center;
				color: #58728D;
			}

			p{
				text-align: center;
				color: #95989A;
			}

			.jssocials-shares{
				text-align: center;

				.jssocials-share{

					a{
						left: 0px;
					}
				}
			}

			.mac-mob-img{
				width: 100%;
				height: auto;

				img{
					width: 100%;
					height: auto;
				}
			}

			.slide-2-right-mob-text{

				padding: 20px;

				p{
					margin-bottom: 25px;
				}
			}

			.slick-dots{
				li{
					line-height: 1;
					button{
						background-color: rgba(112, 100, 129, 0.3);
						color: rgba(112, 100, 129, 0.3);
					}
				}
				.slick-active{
					button{
						background-color: #95989A;
						color: #95989A;
					}
				}
			}

			.slick-slide{
				padding: 15px;
				padding-top: 5px;
				padding-bottom: 0px;
			}
			.slick-dots{


				li{
					display: inline-block;
					padding: 0 5px;
					margin: 0;


					button{
						background-color: rgba(233, 121, 139, 0.3);
						border-radius: 100%;
						color: rgba(233, 121, 139, 0.3);
						font-size: 0;
						height: 12px;
						width: 12px;
						border: none;
						&:focus{
							outline: none;
						}
						&:before{
							color: transparent;
						}
					}
				}
				.slick-active{

					button{
						background-color: $happii-pink;
						color: $happii-pink;

					}
				}
			}

		}
		.slide-3{

			height: auto !important;

			P{
				padding-left: 5px;
				padding-right: 5px;
			}

			.card-flip{
				height: 150px;
				.front{
					img{
						height: 50px;
					}
					h4{
						font-size: 12pt;
					}
				}
				.back{
					p{
						font-size: 8pt;
					}
				}
			}

			ul{
				padding: 15px 15px 50px 15px;
				height: 400px;
			}

			h3{
				font-size: 12pt;
				background-color: white !important;
				margin: -15px;
				padding: 20px 0;
				text-align: center;
				//font-family: cooper-black-std,serif;
				color: #58728D;
			}
			h4{
				text-transform: uppercase;
				color: white;
				text-align: center;
				font-weight: 700;
				font-size: 16pt;
			}
			p{
				font-weight: 400;
				text-align: center;
				color: white;
			}
			img{
				margin: 75px auto 30px auto;
				height: 70px;
			}

			.slick-dotted.slick-slider {
				margin-bottom: -10px;
			}

			.slick-list{
				height: auto !important;
			}

			.slick-dots{

				bottom: -325px !important;
				li{
					display: inline-block;
					padding: 0 5px;
					margin: 0;


					button{
						background-color: rgba(225, 225, 225, 0.8);
						color: rgba(225, 225, 225, 0.8);
						border-radius: 100%;
						font-size: 0;
						height: 12px;
						width: 12px;
						border: none;
						&:focus{
							outline: none;
						}
						&:before{
							color: transparent;
						}
					}
				}
				.slick-active{

					button{
						background-color: white;
						color: white;

					}
				}
			}
		}
		.slide-4{

			#recentTweetsMob{
				height: 519px;
				overflow-y: scroll;
				width: 100%;
			}

			#twitter-widget-0{
				margin-top: -35px !important;
			}

			.twitter-section{
				margin-top: 0;

				.tweets-mobile-content{
					margin-bottom: 25px;
					height: 135px;
				}

				h3{
					//background-color: rgba(112, 100, 129, 0.3)!important;
					margin: 0;
					padding: 20px 0;
					text-align: center;
					font-size: 16pt;
					//font-family: cooper-black-std,serif;
					color: #58728D;
				}

				.recent-tweets{


					#recentTweets{
						padding: 30px;

						ul{
							li{

								padding: 15px;

								.user{

									a{
										span{
											margin-left: 0;
											font-size: 12pt;
											font-weight: 600;
											img{
												display: none;
											}
										}
									}
								}
								.tweet{
									padding-left: 0;

								}
								.timePosted{
									padding-left: 0;

								}

								.interact{
									position: relative;
									top: -8px;
								}

							}
						}
					}
				}
			}
			.footer{
				//padding: 15px 10px;
				position: relative;
				height: auto;

				img{
					margin: 5px auto;
				}



				ul{
					li{
						width: 100%;
						margin: 0;
						text-align: left;
						a{
							.fa-facebook{
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}

	}
}

@media #{$tablet-landscape} {

	#myMenu{
		display: block!important;
	}
	.mobile-menu{
		display: none!important;
	}

	.home-header{
		height: 100px;

		img{
			height: 60px;
			display: block;
			margin: 20px;
		}

		ul{
			margin-top: 30px;
			display: block!important;

			li{
				margin: 0 5px;

				a{
					font-size: 12pt;
				}

				&.register{
					float: none;


				}
				&.sign-in{
					float: none;

				}
			}
		}
	}

	.home-page{
		.slide-2{
			img{
				display: block;
			}
			.col-sm-12{
				padding: 0;
			}
			h3{
				font-size: 12pt;
			}
			p{
				font-size: 11pt;
			}

			.slide-2-right{
				h3{
					font-size: 18pt;
				}

			}
		}

		.slide-3{
			.card-flip{
				height: 170px;

				.front{
					img{
						height: 70px;
					}
				}
				.back{
					p{
						font-size: 10pt;
					}
				}
			}
		}
	}

}

@media #{$mobile-landscape} {
	.text-contents{
		.columned-content{
			column-count: 1;
		}
	}

}


.jssocials-shares{

	font-size: 8pt;

	.jssocials-share{
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: transparent;

		a{
			background-color: transparent !important;
			width: 120px;
			padding: 10px;
			position: relative;
			left: -5px;
		}

		.jssocials-share-label{
			margin-left: 10px;
		}
	}

	.jssocials-share-facebook{

		background-color: #537CBE;
	}

	.jssocials-share-twitter{
		background-color: #77CDF0;
	}

	.jssocials-share-email{
		background-color: #959595;
	}
}