

$tablet: "(min-width: 765px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";
$mobile: "(min-width: 300px) and (max-width: 764px)";


$tablet-landscape: "(min-width: 765px) and (max-width: 1025px) and (orientation: landscape)";
$mobile-landscape: "(min-width: 300px) and (max-width: 764px) and (orientation: landscape)";

@media #{$tablet} {

	.button_container {
		display: block;
	}
		.builder-dot-single{
		padding-left: 0;
		padding-right: 6px;

	}
	.slick-arrow{
		display: none!important;
	}
	#profile-page-edit-wrapper{

		.edit-section-wrapper{
			button{
				padding-left: 10px !important;
				padding-right: 10px !important;

				i{
					margin-left: 0px !important;
				}
			}
		}

		.profile-route-content{
			margin-left: 0;
		}
		.profile-sidebar-wrapper{
			width: 0;
			z-index: 999;
			overflow: hidden;
		}
		.looking-for-edit-section-wrapper{
			margin: 50px 15px 0 15px;
		}
		.profile-page-description{

			margin: 25px 15px;
			width: auto;
		}
		.profile-theme-icons-wrapper{
			.color-choose-wrapper{

				p{
					font-size: 10pt;
				}
			}
			.update-photo-wrapper{
				ul{
					padding-left: 0;
				}
			}
		}
	}
	.profile-page-wrapper{
		header{
			.header-search-section{
				.keyword-search-wrapper{
					input{
						width: 250px;
					}
				}
			}
		}
		.profile-page-content{


			.profile-cover-photo-wrapper{
				height: 200px;
				.cover-photo-single{
					height: 200px;
				}
			}
			.profile-image-main{
				.profile-icon{
					.profile-icon-image{
						width: 150px;
						height: 160px;
					}
					.profile-icon-semi-circle{
						width: 220px;
					}
				}
			}
			.profile-centered-content{
				width: 100%;

				.profile-action-icons-wrapper{
					.profile-action-icons{
						.action-icon{
							width: 25px;
							margin: 20px;
						}
					}
				}
				.profile-travel-map-section{
					margin: 40px 15px;
				}
				.profile-page-sliding-icon-content-wrapper{
					margin: 60px 15px;
					width: auto;
					.sliding-icon-slider-wrapper{
						.sliding-icon-slider{
							.love-icon-single{
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
		footer{
			.footer-content{
				ul{
					padding-left: 0;
					li{
						padding-right: 7px;
						padding-left: 0;
					}

				}
			}
		}
	}
	.builder-wrapper{
		.builder-questions-wrapper{
			.profile-description-builder-wrapper{
				width: auto;
				.profile-description-input-section{
					.text-area-wrapper{
						width: auto;
						padding: 40px 40px 100px 40px;
						margin: 30px;
					}
				}
			}


			.image-section-wrapper{
				.image-section-intro-wrapper{
					margin: 100px auto auto;
				}
				.image-section-profile-photo-wrapper{
					margin: auto;
					width: auto;

					.profile-photo-content-wrapper{
						height: auto;
						margin: 15px;

						.photo-upload-btns-wrapper{
							float: none;
							margin-bottom: 25px;
						}
					}
				}
			}
			.profile-description-builder-wrapper{
				width: 100%;
				margin: 0;
				padding: 16px;

				.profile-description-input-section{
					.text-area-wrapper{
						width: auto;
					}
				}
			}
			.builder-basic-stats-wrapper{
				width: auto;
				margin: 15px;
				padding: 15px 0 50px 0;

				.location-from-wrapper{
					.location-from-input-wrapper{
						input{
							width: 90%;
						}
					}
				}
				.basic-stats-question{
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}
			.builder-interests-wrapper{
				.interests-content-wrapper{
					.checkbox-input-wrapper{
						.checkbox-5-column-wrapper{
							margin-left: 0;
						}
					}
				}
				.next-step-btn-wrapper{
					position: relative;
					margin: auto;
					padding-bottom: 15px;
				}
				.interest-favourite-wrapper{
					width: auto!important;
					margin: 15px!important;

					.favourite-input-wrapper{
						p{
							padding: 15px!important;
						}
						input{
							width: 200px!important;
						}
					}
					.favourite-list-wrapper{
						ul{
							li{
								label{
									width: 80%!important;
								}
							}
						}
					}
				}
			}
			.builder-travel-wrapper{
				.travel-content-wrapper{
					width: auto;

					.travel-sub-title{
						width: auto;
						padding: 0 10px;
					}
					.places-set-wrapper{
						margin: 15px;
						.travel-icon-wrapper{
							padding-top: 50px;
						}
					}
					.places-describe-wrapper{
						.places-describe-wrapper-content{
							height: auto;
							padding: 30px;

							.travel-upload-photo-wrapper{
								.happii-btn{
									width: 100%!important;

								}
							}
						}
					}
				}
				.next-step-btn-wrapper{
					position: relative;
					margin: auto;
					padding: 15px 0;
				}
			}

			.builder-partner-wrapper{
				width: auto;
				.builder-partner-title{
					p{
						width: auto;
					}
				}
				.partner-question{
					.partner-stats-contents{
						.gender-content-wrapper{
							padding: 0 20px 20px;
						}
						.age-range-content-wrapper{
							.age-range-slider-wrapper{
								width: auto;
							}
						}
						.location-content-wrapper{
							.location-input-wrapper{
								input{
									width: 250px;
								}
							}
							.location-slider-wrapper{
								width: 100%;
								left: 0;
							}
						}
						.height-content-wrapper{
							.height-slider-wrapper{
								width: auto;
							}
						}
					}
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}

			.partner-interests-wrapper{
				.interests-content-wrapper{
					.checkbox-input-wrapper{
						.checkbox-5-column-wrapper{
							margin-left: 0;
						}
					}
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}

			.question-complete-wrapper{
				.complete-content-wrapper{
					width: auto;
					padding: 50px 0;
					margin: 0;
				}
			}


		}
	}

	.header-icon-section{
		float: none !important;

		.single-icon{
			margin-left: 10px !important;
		}
	}

	#mobile-profile-menu{

		span{
			background-color: white !important;
		}
	}

	.profile-theme-icons-wrapper{
		height: 55px !important;
		margin-top: 35px !important;

		.update-photo-wrapper{
			ul{
				li{
					margin-right: 0px !important;
				}
			}
		}
	}

	.profile-photo-gallery-wrapper{

		padding-top: 35px !important;

		.upload-profile-image-wrapper{
			margin: auto !important;
			margin-top: 25px !important;
		}

		.upload-profile-cover-image-wrapper{
			margin-top: 35px !important;
		}
	}

	#profile-page-view{
		.profile-action-icons-wrapper{
			.profile-action-icons{
				p{
					font-size: 9pt !important;
				}
			}
		}

		.profile-page-sliding-icon-content-wrapper{
			//margin-top: 0px !important;
		}
	}
}

@media #{$desktop} {

}

@media #{$mobile} {

	.button_container {
		display: block;
	}

	.route-questions-wrapper{
		margin: 30px auto auto;
	}


	.slick-arrow{
		display: none!important;
	}
	.image-upload-directive-wrapper{
		#image-upload-modal{
			.modal-dialog{
				width: auto;

				.image-button-content{
					position: relative;
					left: -10px;
				}
			}
		}
	}

	.image-edit-directive-wrapper{
		padding: 15px;
		.image-crop-content{
			width: auto;
			height: auto;
		}
	}

	.travel-edit-wrapper{
		#travel-edit-modal{
			.modal-dialog{
				.modal-content{
					height: auto;
					.travel-content-wrapper{
						width: auto;
						.travel-title{
							margin-bottom: 0;
						}
						.travel-sub-title{
							width: auto;
							margin: auto;
							p{
								font-size: 12pt;
							}
						}
						.places-set-wrapper{
							#places-set-wrapper-content{
								padding: 15px;
							}
							.travel-icon-wrapper{
								margin-bottom: 0;
							}
							.travel-places-been-wrapper{
								p{
									margin-bottom: 5px;
								}
							}
						}
						.travel-input-wrapper{
							hr{
								display: none;
							}
						}
					}
				}
			}
		}
		#travel-edit-describe-modal{
			.modal-dialog{
				.modal-content{
					.travel-content-wrapper{
						width: auto;
						.travel-title{
							margin: auto;
						}
						.travel-sub-title{
							width: auto;
							margin: auto;
						}
						.places-describe-wrapper{

							.places-describe-tab-names{
								height: auto;
								p{
									line-height: 1.3;
								}
							}
							.places-describe-wrapper-content{
								padding: 15px;
								height: auto;

								textarea{
									height: 100px;
								}

								.travel-upload-photo-wrapper{
									.dz-clickable{
										display: inline-block;
										width: 49%;


										.happii-btn{
											width: 120px!important;
											margin: auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


	#profile-page-edit-wrapper{
		.profile-route-content{
			margin-left: 0;
		}
		.profile-sidebar-wrapper{
			width: 0;
			z-index: 999;
			overflow: hidden;
		}
		.looking-for-edit-section-wrapper{
			background-color: white;
			border: none;
			margin: 50px 15px 0 15px;
		}
		.profile-page-description{
			background-color: white;
			border: none;
			margin: 25px 15px;
			width: auto;
			margin-top: 50px;
		}
		.profile-theme-icons-wrapper{
			padding: 15px;
			background-color: white;
			border: none;
			margin: 15px;
			margin-top: 0px;

			.color-choose-wrapper{
				display: block;
				position: relative;

				ul{
					margin-left: 0px;
				}
				p{
					font-size: 10pt;
				}
			}
			.update-photo-wrapper{
				display: none;
				position: relative;
				ul{
					padding-left: 0;

					li{
						margin-left: -10px;
						padding-bottom: 5px;

						.rectangle{
							width: 15px;
						}
					}
				}
			}
		}
		.icon-slider-edit-mode-wrapper{
			padding: 0 5px 25px 15px;
		}
	}
	.profile-page-wrapper{
		header{
			.header-search-section{
				display: none;
				.keyword-search-wrapper{
					input{
						width: 150px;
					}
				}
			}
			.header-icon-section{


				.icon-wrapper{
					.single-icon{
						margin-left: 15px;
					}
				}
			}
		}
		.profile-page-content{

			margin: 0px;
			padding: 0px;
			background-color: #F0F0F0;

			.profile-cover-photo-wrapper{
				height: 200px;
				.cover-photo-single{
					height: 200px;

					img{
						height: 200px;
					}
				}
			}
			.profile-images-quotes-wrapper{
				display: none;
			}
			.profile-image-main{

				top: 70px;
				margin-top: -145px;

				.profile-icon{
					width: 70%;
					.profile-icon-image{
						width: 150px;
						height: 150px;

						img{
							border-width: 5px;
							border-color: white;
						}
					}
					.profile-icon-semi-circle{
						display: none;
						width: 160px;
					}
				}
			}
			.profile-centered-content{
				width: 100%;

				.profile-action-icons-wrapper{
					.profile-action-icons{
						.action-icon-wrapper{
							margin: 0 5px;
							.action-icon{
								width: 25px;
								margin: 15px auto;
							}
						}
					}
					hr{
						display: none;
					}
				}
				.profile-traits-section{
					height: auto;
					.tab-personality-wrapper{
						margin: 15px 0;
					}
				}
				.profile-favourite-list-section{
					height: auto;
					margin-top: 30px;
					.favourite-list-wrapper{
						background-color: white;
						border: none;
						margin: 15px 0 30px 0;;
						height: auto;
					}
				}
				.profile-manage-buttons-section{
					height: auto;
					.profile-manage-btn{
						margin: 15px 0;
					}
				}
				.profile-travel-map-section{
					background-color: white;
					border: none;

					margin: 40px 15px;
					height: auto;
					margin-bottom: 0px;
					.profile-travel-map-content{
						height: 250px;
						padding: 15px;
						.travel-map-key{

							display: none;
							.places-title-wrapper{
								p{
									margin-left: 5px;
								}
								.places-title-pin{
									width: 15px;
								}
							}
						}
					}

					.travel-map-mobile-content-wrapper{
						display: block;

						.places-mobile-single{
							padding: 10px;

							.places-title-pin{
								display: inline-flex;

								p{
									position: absolute;
									left: 50px;
								}
							}

							hr{
								margin: auto;
								margin-top: 5px;
								margin-bottom: 10px;
								width: 97%;
								border-color: #95989A;
							}

							.places-mobile-blocks-wrapper{

								padding: 10px;
								width: 100%;
								height: 100px;

								.places-mobile-block-single{
									padding: 5px;
									height: 30px;
									text-align: center;
									background-color: #F0F0F0;
								}
							}
						}
					}
				}
				.profile-page-sliding-icon-content-wrapper{
					margin: 40px 15px;
					width: auto;
					background-color: white;
					border: none;

					.sliding-icon-slider-wrapper{
						.sliding-icon-slider{
							.love-icon-single{
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
		footer{
			.footer-content{
				ul{
					padding-left: 0;
					margin-left: -72px;
					font-size: 12pt;
					line-height: 1.5;
					li{
						padding-right: 7px;
						padding-left: 0;
						a{
							display: none;
						}
					}

				}
			}
		}
	}

	.map-pop-up-wrapper{
		#map-modal{

			.modal-dialog{

				.modal-content{

					.map-pop-up-content-wrapper{

						.map-place-details-wrapper{
							padding: 15px;
							.pin-icon{
								margin: auto;
							}
							//margin-bottom: 100px!important;
							p{
								height: auto!important;
							}

							.map-place-description{
								margin: 0px;
								height: 75px;
								overflow-y: scroll;
							}

							.map-place-title{
								margin: 0px;
							}
						}
						.map-place-slider-wrapper{
							.map-place-main-img{
								height: 200px!important;

								img{
									transform: translate(0, 0%);
								}
							}
						}
						.map-place-details-wrapper{
							.map-back-to-wrapper{
								p{
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.register-section-wrapper{

		.register-questions-wrapper{
			//margin: auto auto 30px auto;


			.register-question-title{
				font-size: 22pt;
			}
			.register-dob-wrapper{
				.register-dob-options-wrapper{
					margin-bottom: 25px;
				}
			}
			.register-location-wrapper{
				.register-location-input-wrapper{
					input{
						width: 100%;
					}
				}
			}
			.register-personal-details-wrapper{
				.register-personal-details-input-wrapper{
					.personal-details-input{
						input{
							width: 96%;
						}
						.progress{
							width: auto;
						}
					}
				}
			}

			.register-gender-wrapper{
				.register-man-woman-icon-wrapper{
					.gender-icon-wrapper{
						.gender-icon-img{
							height: auto !important;
						}
					}
				}
			}
		}
		.next-step-btn-wrapper{
			position: relative;
			margin: auto;
			padding: 15px 0;
		}
	}

	.sign-in-page-wrapper{
		header{

			.happii-logo-wrapper{
				width: 140px !important;
				height: 50px !important;
				margin: 0 auto;
			}
		}

	}



	.builder-welcome-page-wrapper{
		.builder-welcome-content{
			margin-top: 120px !important;

			.welcome-title{
				margin-top: 15px;
				p{
					font-size: 22pt;
				}
			}
			.welcome-text{
				p{
					font-size: 14pt;
				}
			}
			.welcome-lets-go-btn-wrapper{

				padding-bottom: 15px;
			}
		}
	}
	.builder-dot-single{
		i{
			padding-right: 15px;
		}
	}
	.builder-wrapper{
		height: 100vh;

		.builder-questions-wrapper{
			.builder-question-dots{
				margin-top: 0;

				.builder-dot-single{
					padding-left: 0;
					padding-right: 0;
					i{
						padding-right: 7px;
					}
				}
			}
			.image-section-wrapper{
				.image-section-intro-wrapper{
					margin: 100px auto auto;
					.intro-content{
						p{
							font-size: 16pt!important;
						}
					}
					.image-section-navigation{

					}
				}
				.image-section-profile-gallery-wrapper{
					.profile-gallery-content-wrapper{
						.photo-upload-display-wrapper{
							margin: 10px auto;
							width: 110px;
							height: 110px;
							i{
								font-size: 40pt;
								margin: 25px auto auto;
							}
						}
						.photo-gallery-images{
							margin-top: 30px;
						}
					}
				}
				.image-section-profile-photo-wrapper{
					margin: auto;
					width: auto;

					.profile-photo-content-wrapper{
						height: auto;
						margin: 15px;

						.photo-upload-btns-wrapper{
							float: none;
							margin-bottom: 25px;
						}
					}
				}
				.image-section-title{
					p{
						font-size: 16pt;
					}
				}
			}
			.profile-description-builder-wrapper{
				width: 100%;
				margin: 0;
				padding: 16px;

				.profile-description-top-text-wrapper{
					p:nth-child(1){
						font-size: 18pt;
					}
				}
				.profile-description-input-section{
					.text-area-wrapper{
						width: auto;
					}
				}
			}
			.builder-basic-stats-wrapper{
				width: auto;
				margin: 15px;
				padding: 15px 0 50px 0;
				.basic-stats-main-title{
					p{
						font-size: 18pt;
					}
				}
				.location-from-wrapper{
					.location-from-input-wrapper{
						input{
							width: 90%;
						}
					}
				}
				.basic-stats-question{
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}
			.builder-interests-wrapper{
				.interests-content-wrapper{
					.interests-title{
						p{
							font-size: 18pt;
						}
					}
					.checkbox-input-wrapper{
						.checkbox-5-column-wrapper{
							margin-left: 0;
						}
					}
				}
				.next-step-btn-wrapper{
					position: relative;
					margin: auto;
					padding-bottom: 15px;
				}
				.interest-favourite-wrapper{
					width: auto!important;
					margin: 15px!important;

					.favourite-input-wrapper{
						p{
							padding: 15px!important;
						}
						input{
							//width: 200px!important;
						}
					}
					.favourite-list-wrapper{

						background-color: white;
						border: none;

						ul{
							li{
								label{
									width: 80%!important;
								}
							}
						}
					}
				}
			}
			.builder-travel-wrapper{
				.travel-content-wrapper{
					width: auto;

					.travel-sub-title{
						width: auto;
						padding: 0 10px;
					}
					.places-set-wrapper{
						.travel-icon-wrapper{
							padding-top: 50px;
						}
					}
					.places-describe-wrapper{
						.places-describe-wrapper-content{
							height: auto;
							padding: 30px;

							.travel-upload-photo-wrapper{
								.happii-btn{
									width: 100%!important;

								}
							}
						}
					}
				}
				.next-step-btn-wrapper{
					position: relative;
					margin: auto;
					padding: 15px 0;
				}
			}

			.builder-partner-wrapper{
					width: auto;
				.builder-partner-title{
					p{
						width: auto;
					}
				}
				.partner-question{
					.partner-stats-contents{
						.gender-content-wrapper{
							padding: 0 20px 20px;
						}
						.age-range-content-wrapper{
							.age-range-slider-wrapper{
								width: auto;
							}
						}
						.location-content-wrapper{
							.location-input-wrapper{
								input{
									width: 250px;
								}
							}
							.location-slider-wrapper{
								width: 100%;
								left: 0;
							}
						}
						.height-content-wrapper{
							.height-slider-wrapper{
								width: auto;
							}
						}
					}
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}

			.partner-interests-wrapper{
				.interests-content-wrapper{
					.checkbox-input-wrapper{
						.checkbox-5-column-wrapper{
							margin-left: 0;
						}
					}
					.next-step-btn-wrapper{
						position: relative;
						margin: auto;
						padding-bottom: 15px;
					}
				}
			}

			.question-complete-wrapper{
				.complete-content-wrapper{
					width: auto;
					padding: 50px 0;
					margin: 0;
				}
			}

		}
	}

	.profile-page-wrapper{
		.header-icon-section{
			.profile-icon-wrapper{
				display: none !important;
			}

			.single-icon{
				position: relative;
				left: 0px;
			}
		}

		.happii-logo-wrapper{
			display: none !important;
		}
	}

	#mobile-profile-menu{

		left: 15px;
		span{
			background-color: white;
		}

	}

	#looking-for-modal{
		.modal-dialog{
			width: 95% !important;

			.directive-fancy-checkbox{
				.checkbox{
					left: 0px;
				}
			}

			.checkbox-data-single{
				//width: 50px;
				//height: 50px;
			}
		}
	}

	#modal-feature-soon{

		.modal-dialog{
			transform: translate(0%, 70%) !important;

			.modal-header{
				height: 200px !important;
			}
		}
	}

	#your-profile-mobile-text{
		display: block !important;
	}

	.pings-page-wrapper, .diary-page-wrapper, .messages-page-wrapper, .search-page-wrapper{

		margin: 0px !important;
	}

	.profile-photo-gallery-wrapper{

		padding: 5px !important;
		margin-top: 120px !important;

		.upload-profile-image-wrapper{
			margin: auto;
			margin-bottom: 40px;
		}
	}

	.video-gallery-wrapper{
		.upload-video-single-wrapper{
			margin-bottom: 25px;
			text-align: center;
		}

		.import-from-desktop{
			display: none;
		}

		.import-from-single-img-mobile{
			display: block !important;
		}

		.video-import-from{
			height: auto !important;

			p{
				margin: 0px;
			}
		}
	}

	.api-results-wrapper{

		.api-result-image-wrapper{
			height: auto !important;
		}
	}

	#profile-page-edit-wrapper{
		height: auto !important;
		.profile-photo-gallery-wrapper{
			height: auto !important;
		}
	}

	//Standard input question styling
	.question-type-input-wrapper{

		.input-single{
			margin: auto;

		}
	}

	.builder-question-dots{
		display: none;
	}

	header{
		.happii-logo-wrapper{
			width: 100px !important;
			height: 80px !important;
		}

		.happii-btn-empty{
			margin-top: 0px !important;
			width: 100px !important;
		}
	}

	.builder-partner-title, .interests-title{
		p{
			padding: 5px;
			font-size: 19pt !important;
		}
	}

	.navigation-wrapper-abs{
		left: 25% !important;
	}

	.navigation-wrapper{
		text-align: center;
		width: auto !important;
	}

	.interests-input-single{
		label{
			padding-left: 24px !important;
			right: 12px !important;
		}
	}

	.interests-content-wrapper{

		margin-left: 20px;

		.checkbox-input-wrapper{
			padding: 5px !important;
			margin: auto;
			text-align: left;
		}
	}

	.favourite-input{
		margin: auto;
		display: block !important;

		input{
			width: 90% !important;
			margin: auto !important;
		}
	}

	.favourite-list-wrapper{
		ul{
			padding-left: 0px !important;
			margin: auto !important;
			display: block !important;
			text-align: center !important;

			li{
				label{
					overflow: hidden;
					text-indent: 0px !important;
				}

				i{
					position: absolute !important;
					left: 12px !important;
					top: 10px !important;
				}
			}
		}
	}

	.favourite-input-wrapper{
		.api-results-wrapper{
			z-index: 10;
			width: 86% !important;

			.api-result-single{

			}
		}
	}

	.travel-item-delay, .favourite-item-delay{
		overflow: hidden;
	}

	.dob-input-wrapper{
		select{
			width: 90% !important;
		}
	}

	.register-section-wrapper{
		.next-step-btn-wrapper{
			button{
				width: 150px !important;
			}
		}
	}

	.image-section-wrapper{
		.photo-confirmation-wrapper{
			width: auto !important;
		}

		.outro-page-wrapper{
			margin-top: 70px !important;
		}
	}

	.places-describe-tab-names{
		height: 120px !important;
	}

	.travel-upload-photo-wrapper{
		.social-btn{
			width: 100% !important;
		}

		.happii-btn{
			i{
				display: none;
			}
		}
	}

	#profile-page-view{
		.sliding-icon-slider{
			margin-top: 35px !important;
		}

		.sliding-icon-wrapper{
			width: 47px;
			height: 48px;
			padding: 9px;
		}
	}

	.sign-in-content-wrapper{
		margin-top: 55px !important;
	}

	.directive-fade-background {
		.image-wrap {

			.image-front, .image-back {
				background-position: center;
			}
		}
	}

	#footer-contact{
		display: none;
	}

}

@media #{$tablet-landscape} {

	.register-section-wrapper{
		height: 130vh;

		.home-header{
			position: absolute;
		}
	}

	.builder-wrapper{
		.builder-questions-wrapper{

			.interests-content-wrapper{
				.checkbox-input-wrapper{
						padding: 0px !important;
						position: relative;
						left: -65px;
				}
			}

			.interests-input-single{
				//height: 10px;

				input{
					display: none;
				}

				label{
					height: 40px;
					overflow: hidden;
				}
			}
		}
	}
}

@media #{$mobile-landscape} {

}