#mobile-full-menu{
	background-color: rgba(88,114,141, 0.9);
	color: white;
	text-align: center;

	.mobile-bottom-bar{
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 40px;
		background-color: white;
		color: #95989A;
		line-height: 2.5;

		a{
			color: #95989A;
			padding: 0px;
			font-size: 10pt;
		}
	}

	.mobile-top-bar{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 50px;

		.happii-mobile-menu-logo{

			margin-top: 10px;

			img{
				width: 115px;
				height: auto;
			}
		}
	}

	.mobile-menu-middle-content{
		margin-top: 60px;
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidenav .closebtn {

	position: absolute;
	top: -15px;
	right: 10px;
	font-size: 60px;
	margin-left: 50px;
	font-weight: bold;

}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}