#profile-page-edit-wrapper{

	.edit-section-wrapper{

		z-index: 10;
		bottom: 30px;
		position: relative;
		text-align: center;

		button{
			border : none;
			background-color: $happii-profile-blue;
			color: white;
			padding: 10px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 5px;

			i{
				margin-left: 10px;
			}
		}
	}

	.profile-route-content{

		margin-left: 200px;
	}

	//The profile sidebar
	.profile-sidebar-wrapper{

		width: 200px;
		height: 100vh;
		position: fixed;
		background-color: $happii-profile-blue;
		top: 75px;

		.sidebar-links{

			position: relative;
			margin-top: 20px;
			width: 200px;

			.features-coming-soon-wrapper{

				p{
					color: white;
					margin-left: 25px;
				}

				ul{
					opacity: 0.4;
				}
			}

			ul{
				color: white;
				list-style: none;
				padding: 0;
				width: 100%;
				//margin-left: 25px;

				li{
					margin-top: 5px;
					margin-bottom: 5px;
					width: 100%;

					.sidebar-item-single{
						display: inline-flex;
						margin-left: 25px;
						line-height: 2;
						margin-top: 5px;
						cursor: pointer;

						p{
							line-height: 2;
						}

						.sidebar-icon-wrapper{

							width: 20px;
							height: auto;
							margin-right: 20px;

							img{
								width: 100%;
								height: auto;
							}
						}
					}


				}
			}
		}
	}

	.profile-theme-icons-wrapper{

		height: 100px;

		.color-choose-wrapper{

			display: inline-flex;
			position: absolute;
			left: -15px;

			p{
				font-size: 12pt;
				color: $happii-profile-teal
			}

			ul{
				list-style: none;
				padding: 0px;
				margin-left: 10px;
				line-height: 2;

				li{

					display: inline-block;
					margin-left: 5px;
					margin-right: 5px;

					.color-circle{
						width: 15px;
						height: 15px;
						border-style: solid;
						border-width: 1px;
						border-radius: 10px;
						border-color: transparent;
					}
				}
			}
		}

		.update-photo-wrapper{

			display: inline-flex;
			position: absolute;
			right: 0px;
			cursor: pointer;

			ul{

				li{
					display: inline-flex;
					margin-right: 15px;
					color: $happii-profile-teal;

					.circle{
						width: 15px;
						height: 15px;
						border-style: solid;
						border-width: 1px;
						border-radius: 10px;
						border-color: transparent;
						background-color: darkgrey;
						margin-right: 15px;
						position: relative;
						top: 3px;
					}

					.rectangle{
						width: 25px;
						height: 15px;
						border-style: solid;
						border-width: 1px;
						border-color: transparent;
						background-color: darkgrey;
						margin-right: 15px;
						position: relative;
						top: 3px;
					}
				}
				}
			}

	}

	.profile-page-description{
	//	border-style: solid;
	//	border-width: 1px;
	//	border-color: $happii-profile-grey;
		height: auto;
		padding: 25px;
		padding-top: 10px;

		textarea{
			width: 100%;
			height: 100px;
			border: none;
			font-size: 16pt;
			color: darkgrey;
		}
	}

	.icon-slider-edit-larger{
		height: auto;
	}

	.edit-add-wrapper{

		input{
			width: 100%;
			height: 30px;
			text-indent: 20px;
		}

		button{
			border : none;
			width: 100%;
			height: 30px;
			color: white;
			background-color: darkgrey;
		}

		i{
			font-size: 18pt;
			position: relative;
			top: 10px;
			left: 12px;
			//border: solid white 1px;
			height: 32px;
			width: 25px;
			color: grey;
		}

		.api-results-wrapper{

			width: 100%;
			position: relative;
			background-color: white;
			color: #23527c;
			border: 1px solid #408698;
			left: 25px;
			margin-top: 10px;

			.api-result-single{

				width: 100%;
				position: relative;
				padding: 5px;
				background-color: #eaeaea;

				p{
					width: 100%;
					position: relative;
					margin: 0px;
				}

				.api-result-image-wrapper{

					width: 35px;

					img{
						width: 100%;
						height: auto;
					}
				}
			}

			.api-result-single:nth-child(2n){
				background-color: white;
			}


		}
	}

	.icon-slider-edit-mode-wrapper{

		padding: 25px;
		padding-top: 0px;
		bottom: 35px;
		padding-left: 70px;
		position: relative;

		.directive-fancy-checkbox{

			.checkbox{
				background-color: darkgrey;
			}

			label{
				z-index: 10;
				width: 200px;
				left: -4px;
				position: relative;

				input{
					margin-right: 20px;
					visibility: hidden;
				}
			}
		}
	}


	//The looking for edit section
	.looking-for-edit-section-wrapper{

		position: relative;
		margin-top: 50px;
	//	border-style: solid;
		//border-width: 1px;
		//border-color: darkgrey;

		.looking-for-edit-content{

			padding: 20px;
			padding-top: 0px;

			p{
				text-align: center;
				margin-bottom: 25px;
			}

			.looking-for-edit-icon{

				width: 100px;
				height: auto;
				margin: auto;

				img{
					width: 100%;
					height: auto;
				}
			}

			.looking-for-edit-icon-title{

				margin-top: 25px;

				p{
					text-align: center;
				}
			}
		}

		.slick-prev{
			left: 50px;
			color: white;
			z-index: 20;
			background-color: black;
		}

		.slick-next{
			right: 40px;
			color: white;
			z-index: 20;
			background-color: black;
		}

		.looking-for-modal-wrapper{

			#looking-for-modal, #looking-for-modal-stats, #looking-for-modal-profile, #modalviewings, #modalmusic, #modalsport, #modalbooks{

				.modal-dialog{
					width: 60%;
					margin-top: 100px;

					.modal-content{
						background-color: #59728D;
						color: white;
					}

					.modal-header{
						background-color: #59728D;
						color: white;
						text-align: center;
					}

					.checkbox-data-wrapper{

						.checkbox-data-single{

							.checkbox{
								background-color: $happii-profile-grey;
							}

							.directive-fancy-checkbox{
								label{

									input{
										margin-right: 15px;
									}
								}
							}
						}
					}

					.age-range-slider-wrapper{
						padding: 20px;
					}
				}

			}


		}
	}

	//photo gallery
	.profile-photo-gallery-wrapper{

		position: relative;
		margin-top: 100px;
		padding: 50px;
		padding-top: 25px;
		height: 100vh;

		.top-upload-button{
			width: 200px;
			height: 40px;
			position: relative;
			background-color: $happii-profile-blue;
			border: solid 1px transparent;
			border-radius: 5px;
			top: -25px;
			margin: auto;
			display: block;
			color: white;
		}

		.upload-profile-image-wrapper{
			position: relative;
			width: 250px;
			height: 250px;
			border: solid 1px #95989A;

			.profile-img-wrapper{

				width: 170px;
				height: 170px;
				margin: auto;
				margin-top: 10px;
				border-radius: 100%;
				border: 1px #95989A solid;
				overflow: hidden;

				img{
					width: 100%;
					height: auto;
					cursor: pointer;
				}
			}
		}

		.upload-profile-cover-image-wrapper{
			position: relative;
			width: 100%;
			height: 250px;
			border: solid 1px #95989A;

			.profile-cover-img-wrapper{

				width: 90%;
				height: 80%;
				margin: auto;
				margin-top: -15px;
				border: 1px #95989A solid;
				overflow: hidden;

				img{
					width: 100%;
					height: auto;
					cursor: pointer;
				}
			}
		}

		.happii-btn{
			width: 200px !important;
			margin: 10px;
			margin-left: 0px;
			margin-bottom: 0px;
		}

		.profile-photo-manage-btn-wrapper{
			display: inline-flex;
			position: relative;
			margin-top: 15px;

		}

		.photo-gallery-wrapper{

			width: 100%;
			height: 500px;
			border-style: solid;
			border-width: 1px;
			border-color: $happii-profile-grey;
			overflow: hidden;
			margin-top: 20px;

			.photo-upload-display-wrapper{

				width: 100px;
				height: 100px;
				margin: 10px;
				margin-top: 25px;
				display: block;
				background-color: lightgray;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: cover;

				i{
					font-size: 35pt;
					display: block;
					margin: auto;
					text-align: center;
					margin-top: 30px;
					color: white;
				}
			}

			#profile-gallery-title{
				border-style: solid;
				border-width: 1px;
				border-color: lighten($happii-profile-grey, 0%);;
				border-top : none;
				border-left : none;
				border-right : none;
				text-align: center;
				color: $happii-profile-blue;
				padding: 15px;
				font-size: 14pt;
				margin-bottom: 0px;
				text-transform: capitalize;
			}

			.image-delete-wrapper{

				p{
					margin-left: 35px;
					margin-top: 10px;
					margin-bottom: 0px;
				}
			}

			.photo-gallery-content{

				overflow-y: scroll;
				overflow-x: hidden;
				height: 89%;

				.row{
					margin-top: 15px;
					padding: 25px;
				}

				.photo-single-wrapper{

					width: 130px;
					height: 130px;
					margin: auto;
					margin-top: 10px;
					border-radius: 100%;
					border: 1px #95989A solid;
					overflow: hidden;

					.photo-overlay-icons{

						width: 130px;
						height: 130px;
						margin: auto;
						margin-top: 10px;
						border-radius: 100%;
						border: 1px transparent solid;
						overflow: hidden;
						position: absolute;
						z-index: 10;
						top: 0px;

						color: transparent;
						text-align: center;

						div{

							top: 30px;
							position: relative;

							p{
								position: relative;
							}

							i{
								font-size: 28pt;
								z-index: 10;
								cursor: pointer;
							}
						}


					}

					.photo-overlay-icons:hover{
						background-color: rgba(0,0,0,0.4);
						color: white;
					}


					img{
						width: 100%;
						height: auto;
					}
				}

				.video-single-wrapper{
					width: 100%;
					height: auto;
					margin: auto;
					margin-top: -15px;
					border: 1px #95989A solid;
					overflow: hidden;

					.photo-overlay-icons{

						width: 85%;
						height: auto;
						margin: auto;
						margin-top: 10px;
						border: 1px transparent solid;
						overflow: hidden;
						position: absolute;
						z-index: 10;
						top: -20px;
						color: white;
						text-align: right;
						//left: 100px;

						div{
							p{
								position: relative;
							}

							i{
								font-size: 15pt;
								z-index: 10;
								cursor: pointer;
							}
						}


					}


					img{
						width: 100%;
						height: auto;
					}
				}

			}
		}

	}

	#modal-feature-soon{

		.modal-dialog{
			transform: translate(10%,20%);

			.modal-header{
				background-image: url('../images/comingSoon/comingSoon.png');
				background-size: cover;
				background-repeat: no-repeat;
				height: 350px;

				.close{
					font-size: 36pt;
					position: absolute;
					right: 10px;
					top: 0px;
				}
			}
		}
	}

	#modal-delete-profile{

		.modal-dialog{

			.modal-header{

				p{
					color: black;
					text-align: center;
					margin-top: 25px;
					font-size: 14pt;
				}

				.delete-profile-btn{
					width: 100%;
					height: 40px;
					color: white;
					border: solid 1px transparent;
					border-radius: 5px;
				}

				.col-md-6:nth-child(1){
					.delete-profile-btn{
						background-color: $happii-pink;
					}
				}
				.col-md-6:nth-child(2){
					.delete-profile-btn{
						background-color: $happii-profile-blue;
					}
				}






			}
		}
	}
}

#modalviewings, #modalmusic, #modalsport, #modalbooks{

	.modal-dialog{
		width: 60%;
		margin-top: 100px;

		.modal-content{
			background-color: #59728D;
			color: white;

			input{
				color: black;
			}
		}

		.modal-header{
			background-color: #59728D;
			color: white;
			text-align: center;
		}

		.checkbox-data-wrapper{

			.checkbox-data-single{

				.checkbox{
					background-color: $happii-profile-grey;
				}

				.directive-fancy-checkbox{
					label{

						input{
							margin-right: 15px;
						}
					}
				}
			}
		}

		.age-range-slider-wrapper{
			padding: 20px;
		}
	}

}