.profile-page-wrapper{

	header{

		width: 100%;
		height: 80px;
		position: fixed;
		border-style: solid;
		border-color: darkgrey;
		border-width: 1px;
		border-top: none;
		border-left: none;
		border-right: none;
		margin-top: 0px !important;
		padding-top: 25px;
		top: 0;
		z-index: 100;
		background-color: $happii-profile-blue;

		.happii-logo-wrapper{
			width: 120px !important;
			height: auto !important;
		}

		.profile-mini-dropdown-menu{

			right: 18px;
			top: 6px;

			button{
				background-color: white;
				color: $happii-profile-grey;
				border: solid 1px white;
				width: 40px;
				height: 30px;
				border-radius: 5px;
			}

			ul{
				top: 22px;
				margin-left: -119px;
				z-index: -2;
				cursor: pointer;
			}
		}

		.profile-mini-dropdown-menu-view{
			button{
				background-color: $happii-profile-blue !important;
				border: solid 1px $happii-profile-blue !important;
			}

			i{
				color: white !important;
			}
		}


		.header-search-section{

			display: inline-flex;

			.keyword-search-wrapper{

				input{
					text-indent: 15px;
					height: 30px;
					width: 400px;
					border-style: solid;
					border-color: darkgrey;
					border-width: 1px;
					color: white;
				}

				i{
					position: absolute;
					margin-left: -25px;
					line-height: 2;
					color: darkgrey;
				}
			}

			.menu-drop-down-wrapper{

				margin-left: 50px;
				line-height: 2;
				color : $happii-profile-blue;
				width: 100px;

				p{
					margin: auto;
					text-transform: uppercase;
					letter-spacing: 2px;
				}

				i{
					font-size: 13pt;
				}
			}
		}

		.header-icon-section{

			display: inline-flex;
			float: right;

			#your-profile-mobile-text{
				display: none;
				font-size: 16pt;
				color: white;
				position: relative;
				left: -35px;
			}

			.icon-wrapper{

				display: inline-flex;
				line-height: 2;
				cursor: pointer;

				.single-icon{

					width: 15px;
					height: 15px;
					margin-left: 25px;

					img{
						width: 100%;
						height: auto;
					}
				}
			}

			.profile-icon-wrapper{

				margin-left: 35px;
				margin-top: -7px;
				display: inline-flex;
				z-index: 0;

				.profile-icon{

					z-index: 5;

					.profile-icon-image{

						width: 40px;
						height: 40px;
						overflow: hidden;

						img{
							width: 100%;
							height: auto;
							border-style: solid;
							border-width: 1px;
							border-color: white;
							background-color: white;
						}
					}

					.profile-icon-semi-circle{

						width: 50px;
						height: 25px;
						overflow: hidden;
						position: relative;
						bottom: 18px;
						z-index: -1;
						right: 5px;

						img{
							width: 100%;
							height: auto;
						}
					}
				}

				.profile-top-menu-dropdown{

					width: 50px;
					height: 30px;
					position: relative;
					margin-left: -15px;
					z-index: -1;
					margin-top: 8px;
					background-color: $happii-profile-blue;
					border-style: solid;
					border-width: 1px;
					border-color: $happii-profile-blue;
					border-radius: 5px;

					i{
						color: white;
						font-size: 13pt;
						position: relative;
						left: 15px;
						line-height: 1.5;
					}
				}
			}
		}
	}

	.profile-page-content{

		padding: 20px;
		margin: 40px;
		margin-top: 130px;
		//border : solid 1px $happii-profile-grey;

		.profile-cover-photo-wrapper{

			width: 100%;
			height: 300px;
			overflow: hidden;

			.cover-photo-single{

				overflow: hidden;
				width: 100%;
				height: 300px;

				img{
					width: 100%;
					height: auto;
				}
			}

			.slick-prev{
				left: 50px;
				color: white;
				z-index: 20;
			}

			//.slick-prev::before{
			//	font-size: 52pt;
			//}

			.slick-next{
				right: 40px;
				color: white;
				z-index: 20;
			}


		}

		.profile-image-main{

			height: 225px;
			position: relative;
			z-index: 10;
			top: 80px;
			overflow: hidden;
			margin-top: -190px;

			.profile-icon{
				width: 50%;
				margin: auto;
				display: block;

				.profile-icon-image{

					width: 200px;
					height: 200px;
					overflow: hidden;
					margin: auto;

					img{
						width: 100%;
						height: auto;
						border-style: solid;
						border-width: 1px;
						border-color: $happii-profile-blue;
						background-color: white;
					}
				}

				.profile-icon-semi-circle{

					width: 250px;
					height: 120px;
					overflow: hidden;
					position: relative;
					bottom: 90px;
					z-index: -1;
					right: 0px;
					margin: auto;

					img{
						width: 100%;
						height: auto;
					}
				}
			}

		}

		.profile-images-quotes-wrapper{

			height: 100px;
			margin-top: -106px;
			z-index: 10;
			top: 240px;
			position: relative;

			.profile-image-quotes{

				width: 60px;
				height: 60px;
				margin: auto;

				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.profile-centered-content {

			width: 80%;
			margin: auto;
			margin-bottom: 50px;
			z-index: 10;
			position: relative;

			.profile-action-icons-wrapper {

				width: 100%;
				text-align: center;
				color: $happii-profile-grey;

				p {
					font-size: 15pt;
				}

				hr {
					border-color: $happii-profile-grey;
					width: 90%;
				}

				.profile-name-age-wrapper{
					text-transform: capitalize;
				}

				.profile-action-icons {

					display: inline-flex;

					p {
						font-size: 11pt;
					}

					.action-icon {
						width: 30px;
						height: 30px;
						overflow: hidden;
						margin: 30px;
						cursor: pointer;
						opacity: 0.2;

						img {
							width: 100%;
							height: auto;
						}

					}

				}
			}

			.profile-page-description {

				width: 100%;
				margin: auto;
				text-align: center;
				height: 100px;
				margin-top: 25px;
				margin-bottom: 25px;

				p {
					font-size: 16pt;
					color: $happii-profile-grey;
				}
			}

			.profile-page-sliding-icon-content-wrapper {

				width: 100%;
				height: 300px;
				margin: auto;
				//border-style: solid;
				//border-width: 1px;
				//border-color: $happii-profile-grey;
				margin-top: 80px;

				.sliding-icon-wrapper {

					width: 80px;
					height: 80px;
					margin: auto;
					display: block;
					background-color: white;
					padding: 20px;
					margin-top: -40px;
					border-style: solid;
					border-width: 1px;
					border-color: $happii-profile-grey;
					border-radius: 50px;

					img {
						width: 100%;
						height: auto;
						margin-top: 7px;
						margin-left: 1px;
					}

				}

				.sliding-icon-slider-wrapper {

					p {
						text-align: center;
						margin-top: 10px;
					}

					.sliding-icon-slider {

						width: 83%;
						margin: auto;
						margin-top: 50px;

						.love-icon-single {

							width: 100px;
							height: auto;

							img {
								width: 100%;
								margin: auto;
							}
						}

						.slick-prev {
							left: 50px;
							color: white;
							z-index: 20;
							background-color: black;
						}

						//.slick-prev::before{
						//	font-size: 52pt;
						//}

						.slick-next {
							right: 40px;
							color: white;
							z-index: 20;
							background-color: black;
						}
					}
				}

			}

			.profile-traits-section {

				width: 100%;
				margin-top: 50px;
				height: 300px;
				overflow: hidden;

				ul {
					list-style: none;
				}

				.tab-personality-wrapper {

					height: 300px;

					ul{
						padding-left: 0px;
						margin-left: 0px;
					}

					.tab-personality-tabs {

						width: 100%;
						display: inline-flex;

						li {
							width: 50%;
							height: 40px;
							text-align: center;
							line-height: 3;
							background-color: lightgray;
							border-style: solid;
							border-width: 1px;
							border-color: $happii-profile-grey;
						}
					}

					.tab-personality-content {

						height: 260px;
						overflow-y: scroll;
						border-style: solid;
						border-width: 1px;
						border-color: $happii-profile-grey;
						border-top: none;
						margin-top: -10px;

						li{
							text-align: center;
							background-color: lightgray;
							height: 30px;
							line-height: 2;
							margin: 10px;
						}

						.tab-profile{
							height: 80px;
							padding-top: 10px;
						}

						.tab-icon-wrapper{

							width: 20px;
							height: auto;
							margin: auto;

							img{
								width: 100%;
								height: auto;
							}
						}
					}
				}

				//Pings
				.pings-wrapper{

					@mixin pingBorder(){
						border-style: solid;
						border-width: 1px;
						border-color: $happii-profile-grey;
					}

					width: 100%;
					height: 300px;
					@include pingBorder();
					overflow-y: scroll;


					.ping-single-wrapper{

						height: 170px;
						padding: 25px;
						padding-bottom: 0px;

						.ping-single{
							@include pingBorder();
							height: 100%;

							.ping-content{
								margin-top: 20px;
							}

							.ping-date{
								margin-top: 40px;
							}

							.profile-icon{

								position: relative;
								left: 15px;
								top: 15px;

								.profile-icon-image{

									width: 40px;
									height: 40px;
									overflow: hidden;

									img{
										width: 100%;
										height: auto;
										border-style: solid;
										border-width: 1px;
										border-color: $happii-profile-blue;
									}
								}

								.profile-icon-semi-circle{

									width: 50px;
									height: 25px;
									overflow: hidden;
									position: relative;
									bottom: 18px;
									z-index: -1;
									right: 5px;

									img{
										width: 100%;
										height: auto;
									}
								}
							}
						}

					}
				}
			}

			.profile-travel-map-section{

				height: 450px;
				margin-top: 40px;
				//border-style: solid;
				//border-width: 1px;
				//border-color: $happii-profile-grey;

				.travel-map-mobile-content-wrapper{
					display: none;
				}

				.profile-travel-map-content{

					height: 448px;
					//padding: 25px;
					overflow: hidden;
					margin-top: -40px;
					width: 100%;
					position: relative;

					.travel-map-key{

						width: 100%;
						text-align: left;
						position: absolute;
						z-index: 1;
						background-color: rgba(255,255,255,0.4);
						height: auto;
						padding: 5px;
						bottom: 0px;

						.places-title-wrapper{
							display: inline-flex;
							//padding-bottom: 10px;

							p{
								margin: 0px;
								margin-left: 20px;
								line-height: 2;
								color: $happii-profile-grey
							}

							.places-title-pin{

								width: 20px;
								height: auto;

								img{
									width: 100%;
									height: auto;
								}
							}
						}

						#place-been{
							text-align: right;
							float: right;
						}
					}

					.travel-map{

						width: 100%;
						height: 100%;
					}

				}


			}

			.profile-favourite-list-section{

				width: 100%;
				height: 300px;
				margin-top: 80px;


				.favourite-list-wrapper{

					height: 250px;
					width: 250px;
					margin-top: 115px;
					//border-style: solid;
					//border-width: 1px;
					//border-color: $happii-profile-grey;

					.favourite-list-icon {

						width: 80px;
						height: 80px;
						margin: auto;
						display: block;
						background-color: white;
						padding: 20px;
						margin-top: -40px;
						//border-style: solid;
						//border-width: 1px;
						//border-color: $happii-profile-grey;
						border-radius: 50px;

						img {
							width: 100%;
							height: 40px;
							position: relative;
							top: -15px;
						}

						p{
							width: 200px;
							position: relative;
							left: -80px;
							color: #95989A;
							text-align: center;

						}

					}

					.favourite-list-content{

						width: 100%;
						height: 200px;
						overflow: hidden;

						ul{
							list-style: none;
							width: 100%;
							height: 208px;
							padding-left: 10px;
							padding-right: 10px;

							li{
								width: 100%;
								height: 30px;
								background-color: #f0f0f0;
								color: $happii-profile-grey;
								text-align: center;
								margin-top: 10px;
								margin-bottom: 10px;
								line-height: 2;
								font-weight: bold;
							}
						}

						.favourite-list-item{

							width: 100%;
							height: auto;
							position: relative;

							p{
								text-align: center;
								margin: 0px;
							}

							i{
								font-size: 55pt;
								position: absolute;
								left: 35%;
								top: 55px;
								color: white;

							}

							button{
								width: 100%;
								background-color: $happii-profile-blue;
								border: none;
								border-radius: 5px;
								color: white;
								position: absolute;
								top: -60px;
							}

							.favourite-list-item-img{

								width: 100%;
								height: 225px;
								margin: auto;

								img{
									width: 100%;
									height: auto;
									padding: 10px;
								}
							}

							.favourite-item-text{
								width: 100%;
								height: 70px;
								position: absolute;
								bottom: 0px;
								background-color: rgba(255,255,255,0.8);
								color: #414141;
								font-weight: 700;
							}
						}


					}

					.favourite-modal-edit{

						.modal-dialog{
							margin-top: 100px;

							ul{
								list-style: none;

								i{
									color: white !important;
									font-size: 14pt !important;
									top: 1px !important;
									left: 0px !important;
								}
							}
						}
					}

					.favourite-list-arrows-wrapper{
						width: 80%;
						position: absolute;
						left: 25px;
						top: 100px;
						z-index: 16;

						i{
							font-size: 13pt;
							color: grey;
							background-color: rgba(255,255,255,0.8);
							padding: 5px;
						}

						i:nth-child(1){
							float: left;
						}

						i:nth-child(2){
							float: right;
						}
					}
				}
			}

			.profile-manage-buttons-section{

				width: 100%;
				height: 70px;

				.profile-manage-btn{

					button{

						border-style: solid;
						border-width: 1px;
						border-color: $happii-profile-grey;
						width: 100%;
						padding: 5px;
						background-color: white;
					}

					i{
						font-size: 5pt;
						position: relative;
						bottom: 2px;
					}
				}
			}

			.profile-similar-profiles-section{

				.similar-profiles-title-bar{

					hr{
						border-color: $happii-profile-grey;
					}

					p{
						text-align: center;
						font-size: 15pt;
						line-height: 2;
						color: black;
					}
				}

				.similar-profiles-slider{

					margin-top: 50px;

					.profile-icon-wrapper{
						position: relative;
						top: 90px;
						margin-top: -90px;

						.profile-icon{

							height: 150px;
							width: 100px;
							margin: auto;

							.profile-icon-image{

								width: 120px;
								height: 120px;
								overflow: hidden;
								background-color: white;

								img{
									width: 100%;
									height: auto;
									border-style: solid;
									border-width: 1px;
									border-color: $happii-profile-blue;
									background-color: white;
								}
							}

							.profile-icon-semi-circle{

								width: 145px;
								height: 80px;
								overflow: hidden;
								position: relative;
								bottom: 59px;
								z-index: -1;
								right: 13px;

								img{
									width: 100%;
									height: auto;
								}
							}
						}
					}


					.similar-profile-single-wrapper{

						height: 200px;
						width: 100%;
						border-style: solid;
						border-width: 1px;
						border-color: $happii-profile-grey;

						.similar-profile-content{

							width: 100%;
							text-align: center;
							margin-top: 100px;
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}

	footer{
		width: 100%;
		position: relative;
		background-color: $happii-profile-blue;
		height: 65px;
		margin-top: 100px;

		.footer-content{

			margin-top: 20px;
			color: white;
			line-height: 3;
			font-size: 8pt;

			ul{
				list-style: none;

				li{
					display: inline;
					padding-left: 10px;
					padding-right: 10px;
					a{
						color: white;
					}
				}
			}

			.happii-logo-footer{

				width: 100px;
				height: auto;
				float: right;
				margin-right: 25px;

				img{
					width: 100%;
					height: auto;
				}
			}
		}

	}

	#profile-view-mobile-edit-return{

		i{
			color: white;
			position: absolute;
			left: -110px;
			font-size: 20pt;
		}
	}
}

#profile-page-view{
	.profile-travel-map-content{
		margin-top: 0px !important;
	}

	.looking-for-edit-content-profile-view{

		position: relative;
		width: 100%;

		.looking-for-edit-content{

			padding: 20px;
			padding-top: 0px;

			p{
				text-align: center;
				margin-bottom: 25px;
			}

			.looking-for-edit-icon{

				width: 100px;
				height: auto;
				margin: auto;

				img{
					width: 100%;
					height: auto;
				}
			}

			.looking-for-edit-icon-title{

				margin-top: 25px;

				p{
					text-align: center;
				}
			}
		}

		.slick-prev{
			left: 50px;
			color: white;
			z-index: 20;
			background-color: black;
		}

		.slick-next{
			right: 40px;
			color: white;
			z-index: 20;
			background-color: black;
		}

		.slick-chevron-navigation-wrapper-profile-looking-edit{
			top: 85px;
			z-index: 1;
		}
	}

	.pings-wrapper{
		margin-bottom: 25px !important;

		.ping-single-text{
			overflow-y: scroll;
			height: 145px;
		}

		.ping-single{
			.profile-icon{
				left: -6px !important;
			}
		}
	}

	#profile-page-view-content{
		padding: 0px;
		margin: 0px;
	}

	.header-white{
		background-color: white !important;
	}

	.profile-circle-icon-white{
		background-color: $happii-profile-blue !important;
		border-color: $happii-profile-blue !important;
	}
}

.profile-icon-divider{

	width: 100%;
	position: relative;
	top: -5px;
	margin-top: 50px;

	.profile-icon-divider-icon{
		width: 50px;
		height: auto;
		margin: auto;
		margin-bottom: 15px;

		img{
			width: 100%;
			height: auto;
		}
	}

	.profile-icon-divider-button{

		width: 100%;
		height: auto;
		margin-bottom: 15px;

		button{
			width: 100%;
			color: white;
			background-color: #8E9190;
			border-radius: 5px;
			border-color: transparent;
			padding: 5px;
			text-transform: capitalize;
		}
	}

	p{
		text-transform: capitalize;
		text-align: center;
		color: #95989A;
		font-size: 18px;
	}

	hr{
		border-top: 2px solid #95989A;
	}


}

.profile-box-answers-wrapper{

	.profile-box-answer-single{

		.profile-box{
			width: 100%;
			height: 40px;
			background-color: #f0f0f0;
			text-align: center;
			margin: 5px;

			p{
				margin: 0px;
				line-height: 3;
			}


		}
	}

	.box-edit-mode-wrapper{

		padding: 25px;
		padding-top: 0px;
		bottom: 35px;
		padding-left: 70px;
		position: relative;

		.directive-fancy-checkbox{

			.checkbox{
				background-color: darkgrey;
			}

			label{
				z-index: 10;
				width: 200px;
				left: -4px;
				position: relative;

				input{
					margin-right: 20px;
					visibility: hidden;
				}
			}
		}
	}
}

.looking-for-view-section{

	margin-top: 100px;

	#looking-for-section-title{
		text-align: center;
		font-size: 32px;
	}
}

#profile-favourite-list-section-dashboard{
	margin-top: 185px;
	margin-bottom: 25px;

}