.profile-page-wrapper{

  margin-top: 80px;
  //height: 100vh;

  @mixin imageProps($url){

    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pings-page-wrapper{

    height: 100vh;
    padding: 20px;
    margin: 40px;
    margin-top: 130px;
    border: solid 1px #7e7e80;

    @include imageProps("../images/comingSoon/comingSoon.png");
  }

  .diary-page-wrapper{

    height: 100vh;
    padding: 20px;
    margin: 40px;
    margin-top: 130px;
    border: solid 1px #7e7e80;

    @include imageProps("../images/comingSoon/comingSoon.png");
  }

  .messages-page-wrapper{

    height: 100vh;
    padding: 20px;
    margin: 40px;
    margin-top: 130px;
    border: solid 1px #7e7e80;

    @include imageProps("../images/comingSoon/comingSoon.png");
  }

  .search-page-wrapper{

    height: 100vh;
    padding: 20px;
    margin: 40px;
    margin-top: 130px;
    border: solid 1px #7e7e80;

    @include imageProps("../images/comingSoon/comingSoon.png");
  }
}

