.register-section-wrapper {
	display: block;
	height: 100vh;

	.register-complete-return-wrapper{

		p{
			color: white;
			font-size: 12pt;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.register-questions-wrapper {

		max-width: 500px;
		margin: auto;
		margin-top: 25px;

		border-style: solid;
		border-width: 3px;
		border-color: white;

		.register-questions-wrapper-dots-wrapper {

			background-color: white;
			height: 50px;
		}

		//The title for each question
		.register-question-title {

			color: white;
			font-size: 30pt;
			text-align: center;
		}

		//Register gender
		.register-gender-wrapper {

			@include standardQuestionStyle();

			.register-man-woman-icon-wrapper {

				margin-top: 40px;

				.gender-icon-wrapper {
					padding-top: 10px;
					font-size: 30px;
					color: white;
					text-align: center;
					text-transform: uppercase;

					.gender-icon-img {

						width: 60px;
						height: 150px;
						overflow: hidden;
						display: block;
						margin: auto;
						position: relative;
						margin-bottom: 20px;

						img {
							width: 100%;
							height: auto;
						}
					}

					.gender-icon-img-man {
						left: 10px;
					}

					.gender-icon-img-woman {
						right: 10px;
					}
				}
			}
		}

		.register-dob-wrapper {

			.register-question-title {
				margin-top: 25px;
			}

			@include standardQuestionStyle();

			.dob-icon-wrapper {

				.dob-icon {

					width: 70px;
					height: 70px;
					display: block;
					margin: auto;

					img {
						width: 100%;
						height: auto;
					}
				}
			}

			.register-dob-options-wrapper {

				margin-top: 25px;
				margin-bottom: 50px;
				text-align: center;

				.dob-input-wrapper {

					select {
						width: 115px;
						height: 40px;
						padding-left: 10px;
					}
				}
			}

		}

		.register-location-wrapper {

			.register-question-title {
				margin-top: 25px;
			}

			@include standardQuestionStyle();

			.location-icon-wrapper {

				.location-icon {

					width: 70px;
					height: 70px;
					display: block;
					margin: auto;

					img {
						width: 100%;
						height: auto;
					}
				}
			}

			.register-location-input-wrapper {

				p{
					color: red;
					text-align: center;
				}

				input {
					width: 450px;
					height: 40px;
					margin: auto;
					display: block;
					padding-left: 25px;
				}

				i {
					position: relative;
					font-size: 20pt;
					color: lightgray;
					bottom: 34px;
					right: 30px;
					float: right;
				}
			}
		}

		.register-personal-details-wrapper {

			.register-personal-details-input-wrapper {

				.personal-details-input {

					input {
						width: 450px;
						height: 40px;
						margin: auto;
						display: block;
						margin-top: 15px;
						text-indent: 25px;
					}

					p {
						margin: 0px;
						margin-left: 25px;
						line-height: 2;
						color: white;
						margin-top: 15px;
					}

					.progress {
						width: 200px !important;
						padding: 0;
						margin: 0;
						float: right;
						margin-right: 23px;
						margin-bottom: -20px;
						position: relative;
						bottom: 40px;
						height: 40px;
						border-radius: 0px;
						-ms-transform: rotate(180deg); /* IE 9 */
						-webkit-transform: rotate(180deg); /* Safari */
						transform: rotate(180deg);
						background-color: transparent;

						.progress-bar {
							-ms-transform: rotate(180deg); /* IE 9 */
							-webkit-transform: rotate(180deg); /* Safari */
							transform: rotate(180deg);
						}

						span {
							font-size: 15pt;
							line-height: 2;
						}
					}
				}

				.verify-age-wrapper {
					padding: 30px;

					p {
						color: white;
						font-size: 9pt;
					}

					input {
						margin: auto;
						margin-top: 10px;
						display: block;
						@include enlargeCheckbox(1.5);
					}
				}
			}
		}
	}

	.register-complete-wrapper{

		.happii-btn{
			margin: auto;
			display: block;
			bottom: 15px;
			position: relative;

		}

		.register-complete-text{
			color: white;
			font-size: 20pt;
			text-align: center;
			padding: 50px;
			margin-bottom: 0px;
		}

		.details-to-fix-wrapper{

			width: 100%;
			position: relative;

			.details-to-fix-single{
				display: inline-block;
				color: white;

				p{
					font-size: 12pt;
					padding: 10px;
					text-decoration: underline;
					cursor: pointer;
				}

				p:hover{
					color: $happii-pink;
				}
			}
		}
	}

	.next-step-btn-wrapper {
		display: block;
		clear: both;
		position: absolute;
		text-align: center;
		margin-top: 50px;
		width: 100%;

		button {
			width: 200px;
			margin: 0 auto;
		}
	}

}