[fade-background] {
	position: relative;

	.directive-fade-background {
		position: relative;
		height: inherit;

		.image-wrap {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			.image-front, .image-back {
				position: absolute;
				display: block;
				overflow: hidden;
				content: ' ';
				top: -30px;
				left: -30px;
				right: -30px;
				bottom: -30px;
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
				filter: blur(15px);
			}

			.image-front {
				z-index: 2;
			}
			.image-back {
				z-index: 1;
			}
		}

		.inner-wrap {
			position: relative;
			z-index: 3;
		}
	}
}