.sign-in-page-wrapper{

	width: 100%;
	height: 100vh;

	background-image: url('../images/backgrounds/signIn.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	header{

		.happii-logo-wrapper{
			width: 160px !important;
			margin-left: 30px;
			margin-top: 25px;
		}
	}

	.sign-in-content-wrapper{
		max-width: 400px;
		margin: auto;
		margin-top: 230px;
		border-style: solid;
		border-width: 3px;
		border-color: white;

		.sign-in-title{

			background-color: white;
			width: 100%;

			p{
				color: $happii-profile-blue;
				text-align: center;
				margin: 0px;
				font-size: 24pt;
			}
		}

		.sign-in-content{

			padding: 25px;

			.sign-in-input-item{

				input{
					width: 100%;
					height: 40px;
					text-indent: 25px;
					color: black;
					margin-bottom: 15px;
					font-size: 12pt;
				}

				.sign-in-login-btn{

					width: 100%;
					height: 40px;
					border-style: solid;
					border-width: 1px;
					border-color: $happii-profile-grey;
					margin-bottom: 15px;
					background-color: rgba(255,255,255, 0.4);
					padding-bottom: 40px;

					button{
						width: 100%;
						height: 40px;
						border: none;
						background-color: transparent;
						color: black;
						font-size: 12pt;
					}

					.sign-in-icon-wrapper{

						width: 20px;
						height: auto;
						position: absolute;
						z-index: 5;
						right: 36%;
						bottom: 10px;

						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}

			.social-btn{

				width: 100%;
				height: 40px;
				border-style: solid;
				border-width: 1px;
				border-color: white;
				margin-bottom: 15px;
				font-size: 9pt;
				color: white;

				i{
					font-size: 14pt;
					position: relative;
					top: 2px;
					margin-right: 5px;
				}
			}

			.social-btn-fb{
				background-color: #537CBE;
			}

			.social-btn-ig{
				background-color: #77CDF0;
			}

			.sign-in-remember{
				color: white;
				font-size: 9pt;

				input{
					margin-right: 5px;
				}
			}

			.forgotten-pwd{
				label{
					line-height: 2;
					float: right;
					margin-right: 10px;
					cursor: pointer;
				}
			}

			.sign-in-register{
				p{
					color: white;
					font-size: 12pt;
				}
			}

			.sign-in-register-register{

				cursor: pointer;

				.sign-in-icon-wrapper{
					width: 30px;
					float: right;
				}

				p{
					float: right;
					margin-right: 10px;
				}
			}
		}
	}
}