
#site-wrapper{

  //todo site wrapper needs to be auto on home page and 100vh on profile
  //height: 100vh;
  height: auto;
  //background-image: url('../images/backgrounds/animals/puffins.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;

  header{

    margin-top: 25px;


    .happii-logo-wrapper{

      width: 150px;
      height: 100px;
      cursor: pointer;

      img{
        width: 100%;
        height: auto;
      }
    }

    .sign-in-btn-wrapper{

      width: 100px;
      height: 40px;
      float: right;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      padding-bottom: 40px;
      background-color: transparent;
      cursor: pointer;

      p{
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding-top: 10px;
        background-color: rgba(255,255,255,0.4);
        height: 40px;
      }
    }
  }
}


.button_container {
  display: none;
  position: fixed;
  top: 30px;
  right: 15px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;


  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $happii-profile-blue;
    }
    .middle {
      opacity: 0;
      background: $happii-profile-blue;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $happii-profile-blue;
    }
  }

  span {
    background: $happii-profile-blue;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

