/*
	Variables for the site
*/
$happii-pink : #e87a8b;
$happii-profile-blue : #59728D;
$happii-profile-teal : #9ab8bb;
$happii-profile-grey : #7e7e80;

@mixin standardQuestionStyle(){

  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

@mixin enlargeCheckbox($number){

  -ms-transform: scale($number); /* IE */
  -moz-transform: scale($number); /* FF */
  -webkit-transform: scale($number); /* Safari and Chrome */
  -o-transform: scale($number); /* Opera */
}

@mixin transition($time) {
  -webkit-transition: $time; /* Safari */
  transition: $time;
}

@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
	Fonts
*/


*{
  font-family: "futura-pt",sans-serif;
  //font-family: "cooper-black-std",serif;

}

@mixin cooperFont(){

  font-family: "cooper-black-std",serif !important;
}

.removePadding{
  padding: 0px;
}