.video-gallery-wrapper{

	padding: 25px;

	.profile-photo-gallery-wrapper{
		margin-top: 0px !important;
	}

	margin-top: 95px;

	.profile-page-wrapper{
		margin-top: 0px;
	}

	.profile-photo-gallery-wrapper{
		padding: 0px !important;
	}

	.video-top-boxes{

		text-align: center;

		.upload-video-single-wrapper{
			position: relative;
			width: 100%;
			border: solid 1px #95989A;
			color: $happii-profile-grey;
			font-size: 14pt;
			padding: 20px;
			height: 250px;

			.profile-img-wrapper{
				width: 100px;
				height: auto;
				margin: auto;
				margin-bottom: 25px;
				margin-top: 40px;
				cursor: pointer;

				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.video-import-from{
			position: relative;
			width: 100%;
			border: solid 1px #95989A;
			color: $happii-profile-grey;
			font-size: 14pt;
			padding: 20px;
			height: 250px;

			p{
				text-align: center;
				font-size: 14pt;
				color: $happii-profile-grey;
			}

			.import-from-icons{

				width: 100%;
				margin: auto;

				.import-from-single{

					width: 100%;
					position: relative;

					.import-from-single-img{

						width: 100px;
						height: auto;
						margin: auto;

						img{
							width: 100%;
							height: auto;
						}
					}


				}

				.video-url-wrapper{

					width: 100%;
				}

				input{
					width: 100%;
					text-indent: 15px;
					margin-bottom: 10px;
				}

				button{
					width: 100%;
				}
			}

			.import-from-single-img-mobile{

				width: 100px;
				height: auto;
				margin: auto;
				display: none;

				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}



	.video-favourite-wrapper{
		border-style: solid;
		border-width: 1px;
		border-color: #7e7e80;
		width: 100%;
		margin-top: 20px;
		height: 500px;

		.video-gallery-content{
			overflow-y: scroll;
			overflow-x: hidden;
			height: 88%;
		}

		p{
			border-style: solid;
			border-width: 1px;
			border-color: #7e7e80;
			border-top: none;
			border-left: none;
			border-right: none;
			text-align: center;
			color: #58728d;
			padding: 15px;
			font-size: 14pt;
			margin-bottom: 0px;
		}

		.video-favourite-single{

			width: 100%;
			height: 200px;
			overflow: hidden;
			padding: 0px;
			padding-top: 20px;
			padding-bottom: 10px;

			#mep_0{
				width: 100% !important;
				height: 125px !important;
			}

			p{
				padding: 0px;
				border: none;
				margin-top: 5px;
				text-align: left;
				z-index: 10;
				position: relative;
				font-size: 10pt;
				height: 10px;
			}
		}
	}

	.api-results-wrapper{

		width: 100%;
		position: absolute;
		background-color: white;
		color: #23527c;
		border: 1px solid #408698;
		left: 0px;
		margin-top: 40px;
		z-index: 10;
		overflow-y: scroll;

		.api-result-single{

			width: 100%;
			position: relative;
			padding: 5px;
			background-color: #eaeaea;

			p{
				width: 100%;
				position: relative;
				margin: 0px;
			}

			.api-result-image-wrapper{

				height: auto;
				width: 35px;

				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.api-result-single:nth-child(2n){
			background-color: white;
		}
	}

}