<div class="image-upload-directive-wrapper">

	<!-- Modal -->
	<div id="image-upload-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="image-upload-content">

					<div class="row">
						<div class="user-image-wrapper">

							<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
								<div class="photo-upload-display-wrapper" id="photo-upload-display">
									<i ng-click="vm.triggerDropZoneForGalleryImage()" class="fa fa-plus-circle" aria-hidden="true"></i>
								</div>
							</div>

							<div ng-if="vm.images.length > 0" class="col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-repeat="image in vm.images">
								<div ng-click="vm.setSelectedPhoto(image);" ng-class="{'social-image-picker-selected' : vm.selectedPhoto == image}" class="user-image-single">
									<img ng-src="{{vm.getImagePath(image)}}" alt="user image">
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="image-button-content" ng-if="vm.type != 'video'">

					<div class="row">

						<div class="col-xs-6">
							<button class="happii-btn" ng-class="{'gallery-btn-active' : vm.activeMode == 'profile'}" ng-click="vm.setActivePhotoMode('profile', 1)">Make Profile Photo</button>

						</div>
						<div class="col-xs-6">
							<div class="photo-upload-social-btn-wrapper">
								<button class="happii-btn" ng-class="{'gallery-btn-active' : vm.activeMode == 'cover'}" ng-click="vm.setActivePhotoMode('cover', 3)">Make Cover Photo</button>
								<!--<i ng-click="vm.authFacebook()" class="fa fa-facebook" aria-hidden="true"></i>-->
								<!--<i ng-click="vm.authenticate('instagram')" class="fa fa-instagram" aria-hidden="true"></i>-->
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<!-- Facebook modal for picking images -->
<div class="modal fade" id="facebook-pic-modal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<p>Select an Image</p>
			</div>
			<div class="modal-body">

				<div ng-repeat="photo in vm.socialPhotos" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div ng-class="{'social-image-picker-selected' : vm.activeSocialPhoto == photo}" class="social-img-single">
						<img ng-click="vm.activeSocialPhoto = photo; vm.setSocialCanvasImage(photo.name, vm.getImagePath(photo))" width="200px" height="200px" ng-src="{{vm.getImagePath(photo)}}" alt="a photo from a social network">
					</div>
				</div>

				<!--Stores the image-->
				<canvas id="facebookCanvas" width="250" height="300" style="display: none"></canvas>

			</div>
			<div class="modal-footer">
				<button ng-class="{'disabledElement' : vm.activeSocialPhoto.name == ''}" ng-click="vm.setSocialImageToSave('#facebook-pic-modal')" type="button" class="btn btn-default" data-dismiss="modal">Use Picture</button>
			</div>
		</div>

	</div>
</div>

<!--Editting the image-->
<image-edit-directive callback="vm.updateBuilderObject" show="vm.showImageEditor" aspectratio="vm.profileAspectRatio" imageobj="vm.selectedPhoto"></image-edit-directive>