<div class="photo-pop-up-wrapper">

	<!-- Modal -->
	<div id="photo-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<!-- Media -->
				<div class="photo-pop-up-content-wrapper">

					<div class="row">
						<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">

							<div class="photo-header-navigation" ng-click="vm.switchMediaMode()">
								<i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i>
								<p>
									{{vm.backTitle}} <i class="fa fa-chevron-right" aria-hidden="true"></i>
								</p>
							</div>

							<div class="photo-thumbnails-wrapper">

								<div class="profile-user-name-title">
									<p>{{vm.username}}</p>
								</div>

								<div class="photo-thumbnails">

									<div class="row">
										<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4" ng-repeat="photo in vm.media track by $index | limitTo : 12" ng-click="vm.slickConfig.method.slickGoTo($index)">
											<div ng-class="{'image-picker-selected' : vm.currentSlide == $index}" class="photo-thumbnail-single">
												<img ng-src="{{vm.getPhotoImageUrl(photo)}}" alt="">
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>

						<div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">

							<div class="photo-slider-wrapper">

								<!--Arrow wrappers-->
								<div class="slick-arrow-wrapper" ng-if="vm.media.length > 0">
									<div class="slick-arrow left" ng-click="vm.slickConfig.method.slickPrev()">
										<i class="fa fa-chevron-left" aria-hidden="true"></i>
									</div>

									<div class="slick-arrow right" ng-click="vm.slickConfig.method.slickNext()">
										<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</div>
								</div>

								<!--Slick slider photo-->
								<slick settings="vm.slickConfig" ng-if="vm.mode == 'photo'">

									<!--Photo mode-->
									<div class="photo-main-img" ng-repeat="image in vm.photos track by $index">
										<img ng-src="{{vm.getPhotoImageUrl(image)}}" alt="a user photo">
									</div>

								</slick>

								<!--Slick slider video-->
								<slick settings="vm.slickConfig" ng-if="vm.mode == 'video'">

									<!--Video mode-->
									<div class="photo-main-img" ng-repeat="video in vm.videos track by $index">

										<video width="100%" height="auto" controls>
											<source src="{{vm.getVideoUrl(video)}}" type="video/mp4">
											<source src="{{vm.getVideoUrl(video)}}" type="video/ogg">
											Your browser does not support the video tag.
										</video>

										<!--<video-->
												<!--id="my-player"-->
												<!--class="video-js"-->
												<!--controls-->
												<!--preload="auto"-->
												<!--poster="//vjs.zencdn.net/v/oceans.png"-->
												<!--data-setup='{}'>-->
											<!--<source src="{{vm.getVideoUrl(video)}}" type="video/mp4"></source>-->
											<!--<source src="{{vm.getVideoUrl(video)}}" type="video/webm"></source>-->
											<!--<source src="{{vm.getVideoUrl(video)}}" type="video/ogg"></source>-->
											<!--<p class="vjs-no-js">-->
												<!--To view this video please enable JavaScript, and consider upgrading to a-->
												<!--web browser that-->
												<!--<a href="http://videojs.com/html5-video-support/" target="_blank">-->
													<!--supports HTML5 video-->
												<!--</a>-->
											<!--</p>-->
										<!--</video>-->
									</div>



								</slick>


							</div>
						</div>
					</div>
				</div>

				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>

		</div>
	</div>

</div>