<div class="home-header">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ui-sref="home">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-mobile">
					<li id="menu-item-1" data-menuanchor="firstPage" class="home-menu-item"><a ui-sref="home" >Home</a></li>
					<li id="menu-item-2" data-menuanchor="secondPage" class="home-menu-item"><a ng-click="vm.navigateTo('home#secondPage2')">About Happii</a></li>
					<li id="menu-item-3" data-menuanchor="thirdPage" class="home-menu-item"><a ng-click="vm.navigateTo('home#thirdPage3')">Functions & Features</a></li>
					<li id="menu-item-4" data-menuanchor="fourthPage" class="home-menu-item"><a ng-click="vm.navigateTo('home#fourthPage4')">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ng-click="vm.manageSignInOutBtnClick()">{{vm.signInText}}</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ng-click="vm.manageSignInOutBtnClick()">{{vm.signInText}}</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>