<div class="image-edit-directive-wrapper" ng-if="vm.show">

	<p ng-click="vm.show = false"><i class="fa fa-times" aria-hidden="true"></i></p>


	<div class="image-crop-content">
		<!-- Wrap the image or canvas element with a block element (container) -->
		<div class="img-crop-wrapper">
			<!--<img id="image-to-crop" ng-src="{{vm.getImagePath()}}">-->
			<img id="image-to-crop" ng-src="{{vm.getImagePath(vm.imageobj)}}">
		</div>

		<div class="crop-btn-wrapper">

			<button class="happii-btn" ng-click="vm.saveCroppedImage()">Crop Image</button>
		</div>
	</div>

</div>