<div class="profile-page-wrapper" id="profile-page-edit-wrapper">

	<div class="profile-photo-gallery-wrapper">

		<!--Image-->
		<div ng-if="vm.type == 'image'">
			<div class="row">
				<div class="col-md-3">

					<div class="upload-profile-image-wrapper">

						<button class="top-upload-button" data-toggle="modal" data-target="#image-upload-modal" data-backdrop="false">Upload a new profile image</button>
						<div class="profile-img-wrapper">
							<img ng-src="{{vm.getImagePath(vm.profileObj.properties.questions.profileImage)}}" alt="The profile image">
						</div>
					</div>
				</div>
				<div class="col-md-9">

					<div class="upload-profile-cover-image-wrapper">

						<button class="top-upload-button" data-toggle="modal" data-target="#image-upload-modal" data-backdrop="false">Upload a new cover image</button>
						<div class="profile-cover-img-wrapper">
							<img ng-src="{{vm.getImagePath(vm.profileObj.properties.questions.profileCoverImage)}}" alt="The profile image">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="photo-gallery-wrapper">

			<!--<div class="edit-section-wrapper">-->
				<!--<button>Delete <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>-->
				<!--&lt;!&ndash;<button>Save - opening statement <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>&ndash;&gt;-->
			<!--</div>-->

			<p id="profile-gallery-title" ng-if="vm.type != 'image'">{{vm.type}} Gallery</p>
			<p id="profile-gallery-title" ng-if="vm.type == 'image'">Photo Gallery</p>

			<div ng-if="vm.deleteMode == true" class="image-delete-wrapper">
				<p>
					Select {{vm.type}}s to delete
				</p>
			</div>


			<div class="photo-gallery-content">

				<div class="row">

					<div  ng-if="vm.type == 'image'" class="col-xs-6 col-md-2 col-sm-3 col-lg-2" ng-repeat="item in vm.media">

						<!--Image-->
						<div class="photo-single-wrapper">


							<div class="photo-overlay-icons">
								<div>
									<i ng-click="vm.deleteImage(item)" class="fa fa-times" aria-hidden="true"></i>
									<p>Remove</p>
									<!--<i ng-if="vm.type == 'image'" ng-click="vm.manageImagesToDelete(item)" class="fa fa-plus" aria-hidden="true"></i>-->
									<!--<p  ng-if="vm.type == 'image'">Set as</p>-->
								</div>

							</div>
							<img ng-src="{{vm.getImagePath(item)}}" alt="a gallery photo">

						</div>


					</div>

					<div class="col-xs-6 col-md-2 col-sm-3 col-lg-2" ng-if="vm.type == 'image'">
						<div class="photo-upload-display-wrapper" id="photo-upload-display" data-toggle="modal" data-target="#image-upload-modal" data-backdrop="false" >
							<i  class="fa fa-plus-circle" aria-hidden="true"></i>
						</div>
					</div>

					<div class="col-xs-6 col-md-6" ng-if="vm.type == 'video'">
						<div class="photo-upload-display-wrapper" id="photo-upload-display" data-toggle="modal" data-target="#image-upload-modal" data-backdrop="false" >
							<i  class="fa fa-plus-circle" aria-hidden="true"></i>
						</div>
					</div>

					<div ng-if="vm.type == 'video'" class="col-md-6" ng-repeat="item in vm.media">

						<!--Video-->
						<div class="video-single-wrapper" ng-if="item.name.length > 0">


							<div class="photo-overlay-icons">
								<div>
									<i ng-click="vm.deleteImage(item)" class="fa fa-times" aria-hidden="true"></i>
									<!--<i ng-if="vm.type == 'image'" ng-click="vm.manageImagesToDelete(item)" class="fa fa-plus" aria-hidden="true"></i>-->
									<!--<p  ng-if="vm.type == 'image'">Set as</p>-->
								</div>

							</div>

							<video width="100%" height="auto" controls>
								<source src="{{vm.getVideoUrl(item)}}" type="video/mp4">
								<source src="{{vm.getVideoUrl(item)}}" type="video/ogg">
								Your browser does not support the video tag.
							</video>

						</div>

						<p>Uploaded: {{item.date}}</p>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<image-upload-directive type="vm.type" images="vm.media"></image-upload-directive>
