<div class="interests-content-wrapper">
	<div class="interests-title">
		<p>{{vm.title}}</p>
	</div>

	<div class="interests-sub-title">
		<p>{{vm.subtitle}}</p>
	</div>

	<div class="checkbox-input-wrapper">
		<div class="container-fluid">
			<div class="row">
				<!--The any checkbox-->
				<div class="checkbox-any-wrapper">
						<div class="interests-input-single">
							<fancy-checkbox>
								<label><input id="any-checkbox" ng-click="vm.anyOptionSelected()" ng-init="" type="checkbox" value="'Any'">Any</label>
							</fancy-checkbox>
						</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" ng-class="{'disabledElement': vm.selectedOptions[0] == 'Any'}">

		<div class="row">

			<div class="checkbox-5-column-wrapper">
				<div  ng-if="vm.columns == 5" ng-repeat="option in vm.dataOptions track by $index">

						<div ng-if="vm.checkIfNeedsSpareColumns($index) == true" class="col-lg-2 col-md-2 col-sm-0 col-xs-0">

						</div>

						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
							<div class="interests-input-single">
								<fancy-checkbox>
									<label><input id="input{{option.key}}" class="interests-input-element" ng-click="vm.setCheckBoxOption(option.name)" ng-init="" type="checkbox" value="{{option.name}}">{{option.name}}</label>
								</fancy-checkbox>
							</div>
						</div>

				</div>
			</div>


			<div ng-if="vm.columns == 4" class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="option in vm.dataOptions">
				<div class="interests-input-single">
					<fancy-checkbox>
					<label><input id="input{{option.key}}" class="interests-input-element" ng-click="vm.setCheckBoxOption(option.name)" ng-init="" type="checkbox" value="{{option.name}}">{{option.name}}</label>
						</fancy-checkbox>
				</div>
			</div>
		</div>
		</div>
	</div>

	<!--Navigate to the next section-->
	<!--<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.selectedOptions.length < vm.minvaluesneeded}">-->
		<!--<button class="happii-btn" ng-click="vm.saveCheckboxDetails()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper" style="text-align: center">

		<div class="section-nav-content">
			<p ui-sref="{{vm.navigatefrom}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-class="{'disabledElement': vm.selectedOptions.length < vm.minvaluesneeded}" ng-click="vm.saveCheckboxDetails()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>
