<div class="interests-content-wrapper">
	<div class="interests-title">
		<p>{{vm.title}}</p>
	</div>


	<div class="interest-favourite-wrapper" fade-background blur="8">

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="favourite-input-wrapper">
					<p class="favourite-title">{{vm.innertitle}}</p>

					<div class="favourite-input">
						<input maxlength="35" ng-model="vm.selectedItem" ng-model-options="{debounce:500}" placeholder="Start typing here..." type="text" ng-change="vm.manageAPiSearch()">
						<!--<i ng-if="vm.apiref != 'books'" ng-click="vm.addFavouriteItem(vm.selectedItem)" class="fa fa-plus" aria-hidden="true"></i>-->
					</div>

					<div class="api-results-wrapper" ng-show="vm.apiResults.length > 0">

						<!--Books-->
						<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-show="vm.apiref == 'books'">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-2 col-xs-2">
										<div class="api-result-image-wrapper">
											<img ng-src="{{result.volumeInfo.imageLinks.thumbnail}}" alt="book image">
										</div>
									</div>
									<div class="col-md-8 col-xs-8">
										<p>Title: {{result.volumeInfo.title}}</p>
										<p>Author: {{result.volumeInfo.authors[0]}}</p>
									</div>
									<div class="col-md-2 col-xs-2">
										<i ng-click="vm.addFavouriteItem(result.volumeInfo); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>
							</div>

						</div>

						<!--Music-->
						<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-show="vm.apiref == 'music'">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-2 col-xs-2">
										<div class="api-result-image-wrapper">
											<img ng-src="{{result.album.images[0].url}}" alt="album image">
										</div>
									</div>
									<div class="col-md-8 col-xs-8">
										<p>Track: {{result.name}}</p>
										<p>Artist: {{result.artists[0].name}}</p>
									</div>
									<div class="col-md-2 col-xs-2">
										<i ng-click="vm.addFavouriteItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>
							</div>

						</div>

						<!--Film-->
						<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-show="vm.apiref == 'viewings'">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-2 col-xs-2">
										<div class="api-result-image-wrapper">
											<img ng-src="http://image.tmdb.org/t/p/w185//{{result.poster_path}}" alt="film image">
										</div>
									</div>
									<div class="col-md-8 col-xs-8">
										<p>Title: {{result.title}}</p>
										<p>Release: {{result.release_date}}</p>
									</div>
									<div class="col-md-2 col-xs-2">
										<i ng-click="vm.addFavouriteItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>
							</div>

						</div>

						<!--Sport-->
						<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-show="vm.apiref == 'sport'">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-2 col-xs-2">
										<div class="api-result-image-wrapper">
											<img ng-src="{{result.image}}" alt="album image">
										</div>
									</div>
									<div class="col-md-8 col-xs-8">
										<p>Sport: {{result.name}}</p>
									</div>
									<div class="col-md-2 col-xs-2">
										<i ng-click="vm.addFavouriteItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="favourite-list-wrapper">

					<ul>
						<li class="favourite-item" ng-repeat="item in vm.selectedOptions | limitTo: 5 track by $index" fade-background blur="8">

							<i ng-click="vm.removeFavouriteItem(item)" class="fa fa-times" aria-hidden="true"></i>
							<label ng-if="vm.apiref == 'sport'" class="favourite-item-delay">{{item.name | limitTo: 35}}</label>
							<label ng-click="vm.watchFilmTrailer(item)" data-backdrop="false" data-toggle="modal" data-target="#watch-trailer-modal" ng-if="vm.apiref == 'viewings'" class="favourite-item-delay">{{item.title | limitTo: 35}}</label>
							<label ng-if="vm.apiref == 'books'" class="favourite-item-delay">{{item.title | limitTo: 35}}</label>
							<label ng-if="vm.apiref == 'music'" class="favourite-item-delay">{{item.name | limitTo: 35}}</label>

						</li>

						<li class="favourite-item" ng-repeat="item in vm.favouritePlaceholderItems | limitTo: 5 track by $index" fade-background blur="8">

							<div ng-if="($index + 1) > vm.selectedOptions.length">
								<i class="fa fa-times lower-white" aria-hidden="true"></i>
								<label class="favourite-item-delay lower-white">{{item.title}}</label>
							</div>


						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>



	<!--Navigate to the next section-->
	<!--<div class="next-step-btn-wrapper">-->
		<!--<button class="happii-btn" ng-click="vm.saveSelection()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper" style="text-align: center">

		<div class="section-nav-content">
			<p ui-sref="{{vm.navigatefrom}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-click="vm.saveSelection()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>

	<!-- Modal for watching film trailers -->
	<div id="watch-trailer-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-body">
					<button ng-click="vm.player.destroy()" type="button" class="close" data-dismiss="modal">&times;</button>
					<div id="player">

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
