<div class="question-partner-radio-directive">

	<div class="partner-question">

		<div class="partner-icon-wrapper-directive">

			<div class="partner-icon-directive">
				<img ng-src="{{vm.icon}}" alt="an icon">
			</div>

			<p class="partner-stats-title">{{vm.title}}</p>
		</div>



		<div class="question-type-input-wrapper">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="option in vm.dataToDisplay" ng-if="vm.columns == 2">

					<div class="input-single">
						<fancy-checkbox>
						<label><input ng-click="vm.saveRadioSelection()" ng-model="vm.selected" class="question-radio-btn" type="radio" ng-value="option"> {{option}}</label>
						</fancy-checkbox>
					</div>

				</div>

				<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="option in vm.dataToDisplay" ng-if="vm.columns == 3">

					<div class="input-single">
						<fancy-checkbox>
						<label><input ng-click="vm.saveRadioSelection()" ng-model="vm.selected" class="question-radio-btn" type="radio" ng-value="option"> {{option}}</label>
							</fancy-checkbox>
					</div>

				</div>

				<div class="col-md-3 col-xs-12" ng-repeat="option in vm.dataToDisplay" ng-if="vm.columns == 4">
					<div class="input-single">
						<fancy-checkbox>
						<label><input ng-click="vm.saveRadioSelection()" ng-model="vm.selected" class="question-radio-btn" type="radio" ng-value="option"> {{option}}</label>
							</fancy-checkbox>
					</div>
				</div>
			</div>


		</div>


		<!--Navigate to the next section-->
		<!--<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.selected == ''}">-->
			<!--<button ui-sref="{{vm.navigateto}}" class="happii-btn">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
		<!--</div>-->

		<div class="navigation-wrapper navigation-wrapper-abs">

			<div class="section-nav-content">
				<p ui-sref="{{vm.navigatefrom}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
				<p>|</p>
				<p ng-class="{'disabledElement': vm.selected == ''}" ui-sref="{{vm.navigateto}}">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
			</div>

		</div>
	</div>

</div>