<div class="image-section-profile-photo-wrapper">

    <div class="image-section-title">
        <p>{{vm.title}}</p>
    </div>

    <div ng-show="vm.photoMode == 'upload'">
        <div class="photo-dots-wrapper">

                <i ng-repeat="dot in vm.dots" class="fa fa-circle" ng-class="{'dot-opacity' : dot != vm.dotno}" aria-hidden="true"></i>

        </div>

        <div class="profile-photo-content-wrapper">

            <div class="container-fluid">

                <div class="row">

                    <div class="photo-upload-btns-wrapper">
                        <div class="col-md-12">
                            <button id="photo-upload-dropzone" class="photo-upload-btn device-upload-btn">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Upload from your device
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="vm.authFacebook()" class="photo-upload-btn facebook-upload-btn">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Upload from Facebook
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="vm.authInstagram()" class="photo-upload-btn instagram-upload-btn">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Upload from Instagram
                            </button>
                        </div>

                        <div ng-if="vm.apiref == 'profileVideos'" class="col-md-12">
                            <div class="video-url-upload-wrapper">
                                <div class="container-fluid" style="padding: 0px">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input ng-model="vm.newFaveVideo.src" placeholder="please enter a youtube or vimeo url" type="text">
                                        </div>
                                        <div class="col-md-3">
                                            <button ng-class="{'disabledElement' : vm.newFaveVideo.src.length == 0}" ng-click="vm.addFavouriteVideo()" class="photo-upload-btn">save</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="photo-text-guidelines-wrapper">

                            <div ng-if="vm.apiref == 'profileImage'">
                                <h3>WE ACCEPT</h3>
                                <p>
                                    Passport photo style, head and shoulders, no six packs or bikini shots
                                    (or indeed anything deemed dodgy) taken within the last 3 months,
                                    just you and in colour.
                                </p>
                                <p>MAX FILE SIZE : 5MB</p>
                            </div>

                            <div ng-if="vm.apiref != 'profileImage'">
                                <p>Our team will need to approve all images/videos before your profile is live.</p>
                                <p ng-if="vm.apiref == 'profileVideos'">Tip: Upload something you've created or drop in a link to something you love...basically whatever floats your boat. You can always add a video later if you're short on time</p>
                            </div>
                            <p style="font-weight: bold;color: red;">{{vm.photoError}}</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="photo-confirmation-wrapper" ng-show="vm.photoMode != 'upload'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div ng-show="vm.getImagePath(vm.profileImageContent).length > 0" class="photo-upload-display-wrapper" id="photo-upload-display" style="background-image: url({{vm.getImagePath(vm.profileImageContent)}})" ng-style="{'background-image':'url({{vm.getImagePath(vm.profileImageContent)}})'}">
                        <i ng-if="vm.profileImageContent.name == ''" class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>

                    <div ng-show="vm.getImagePath(vm.profileImageContent).length == 0" class="photo-upload-display-wrapper" id="photo-upload-display" style="background-image: url({{vm.getImagePath(vm.profileImageContent)}})" ng-style="{'background-image':'url(images/icons/tick.png)'}">
                        <i ng-if="vm.profileImageContent.name == ''" class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="photo-confirmation-btns-wrapper">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="photo-upload-btn check-btn" ui-sref="{{vm.navigateto}}">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        I'm happy with that
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button ng-click="vm.photoMode = 'upload'" class="photo-upload-btn device-upload-btn">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        {{vm.reuploadText}}
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <p>Our team will need to approve all images before your profile is live.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="image-section-navigation">

        <div class="image-section-nav-content">
            <p ui-sref="{{vm.navigatefrom}}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
            <p>|</p>
            <p ui-sref="{{vm.navigateto}}" ng-class="{'disabledElement': vm.profileImageContent.name == ''}">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </div>

    </div>



</div>

<!-- Facebook modal for picking images -->
<div class="modal fade" id="facebook-pic-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Select an Image</p>
            </div>

            <div class="modal-body">

                <div ng-repeat="photo in vm.socialPhotos" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div ng-if="photo.type == 'facebook'" ng-class="{'image-picker-selected' : vm.activeSocialPhoto == photo}" class="social-img-single">
                        <img ng-click="vm.activeSocialPhoto = photo" width="200px" height="200px" ng-src="{{vm.getImagePath(photo)}}" alt="a photo from facebook">
                    </div>

                    <div ng-if="photo.type == 'instagram'" ng-class="{'image-picker-selected' : vm.activeSocialPhoto == photo}" class="social-img-single">
                        <img ng-click="vm.activeSocialPhoto = photo" width="200px" height="200px" ng-src="{{vm.getImagePath(photo)}}" alt="a photo from instagram">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button ng-class="{'disabledElement' : vm.activeSocialPhoto.name == ''}" ng-click="vm.setSocialImageToEdit(vm.activeSocialPhoto, '#facebook-pic-modal')" type="button" class="btn btn-default" data-dismiss="modal">Use Picture</button>
            </div>
        </div>

    </div>
</div>

<div ng-if="vm.crop == true">
    <!--Editting the image-->
    <image-edit-directive callback="vm.updateBuilderObject" show="vm.showImageEditor" aspectratio="vm.aspectratio" imageobj="vm.profileImageContent"></image-edit-directive>
</div>
