<!-- Modal -->
<div id="forgot-password-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>Please enter your email to reset your password</p>
				<input ng-model="vm.email" placeholder="please enter your Happii email" type="text" style="width: 100%">
			</div>
			<div class="modal-footer">
				<button ng-click="vm.resetPassword()" data-dismiss="modal" ng-class="{'disabledElement' : vm.checkEmailIsValid() == false}">Reset</button>
			</div>
		</div>

	</div>
</div>