<div class="builder-welcome-page-wrapper">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<header>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="happii-logo-wrapper">
						<img ng-src="images/logo.png" alt="the happii logo">
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-btn-wrapper">
						<p ui-sref="sign-in">Sign In</p>
					</div>
				</div>

			</header>

		</div>
	</div>
</div>

	<div class="builder-welcome-content">

		<div class="welcome-icon-wrapper">
			<img ng-src="images/icons/face.png" alt="happii face icon">
		</div>

		<div class="welcome-title">
			<p>
				Welcome to Happii
			</p>
		</div>

		<div class="welcome-text">
			<!--<p ng-if="vm.activated == true">-->
				<!--Great, thanks for registering with us. Now it's time to build your profile page. This will take around five minutes. Try and be as honest as possible - quality matches will depend on it!-->
			<!--</p>-->

			<!--<p ng-if="vm.activated == false">-->
				<!--Your profile can't be activated-->
			<!--</p>-->

			<p>
				Great, thanks for registering with us. Now it's time to build your profile page. This will take around five minutes. Try and be as honest as possible - quality matches will depend on it!
			</p>

			<button class="happii-btn" ui-sref="builder.questions.image-section.intro">Continue</button>
		</div>

	</div>
</div>