<div class="builder-questions-wrapper">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<header>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="happii-logo-wrapper" ui-sref="home">
						<img ng-src="images/logo.png" alt="the happii logo">
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="builder-question-dots">

						<div class="row">
							<div class="builder-dot-single col-md-1"ng-repeat="dot in vm.builderQuestionDots">

								<i class="fa fa-circle" aria-hidden="true" ng-if="vm.activeQuestion != dot"></i>
								<i class="fa fa-circle" aria-hidden="true" ng-style="{opacity: 1}"  ng-if="vm.activeQuestion == dot"></i>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<button class="happii-btn-empty" ng-click="vm.signOut()">SIGN OUT</button>
				</div>

			</header>
		</div>
		</div>
	</div>

	<!-- UI View for the builder questions -->
	<builder-questions ui-view>

	</builder-questions>
</div>