<div class="builder-welcome-page-wrapper">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<header>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="happii-logo-wrapper">
						<img ng-src="images/logo.png" alt="the happii logo">
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-btn-wrapper">
						<p ui-sref="sign-in">Sign In</p>
					</div>
				</div>

			</header>

		</div>
	</div>
</div>

	<div class="builder-welcome-content">

		<div class="welcome-icon-wrapper">
			<img ng-src="images/icons/face.png" alt="happii face icon">
		</div>

		<div class="welcome-title">
			<p>
				Hello Happii User
			</p>
		</div>

		<div class="welcome-text">
			<!--<p ng-if="vm.activated == true">-->
				<!--Your profile has now been activated, please sign in to start creating your profile-->
			<!--</p>-->

			<!--<p ng-if="vm.activated == false">-->
				<!--Your profile can't be activated-->
			<!--</p>-->
			<p>Please Enter your new password</p>

			<div class="password-input-wrapper">
				<div class="row">
					<div class="col-md-12">

						<div class="personal-details-input" ng-if="vm.password != '' && vm.passwordRetype != '' && vm.password != vm.passwordRetype">
							<p class="error-message">Passwords do not match*</p>
						</div>

						<div class="personal-details-input" ng-if="vm.checkPasswordConditions() == false && vm.password != ''">
							<p class="error-message">Passwords format is incorrect. Minimum 6 characters with at least one uppercase letter and one number</p>
						</div>


						<div class="personal-details-input">

                    <span class="overlay" ng-show="!vm.password" style="text-align: right; width: 250px; position: absolute; right: 0; padding-right: 50px; padding-top: 5px; font-size: 7pt; color: gray">
                        (Minimum 6 characters with at least one uppercase letter and one number)
                     </span>
							<input name="password" id="register-password" ng-model="vm.password" placeholder="Enter password..." type="password">

						</div>

						<div class="personal-details-input">
							<input maxlength="50" name="password-repeat" ng-model="vm.passwordRetype" placeholder="Re-enter your password..." type="password">
						</div>

						<div class="personal-details-input">
							<button ng-click="vm.saveNewPassword()" ng-class="{'disabledElement' : vm.checkPasswordConditions() == false}">Save New Password</button>
						</div>

					</div>
				</div>
			</div>




		</div>

	</div>
</div>