<div class="builder-welcome-page-wrapper">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<header-directive></header-directive>

		</div>
	</div>
</div>

	<div class="builder-welcome-content">

		<div class="welcome-icon-wrapper">
			<img ng-src="images/icons/face.png" alt="happii face icon">
		</div>

		<div class="welcome-title">
			<p>
				Welcome to Happii, {{vm.name}}
			</p>
		</div>

		<div class="welcome-text">
			<p>
				We have created a quick and easy way for you to build your unique profile page. Simply answer the following set of questions and you’ll be up and running within approximately 5 minutes.
			</p>
		</div>



		<div class="welcome-lets-go-btn-wrapper">
			<button ui-sref="builder.questions.image-section.intro" class="happii-btn">
				Let's go
				<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
			</button>
		</div>

	</div>
</div>