<div class="register-dob-wrapper" ng-init="vm.setUpRegisterDOBController()">

    <div class="dob-icon-wrapper">

        <div class="dob-icon">
            <img ng-src="images/icons/date/calandar.png" alt="date of birth icon">
        </div>
    </div>

    <p class="register-question-title">
        Your Date Of Birth...
    </p>

    <div class="register-dob-options-wrapper">

        <div class="row">
            <div class="col-md-4">
                <div class="dob-input-wrapper">

                    <select ng-model="vm.selectedDay" ng-options="day for day in vm.days">
                        <option disabled selected value="">Day</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dob-input-wrapper">

                    <select placeholder="Month" ng-model="vm.selectedMonth" ng-options="month.name for month in vm.months track by month.value">
                        <option disabled selected value="">Month</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dob-input-wrapper">

                    <select ng-model="vm.selectedYear" ng-options="year for year in vm.years">
                        <option disabled selected value="">Year</option>
                    </select>
                </div>
            </div>
         
        </div>

    </div>

</div>


<!--Navigate to the next section-->
<div class="next-step-btn-wrapper">
    <button class="happii-btn happii-btn-back" ui-sref="register.gender"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Go Back</button>
    <button ng-class="{'disabledElement': vm.selectedDay == 0 || vm.selectedMonth == 0 || vm.selectedYear == 0}" class="happii-btn" ng-click="vm.setSelectedDob()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
</div>