<div class="register-gender-wrapper" ng-init="vm.setUpRegisterGenderController()">
    <p class="register-question-title">
        I am a...
    </p>
    <div class="register-man-woman-icon-wrapper">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="gender-icon-wrapper" ng-class="{'selected-man': vm.selectedGender == 'male'}">
                    <div class="gender-icon-img gender-icon-img-man" ng-click="vm.setSelectedGender('male')" ng-class="">
                        <!--<img ng-src="images/icons/gender/male.png" alt="male icon">-->

                        <img ng-if="vm.selectedGender == 'male'" src="images/icons/gender/male-selected.png" alt="gender icon">
                        <img ng-if="vm.selectedGender != 'male'" src="images/icons/gender/male.png" alt="gender icon">
                    </div>
                    <p>Man</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="gender-icon-wrapper" ng-class="{'selected-woman': vm.selectedGender == 'female'}">
                    <div class="gender-icon-img gender-icon-img-woman" ng-click="vm.setSelectedGender('female')">
                        <!--<img ng-src="images/icons/gender/female.png" alt="female icon">-->

                        <img ng-if="vm.selectedGender == 'female'" src="images/icons/gender/female-selected.png" alt="gender icon">
                        <img ng-if="vm.selectedGender != 'female'" src="images/icons/gender/female.png" alt="gender icon">
                    </div>
                    <p>Woman</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Navigate to the next section-->
<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.selectedGender != ('female') && vm.selectedGender != ('male')}">
    <button class="happii-btn happii-btn-next" ui-sref="register.dob">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
</div>