<div class="register-location-wrapper" ng-init="vm.setUpRegisterLocationController()">

    <div class="location-icon-wrapper">

        <div class="location-icon">
            <img ng-src="images/icons/location/location.png" alt="location icon">
        </div>
    </div>

    <p class="register-question-title">
        I Live In...
    </p>

    <div class="register-location-input-wrapper">

        <div class="row">
            <p>{{vm.locationError}}</p>
        </div>

        <div class="row">

            <div class="col-md-12">

                <input maxlength="50" id="register-location-search" ng-model="vm.postcode" placeholder="Enter Your Postcode" type="text"><i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
        </div>

    </div>

</div>


<!--Navigate to the next section-->
<div class="next-step-btn-wrapper">
    <button class="happii-btn happii-btn-back" ui-sref="register.dob"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Go Back</button>
    <button ng-class="{'disabledElement': vm.validAddress == false}" class="happii-btn" ui-sref="register.personal-details">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
</div>