<div class="register-personal-details-wrapper" ng-init="vm.setUpRegisterPersonalDetailsController()">

    <p class="register-question-title">
        Almost There!
    </p>

    <div class="register-personal-details-input-wrapper">

        <div class="row">
           <div class="col-md-12">

                <div class="personal-details-input">
                     <span class="overlay" ng-show="!vm.firstName" style="position: absolute; right: 0; padding-right: 50px; padding-top: 10px; font-size: 8pt; color: gray">
                       (We will show this)
                     </span>
                    <input maxlength="50" name="forename" ng-model="vm.firstName" placeholder="Enter your first name..." type="text">
                </div>

               <div class="personal-details-input">
                    <span class="overlay" ng-show="!vm.surname" style="position: absolute; right: 0; padding-right: 50px; padding-top: 10px; font-size: 8pt; color: gray">
                       (We will not show this)
                     </span>
                   <input maxlength="50" name="surname" ng-model="vm.surname" placeholder="Enter your surname..." type="text">
               </div>

               <div class="personal-details-input" ng-if="vm.showEmailError == true">
                   <p class="error-message">Not a valid email address</p>
               </div>

               <div class="personal-details-input" style="position: relative;">
                      <span class="overlay" ng-show="!vm.email" style="position: absolute; right: 0; padding-right: 35px; padding-top: 10px; font-size: 8pt; color: gray">
                       (We will not show this)
                     </span>
                   <input maxlength="50" name="email" ng-model="vm.email" placeholder="Enter your email..." type="text" class="form-input-email">
               </div>


               <div class="personal-details-input">
                     <span class="overlay" ng-show="!vm.mobileNo" style="position: absolute; right: 0; padding-right: 50px; padding-top: 10px; font-size: 8pt; color: gray">
                       (We will not show this)
                     </span>
                   <input maxlength="50" value="" name="mobile" ng-model="vm.mobileNo" placeholder="Enter your mobile number..." type="text">
               </div>


               <div class="personal-details-input" ng-if="vm.showPasswordRetypeError == true">
                   <p class="error-message">Passwords do not match*</p>
               </div>

               <div class="personal-details-input" ng-if="vm.showPasswordError == true">
                   <p class="error-message">Passwords format is incorrect. Minimum 6 characters with at least one uppercase letter and one number</p>
               </div>


               <div class="personal-details-input" ng-if="vm.oauth == false">

                    <span class="overlay" ng-show="!vm.password" style="text-align: right; width: 250px; position: absolute; right: 0; padding-right: 50px; padding-top: 5px; font-size: 8pt; color: gray">
                        (Minimum 6 characters with at least one uppercase letter and one number)
                     </span>
                   <input name="password" id="register-password" ng-model="vm.password" placeholder="Enter password..." type="password">

               </div>

               <div class="personal-details-input" ng-if="vm.oauth == false">
                   <input maxlength="50" id="register-password-retype" name="password-repeat" ng-model="vm.passwordRetype" placeholder="Re-enter your password..." type="password">
               </div>

               <div class="verify-age-wrapper">
                   <div class="row">

                       <div class="col-md-2 col-xs-2">
                           <input type="checkbox" ng-click="vm.checkAllPersonalDetailsAreFilled()" ng-model="vm.termsAccepted" ng-model="vm.termsCheckbox">
                       </div>

                       <div class="col-md-10 col-xs-10">
                           <p>I certify that I am over 18 and have read and accepted the <a ui-sref="terms">Terms & Conditions</a>, the <a ui-sref="privacy">Privacy & Cookie Policy</a> and the code of conduct.</p>
                       </div>

                   </div>

                   <div class="row">

                       <div class="col-md-2 col-xs-2">
                           <input type="checkbox">
                       </div>

                       <div class="col-md-10 col-xs-10">
                            <p style="margin-top: 8px;">I would like to receive offers from Happii from time to time</p>
                       </div>

                   </div>
               </div>

           </div>
        </div>

    </div>

</div>


<!--Navigate to the next section-->
<div class="next-step-btn-wrapper">
    <button class="happii-btn happii-btn-back" ui-sref="register.location"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Go Back</button>
    <button class="happii-btn" ng-click="vm.finishRegisterProcess()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
</div>