<div class="question-complete-wrapper">

	<div class="complete-content-wrapper">

		<div class="happi-face-icon-wrapper">
			<div class="happi-face-icon">
				<img ng-src="images/icons/face.png" alt="happy face">
			</div>
		</div>

		<div>
			<!--<p>Congratulations & welcome!</p>-->
			<p>That's it, you're all done! Welcome to Happii</p>
		</div>


		<!--Navigate to the next section-->
		<div class="view-profile-btn-wrapper" ng-class="{'disabledElement': vm.selected == ''}">
			<button ui-sref="profile-view({id: vm.profileId})" class="happii-btn">View My Profile Page<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
		</div>
	</div>
</div>