<div class="profile-description-builder-wrapper">

	<div class="profile-description-top-text-wrapper">
		<p>Write a short profile of yourself…</p>

		<p>We’re not after "War & Peace" so just give us the highlights in under {{vm.wordLimit}} characters</p>
	</div>

	<div class="profile-description-input-section" fade-background blur="25">

		<div class="text-area-wrapper">
			<textarea ng-model="vm.profileDescription" maxlength="{{vm.wordLimit}}"></textarea>
			<p>{{vm.getCharactersLeft()}} characters left</p>
		</div>

		<div class="next-step-button" ng-class="{'disabledElement': vm.profileDescription.length == 0}">
			<button ng-click="vm.saveBuilderProfileDescription()" class="happii-btn">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
		</div>
	</div>

	<!--<div class="skip-step-wrapper">-->
		<!--<p ui-sref="builder.questions.image-section.profile-video"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>-->
		<!--<p ui-sref="builder.questions.basic-stats.location-from">skip this step <i class="fa fa-chevron-right" aria-hidden="true"></i></p>-->
	<!--</div>-->

	<div class="navigation-wrapper">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.image-section.profile-video"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ui-sref="builder.questions.basic-stats.location-from">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>

</div>