<div class="travel-content-wrapper">
	<div class="travel-title">
		<p>Travel</p>
	</div>

	<div class="travel-sub-title">
		<p>Describe your favourite travel experiences and add up to 3 supporting images and a video</p>
	</div>


	<div class="places-describe-wrapper" fade-background blur="8">

		<div class="places-describe-tab-names">

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" ng-repeat="place in vm.selectedPlacesBeenOptions">
					<p ng-click="vm.switchActivePlace(place)" ng-class="{'pink': vm.activePlace.name == place.name}">{{place.name | limitTo: 20}}</p>
				</div>

		</div>

		<div class="places-describe-wrapper-content">

			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

				<div class="text-area-wrapper">
					<textarea ng-model="vm.activePlace.description" placeholder="Describe your experience in that city e.g. when you visited, what you loved,
where you went, who you met and what you saw."></textarea>

					<p style="color: white">{{vm.photoUploadMessage}}</p>
				</div>

			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

				<div class="travel-upload-photo-wrapper">

					<div id="photo-upload-display">
						<button class="happii-btn" ng-click="vm.triggerDropZoneForImage()">Upload Photo <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
					</div>

					<div id="video-upload-display">
						<button class="happii-btn" ng-click="vm.triggerDropZoneForVideo()">Upload Video <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="social-btn">
								<button class="happii-btn facebook-btn" ng-click="vm.authFacebook()">Facebook<i class="fa fa-facebook" aria-hidden="true"></i></button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="social-btn">
								<button class="happii-btn instagram-btn" ng-click="vm.authInstagram()">Instagram<i  class="fa fa-instagram" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>

	</div>

	<!-- Facebook modal for picking images -->
	<div class="modal fade" id="facebook-pic-modal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<p>Select an Image</p>
				</div>
				<div class="modal-body">

					<div ng-repeat="photo in vm.socialPhotos" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div ng-class="{'image-picker-selected' : vm.activeSocialPhoto == photo}" class="social-img-single">
							<img ng-click="vm.activeSocialPhoto = photo; vm.setSocialCanvasImage(photo.name, photo.src)" id="{{photo.name}}" width="200px" height="200px" ng-src="{{photo.src}}" alt="a photo from a social network">
						</div>
					</div>

					<!--Stores the image-->
					<canvas id="facebookCanvas" width="250" height="300" style="display: none"></canvas>

				</div>
				<div class="modal-footer">
					<button ng-class="{'disabledElement' : vm.activeSocialPhoto.src == ''}" ng-click="vm.saveSocialImage()" type="button" class="btn btn-default" data-dismiss="modal">Use Picture</button>
				</div>
			</div>

		</div>
	</div>



	<!--Navigate to the next section-->
	<!--<div class="next-step-btn-wrapper">-->
		<!--<button class="happii-btn" ng-click="vm.saveSelection()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper" style="text-align: center">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.travel.places-set"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-click="vm.saveSelection()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>



</div>
