<div class="travel-content-wrapper">
	<div class="travel-title">
		<p>Travel</p>
	</div>

	<div class="travel-sub-title">
		<p>Choose up to 4 favourite countries or cities that you’ve visited
			and 4 that you’d love to visit one day</p>
	</div>


	<div class="places-set-wrapper" fade-background blur="8">

		<div class="row" id="places-set-wrapper-content">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="travel-places-been-wrapper">

					<div class="travel-icon-wrapper">

						<div class="travel-icon">
							<img ng-src="images/icons/places-pink.png" alt="the travel icon">
						</div>

					</div>

					<p>Places I have been</p>

					<div class="travel-input-wrapper">
						<input id="places-been-input" ng-model="vm.placesBeenInput" placeholder="Start typing city or country..." type="text">
						<i class="fa fa-map-marker" aria-hidden="true"></i>

						<hr>
					</div>

					<div class="travel-list-wrapper">
						<ul>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.selectedPlacesBeenOptions | limitTo: 4 track by $index" fade-background blur="8">
								<li class="travel-item">

									<i ng-click="vm.removePlacesItem(vm.selectedPlacesBeenOptions, item)" class="fa fa-times white" aria-hidden="true"></i>
									<label class="travel-item-delay white">{{item.name | limitTo: 15}}</label>

								</li>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelGoPlaceholderItems | limitTo: 4 track by $index" fade-background blur="8">
								<li class="travel-item">

									<div ng-if="($index + 1) > vm.selectedPlacesBeenOptions.length">
										<i class="fa fa-times lower-white" aria-hidden="true"></i>
										<label class="favourite-item-delay lower-white">{{item.title}}</label>
									</div>
								</li>
							</div>



						</ul>
					</div>


				</div>


			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="travel-places-go-wrapper">

					<div class="travel-icon-wrapper">
						<div class="travel-icon">
							<img ng-src="images/icons/places-blue.png" alt="the travel icon">
						</div>

					</div>
					<p>Places I want to go</p>

					<div class="travel-input-wrapper">
						<input id="places-go-input" ng-model="vm.placesGoInput" placeholder="Start typing city or country..." type="text">
						<i class="fa fa-map-marker" aria-hidden="true"></i>


						<hr>
					</div>

					<div class="travel-list-wrapper">
						<ul>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.selectedPlacesGoOptions | limitTo: 4 track by $index" fade-background blur="8">
								<li class="travel-item" >

									<i ng-click="vm.removePlacesItem(vm.selectedPlacesGoOptions, item)" class="fa fa-times white" aria-hidden="true"></i>
									<label class="travel-item-delay white">{{item.name | limitTo: 15}}</label>

								</li>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelGoPlaceholderItems | limitTo: 4 track by $index" fade-background blur="8">
								<li class="travel-item" >

									<div ng-if="($index + 1) > vm.selectedPlacesGoOptions.length">

										<i class="fa fa-times lower-white" aria-hidden="true"></i>
										<label class="favourite-item-delay lower-white">{{item.title}}</label>
									</div>

								</li>
							</div>



						</ul>
					</div>



				</div>
			</div>
		</div>
	</div>



	<!--Navigate to the next section-->
	<!--<div class="next-step-btn-wrapper">-->
		<!--<button class="happii-btn" ng-click="vm.saveSelection()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper" style="text-align: center">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.interests.sport"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-click="vm.saveSelection()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>
