<div class="home-header appear">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ui-sref="home">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-tablet hide-mobile">
					<li id="menu-item-1" data-menuanchor="firstPage" class="home-menu-item"><a ui-sref="home">Home</a></li>
					<li id="menu-item-2" data-menuanchor="secondPage" class="home-menu-item"><a ui-sref="home">About Happii</a></li>
					<li id="menu-item-3" data-menuanchor="thirdPage" class="home-menu-item"><a ui-sref="home">Functions & Features</a></li>
					<li id="menu-item-4" data-menuanchor="fourthPage" class="home-menu-item"><a ui-sref="home">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ui-sref="sign-in">Sign in</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ui-sref="sign-in">Sign In</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function( $ ) {

		if($.fn.fullpage.destroy){
			$.fn.fullpage.destroy('all');
		}

	});

	function showThankyou() {

		$('#form-thankyou-message').css('visibility', 'visible');
		$('#contact-form').css('display', 'none');
	};
</script>

<div class="text-contents">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Contact Us</h1>

				<form id="contact-form" action="https://formspree.io/team@happii.co.uk"
					  method="POST">
					<div class="col-md-6">
						<input type="text" name="name" placeholder="Name*">
					</div>
					<div class="col-md-6">
						<input type="text" name="email" placeholder="Email*">
					</div>
					<div class="col-md-12">
						<textarea name="message" id="" placeholder="Enter your enquiry*"></textarea>
					</div>
					<div class="col-md-12">
						<input onclick="showThankyou()" type="submit" value="Submit" class="submit-btn">
					</div>
					<div class="clearfix"></div>
				</form>

				<p id="form-thankyou-message" style="visibility: hidden">Thanks for your message. We will respond as soon as possible</p>

				<!--darren@happii.co.uk-->

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="social-icons-contact">
					<a href=""><button><i class="fa fa-facebook" aria-hidden="true"></i></button></a>
					<a href="https://twitter.com/HappiiDating"><button><i class="fa fa-twitter" aria-hidden="true"></i></button></a>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="footer-contact" class="footer">
	<a href="./"><img src="images/logo.png" alt=""></a>
	<ul id="#myMenu">
		<li class="home-menu-item"><a ui-sref="home">Home</a></li>
		<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
		<li><a href="./#/safety-guidelines">Safety Guidelines</a></li>
		<li><a href="./#/terms">Terms & Conditions</a></li>
		<li><a href="./#/privacy">Privacy & Cookie Policy</a></li>
		<li><a href="./#/contact">Contact Us</a></li>
		<li><a style="cursor: default">Happii 2017 &copy;</a></li>
		<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/HappiiDating"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	</ul>
</div>