<div class="home-header appear">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ui-sref="home">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-tablet hide-mobile">
					<li class="home-menu-item"><a ui-sref="home">Home</a></li>
					<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
					<li class="home-menu-item"><a ui-sref="home">Functions & Features</a></li>
					<li class="home-menu-item"><a ui-sref="home">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ui-sref="sign-in">Sign in</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ui-sref="sign-in">Sign In</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function( $ ) {

		if($.fn.fullpage.destroy){
			$.fn.fullpage.destroy('all');
		}

	});

	/**
	 * Scroll to the top of the page
	 */
	function scrollToPageTop() {

		$('html, body').animate({ scrollTop: 0 }, 'fast');
	};

</script>

<div class="back-to-top-arrow" onclick="scrollToPageTop()">
	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</div>

<div class="text-contents">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Privacy & Cookies Policy</h1>

				<p><strong>Effective Date:</strong></p>
				<ol>
					<li><strong>Who are we?</strong>
						<ul>
							<li>We are Happii Dating Limited. We own and operate this website. Our contact details are on the website. Please contact us if you have any questions or feedback about this policy.</li>
							<li>We are registered with the Information Commissioner&rsquo;s Register of Data Controllers under number <strong>[insert]</strong>.</li>
						</ul>
					</li>
				</ol>

				<ol start="2">
					<li><strong>What&rsquo;s the point of this policy?</strong>
						<ul>
							<li>This policy tells you how we deal with your &ldquo;personal data&rdquo; (i.e. technical term for information about any identified or identifiable living person). Please read on to find out what kinds of personal data we collect, how we use and protect it, to whom we disclose it and how you can access and rectify it.</li>
							<li>Please do not use our website unless you are completely happy with this policy. If you do use our website, we will assume that you do accept it.</li>
						</ul>
					</li>
				</ol>

				<ol start="3">
					<li><strong>Might the policy change?</strong>
						<ul>
							<li>It may well do and so you should check it whenever you visit our website. We will assume you agree to the revised policy if you use the website after the effective date shown at the top of the policy.</li>
						</ul>
					</li>
				</ol>
				<ol start="4">
					<li><strong>What personal or other data do we collect? </strong>
						<ul>
							<li>We collect and store the information which you give us via forms on our website - such as your name, address, email address, phone number and so on - or when communicating with us by email or in some other way.</li>
							<li>We may receive and store certain information automatically when you interact with us. Examples include the internet protocol (IP) address used to connect your computer to the internet, connection information such as browser type and version, information about your mobile or other device including device-type and device identifier, operating system and platform, a unique reference number linked to the data you enter on our system, login details, clickstream data, details of your activity on our website with date / time stamps including the pages you visited, searches you made and services purchased.</li>
						</ul>
					</li>
				</ol>

				<ol start="5">
					<li><strong>What about cookies?</strong>
						<ul>
							<li>We and/or third parties use cookies and other tracking technologies on our website. A cookie is an identifier (a small file of letters and numbers) that is sent to your computer. Our website&rsquo;s functionality will be limited if you configure your browser to reject cookies.</li>
							<li>Cookies are widely used to make websites work, or work more efficiently, as well as to provide information to the website owner or others. Session cookies are temporary cookies that remain in the cookie file of your browser only until your browser is closed. They allow websites to link your actions during a browser session. Persistent cookies stay in the cookie file of your browser for longer (though how long will depend on the lifetime of the specific cookie). For further information on cookies, including how to use your browser to block them and how to delete cookies already stored on your device, visit: <a href="http://www.allaboutcookies.org">allaboutcookies.org</a>.</li>
							<li>Cookies are used on this website for the following purposes:</li>
						</ul>
						<ol>
							<li><strong><em>Session cookies: </em></strong>We use session cookies to enable the website to keep track of your movement from page to page and store your selections so you do not get asked repeatedly for the same information. These cookies allow you to proceed through many pages of the website quickly and easily without having to authenticate or reprocess each new area you visit. For example, the session cookie remembers your shopping cart selection so will have the items you selected when you are ready to check out.</li>
							<li><strong><em>Third party advertising cookies: </em></strong> As do many other sites, we may use third party advertisers and/or internet advertising companies working for them to fill ad space on our website including Appnexus (see <a href="http://www.appnexus.com/cookies">here</a>) and AdRoll (see <a href="http://www.adroll.com/about/privacy">here</a>). These third parties may use persistent cookies and other similar technologies (known as action tags, single pixel gifs and web beacons) to assess information about your visits to this and other sites. This is so they can track the effectiveness of their campaigns (including whether these advertisements are clicked on or viewed by users and later purchases by such users), avoid showing you the same advertisement repeatedly and display advertisements on this and other sites tailored to your preferences. We do not have any access to or control over these third party technologies. If you would like more information about these practices and to know your choices about not having this information used by certain of these companies, please visit <a href="http://www.youronlinechoices.com">youronlinechoices.com</a> and <a href="http://www.networkadvertising.org/choices">www.networkadvertising.org/choices</a><strong>.</strong> Please contact the third parties directly for more information about their privacy practices.</li>
							<li><strong><em>Google cookies</em></strong><em>:</em> Persistent cookies (up to four years we believe) are set in connection with the following Google services on our site and these cookies may involve certain non-personally identifying information being sent to Google:
								<ol>
									<li><strong><em>Google Analytics (&ldquo;GA&rdquo;)</em></strong><em>:</em> We use cookies to recognise and count the number of website visitors as well as providing other information about the visit such as duration, route through the website and what sites the visitor came from. This information helps us to improve the way our website works, for example by making sure users find what they need easily.</li>
									<li><strong><em>Google advertising cookies (AdSense, Doubleclick)</em></strong><strong>: </strong> Google uses cookies in connection with Google advertising on our website to serve ads to you based on your visits to this and other websites, to avoid showing you repeat ads and for various other purposes.</li>
								</ol>
							</li>
						</ol>
						<ul>
							<li><strong><em>GA Advertising Features: </em></strong></li>
						</ul>
						<p><strong><em>More information and opt out: </em></strong>Click <a href="http://www.google.com/policies/privacy/">here</a> for Google&rsquo;s privacy policy and <a href="https://www.google.co.uk/policies/technologies/types/">here</a> for more information about the kinds of cookies placed by Google. Click <a href="http://www.google.com/intl/en/policies/privacy/partners/">here</a> for information about how Google uses data from its partners&rsquo; sites or apps as well as how to opt out of Google cookies.</p>
						<ol>
							<li><strong><em>Social media cookies: </em></strong>We may use various social media and other third party features on our website including <a href="https://www.facebook.com/help/250558818375285/">like</a> button from <a href="http://www.facebook.com/help/cookies">Facebook</a>, follow button from <a href="https://twitter.com/privacy">Twitter</a>), <a href="https://support.google.com/plus/answer/1319578?hl=en-GB">Plus +1</a> button from <a href="https://www.google.co.uk/policies/technologies/types/">Google</a>, Pin It button from <a href="http://about.pinterest.com/en/privacy-policy">Pinterest</a>, share / follow button from <a href="https://www.linkedin.com/legal/cookie-policy">LinkedIn</a>, embed button from <a href="https://www.google.co.uk/policies/technologies/types/">YouTube</a>, These features may involve the relevant companies using cookies or linking your visit with cookies previously placed by them on your computer in order for them to collect information relating to your visit to our website or your interaction with their services or otherwise. Click the links shown above for further information about the specific features and those companies&rsquo; cookie / privacy practices generally as well as to opt out where this is possible.</li>
							<li><strong><em>Cookie-warning cookie: </em></strong>This cookie takes note of whether you are happy to accept cookies on this website based on your response to the message which appeared when you first visited the website. This persistent cookie will remember your preference for up to 12 months.</li>
						</ol>
						<ul>
							<li>By continuing to use our website, having seen our cookie notice, we assume that you consent to use of the cookies outlined above.</li>
						</ul>
					</li>
				</ol>

				<ol start="6">
					<li><strong>How do we use your personal data? </strong>
						<ul>
							<li>We use your personal data to provide our services, e.g. send service messages, process payments and/or fulfil orders.</li>
							<li>We use your personal data to help us communicate with you effectively should you try to contact us via our website.</li>
							<li>If you have given permission on our website, we may use your personal data to send you emails (or other communications such as mail, phone or SMS</li>
							<li>We may use personal data to recognize you when you visit or return to our website to track anonymised traffic and usage patterns, to prevent or detect fraud or abuses or to help us improve our website. We may use cookies to do this. See above.</li>
							<li>We retain personal data from closed accounts in order to comply with legal obligations, enforce our terms and conditions, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations and take other actions as permitted by law.</li>
							<li>We may access, remove, alter, store or otherwise use any personal data if we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if we are required to do so by law or appropriate authority.</li>
						</ul>
					</li>
				</ol>

				<ol start="7">
					<li><strong>How do we protect personal data? </strong>
						<ul>
							<li>Security is a high priority for us. We take appropriate precautions to protect personal data.</li>
							<li>Email and other electronic communications are not secure if they have not been encrypted. Your communications will pass through a number of network nodes before they reach us. So we do not accept responsibility for any unauthorised access to or loss of personal data that stems from a cause beyond our control. Nor can we be held responsible for the actions or omissions of other users or third parties who may misuse your personal data which they collect from the website.</li>
						</ul>
					</li>
				</ol>

				<ol start="8">
					<li><strong>To whom do we disclose personal data? </strong>
						<ul>
							<li>Payment details including credit card numbers are supplied direct to our payment partner mentioned on our website. We do not receive such information. To ensure your details are not being used without consent, your personal data may be supplied by our payment partners to relevant third parties including credit reference and fraud prevention agencies, who may keep a record of that information.</li>
							<li>We may allow access to your personal data by third parties who supply us with a service. Examples include e-commerce platform providers, website hosts, content delivery networks and businesses which assist us in undertaking communications or monitoring our website.</li>
							<li><strong>Very important:</strong> Any information which you enter into your profile (including your full name and age) plus any photo plus any post you make on our website (such as status updates) will be available to and searchable by users of our website.</li>
							<li>We may disclose personal data so far as reasonably necessary:
								<ol>
									<li>if we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if there has been a complaint about content posted by you, or if we are required to do so by law or appropriate authority; or</li>
									<li>in the case of an actual or proposed (including negotiations for a) sale or merger or business combination involving all or the relevant part of our business.</li>
								</ol>
							</li>
							<li>We may store or transfer personal data outside the European Economic Area (EEA) for the purposes stated in this policy. If so, we will of course comply with the applicable laws relating to data transfer outside the EEA.</li>
							<li>Except as otherwise specifically included in this policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to third parties, whether they are suppliers of services on our website (e.g. payment providers) or other websites, different rules will apply to their use or disclosure of your information. Please check their privacy policies carefully.</li>
						</ul>
					</li>
				</ol>

				<ol start="9">
					<li><strong>How can you access and rectify personal data? </strong>
						<ul>
							<li>You have the right to request personal data that we hold about you, subject to us reserving the right to withhold such data to the extent permitted by law. We may charge an administration fee in line with data protection laws and we may also require appropriate evidence of identity. Note that you may be able to rectify certain of your personal data within your account on our service (if applicable).</li>
							<li>For information about your rights under UK data protection laws, see the website of the <a href="http://www.ico.org.uk/">UK Information Commissioner</a>.</li>
						</ul>
					</li>
				</ol>
				<p>Version <strong>[insert]</strong></p>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<a href="./"><img src="images/logo.png" alt=""></a>
	<ul id="#myMenu">
		<li class="home-menu-item"><a ui-sref="home">Home</a></li>
		<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
		<li><a href="./#/safety-guidelines">Safety Guidelines</a></li>
		<li><a href="./#/terms">Terms & Conditions</a></li>
		<li><a href="./#/privacy">Privacy & Cookie Policy</a></li>
		<li><a href="./#/contact">Contact Us</a></li>
		<li><a style="cursor: default">Happii 2017 &copy;</a></li>
		<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/HappiiDating"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	</ul>
</div>