<div class="home-header appear">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ui-sref="home">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-tablet hide-mobile">
					<li class="home-menu-item"><a ui-sref="home">Home</a></li>
					<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
					<li class="home-menu-item"><a ui-sref="home">Functions & Features</a></li>
					<li class="home-menu-item"><a ui-sref="home">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ui-sref="sign-in">Sign in</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ui-sref="sign-in">Sign In</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function( $ ) {

		if($.fn.fullpage.destroy){
			$.fn.fullpage.destroy('all');
		}

	});

	/**
	 * Scroll to the top of the page
	 */
	function scrollToPageTop() {

		$('html, body').animate({ scrollTop: 0 }, 'fast');
	};

</script>

<div class="back-to-top-arrow" onclick="scrollToPageTop()">
	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</div>
<div class="text-contents">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Safety Guidelines</h1>
				<div class="columned-content">
				<p>At Happii, we want you to meet fantastic people, enjoy memorable dates and build awesome
					relationships.</p>

				<p>The vast majority of people that use dating sites are trustworthy, honest and sincere individuals
					but, occasionally there are exceptions. Just as you would
					when meeting people for the first time offline, please exercise that same level of caution before
					giving too much away, too soon, online.
				</p>
				<p>We’ve put together some straightforward guidelines that we’re confident will ensure you get the most
					out of your online dating experience, whilst staying as safe as possible.</p>
				</div>
				<hr>
			</div>
			<div class="col-md-6">
				<h3>When setting up your profile:</h3>
				<p>Ensure that your images are accurate (i.e. are of you!), current and aren’t explicit in nature as
					this may attract the wrong kind of attention.</p>
				<p>Only share images that, if you were to lose them, you wouldn’t be concerned if others found them.</p>

				<h3>When sending or receiving messages:</h3>
				<p>Don’t give out your personal contact details until you are 100% happy to do so…just use the Happii
					messaging platform where all messages are secure and are logged in case of abuse.
				</p>
				<p>Never give out your home and/or work address.
				</p>
				<p>If another user asks you for money in any way, shape or form then decline and report them immediately
					to a member of the Happii Team by clicking the Report User button on their profile page.</p>
				<p>Common sense we know, but don’t give out credit card or bank details, mothers maiden name or PIN
					numbers.</p>
				<p>Never become friends with another user across other social networks such as Facebook or Twitter, no
					matter how genuine they seem. If they’re a scammer (i.e. someone that’s only interested in your hard
					earned cash), they’ll have access to your life and may try and use your information for illegal
					purposes.
				</p>
				<p>Always be polite, honest and respectful – treat others as you would want to be treated.</p>
				<p>Report any abusive, rude or suspicious users to a member of the Happii team immediately and we will
					investigate further.</p>

				<h3>After the date:</h3>
				<p>Would you like to see that person again? If yes then tell them, if not also tell them, although
					politely of course – best not to give people false hope and enables both individuals to move on
					without a problem.</p>
				<p>If your date has been rude or abusive in any way then report them immediately using the Report User
					button, as explained earlier, and we will investigate further.</p>
				<p>If you’ve had a great date, let us know by emailing team@happii.co.uk – we love to hear about success
					stories!</p>
			</div>
			<div class="col-md-6">
				<h3>When logging in/out of your account:</h3>
				<p>Ensure that you’re not being overlooked so that your log-in details and personal information are
					protected.</p>
				<p>Ensure that you log-out correctly when finishing your session.</p>

				<h3>Before you meet someone:</h3>
				<p>Whenever you head out on a date, even if it’s with someone you’ve met before, always tell a friend
					when, where and who you are meeting and check in with them during and at the end of the date and
					once you return home safe.
				</p>
				<p>Meet in a public place, preferable an informal lunch date initially where alcohol is kept to a
					minimum and where you can get to know them in a safe and secure environment. Never meet at your or
					someone else’s home.</p>
				<p>Ensure you have a full charge on your mobile phone so you can call friends with updates or arrange a
					cab home.</p>
				<p>If you’re taking public transport home, be aware of the last tube or bus so you aren’t stranded.</p>
				<p>Aim to split the bill on the first date or certainly discuss how the bill will be settled in advance
					so there is no ambiguity and no large bills racked up for one person to pay for.</p>

				<h3>Other things to be aware of:</h3>
				<p>Don’t be tempted to use your webcam to record any intimate footage as this can be used by
					unscrupulous types to blackmail or extort you.</p>
				<p>Happii will not email you asking for passwords, financial details or other personal information. If
					you receive such emails, please let us know and we will investigate further.
				</p>
				<p>Don’t believe the sob stories! If someone you’ve been communicating with suddenly tells you they need
					money for medical treatment or some other ‘emergency’ then this person is likely to be scammer so
					please inform us immediately. Although we have stringent ID checks when new users sign up, some may
					still slip through the net so just be vigilant.</p>
				<p>Be wary of those that declare undying love after just a few messages. It’s likely these people are
					after something, maybe not immediately but you can be sure of a request at some stage for money or
					personal details.
				</p>
			</div>

			<div class="col-md-12">
				<hr>
				<div class="columned-content">
				<p>It is advisable for all Happii users to adjust their spam filters so that any messages we send aren’t directed to your spam folder.</p>
				<p>Happii takes user complaints extremely seriously. We will not tolerate any form of abuse and will fully investigate once a complaint is made and, if upheld, will take the appropriate action and involve third party organisations, including online fraud agencies and police services, if necessary.
				</p>
				<p>These guidelines aren’t meant to scare you in any way! Most are simply common sense ways and means to go about ensuring your safety when online dating – the majority of which we’re confident you’re more than aware of but, its the law, so we must include them.</p>
			</div>
			</div>

		</div>
	</div>
</div>

<div class="footer">
	<a href="./"><img src="images/logo.png" alt=""></a>
	<ul id="#myMenu">
		<li class="home-menu-item"><a ui-sref="home">Home</a></li>
		<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
		<li><a href="./#/safety-guidelines">Safety Guidelines</a></li>
		<li><a href="./#/terms">Terms & Conditions</a></li>
		<li><a href="./#/privacy">Privacy & Cookie Policy</a></li>
		<li><a href="./#/contact">Contact Us</a></li>
		<li><a style="cursor: default">Happii 2017 &copy;</a></li>
		<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/HappiiDating"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	</ul>
</div>