<div class="sign-in-page-wrapper">
<div class="container-fluid">
	<header-directive></header-directive>

	<div class="sign-in-content-wrapper" fade-background blur="8">

		<div class="sign-in-title">
			<p>Sign in</p>
		</div>

		<form class="sign-in-content" ng-submit="vm.signIn(email, password)" novalidate>

			<div class="sign-in-input-item" ng-if="vm.error != ''">
				<p style="color : red">{{vm.error}}</p>
			</div>

			<div class="sign-in-input-item">
				<input placeholder="enter your email address..." name="email" ng-model="email" type="text">
			</div>

			<div class="sign-in-input-item">
				<input placeholder="enter your password..." password="password" ng-model="password" type="password">
			</div>

			<div class="sign-in-input-item">
				<div class="sign-in-login-btn" fade-background blur="15">
					<button>Login</button>
					<div class="sign-in-icon-wrapper">
						<img ng-src="images/icons/signInIcon.png" alt="sign in icon">
					</div>

				</div>

			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<button class="social-btn social-btn-fb" ng-click="vm.signInFacebook()">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						Login from Facebook
					</button>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<button class="social-btn social-btn-ig" ng-click="vm.signInInstagram()">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						Login from Instagram
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-remember">
						<input type="checkbox" checked><label>Remember me</label>
					</div>

				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-remember forgotten-pwd">
						<label data-toggle="modal" data-target="#forgot-password-modal" data-backdrop="false">Forgotten password?</label>
					</div>

				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-register">
						<p>New to happii?</p>
					</div>

				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="sign-in-register sign-in-register-register">

						<div class="sign-in-icon-wrapper">
							<img ng-src="images/icons/signInIconWhite.png" alt="sign in icon">
						</div>

						<p ui-sref="register.gender">Register for free</p>


					</div>

				</div>
			</div>

		</form>
	</div>
</div>

	<reset-password-directive></reset-password-directive>


</div>