<div class="home-header appear">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ui-sref="home">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-tablet hide-mobile">
					<li class="home-menu-item"><a ui-sref="home">Home</a></li>
					<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
					<li class="home-menu-item"><a ui-sref="home">Functions & Features</a></li>
					<li class="home-menu-item"><a ui-sref="home">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ui-sref="sign-in">Sign in</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ui-sref="sign-in">Sign In</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function( $ ) {

		if($.fn.fullpage.destroy){
			$.fn.fullpage.destroy('all');
		}

	});

	/**
	 * Scroll to the top of the page
	 */
	function scrollToPageTop() {

		$('html, body').animate({ scrollTop: 0 }, 'fast');
	};

</script>

<div class="back-to-top-arrow" onclick="scrollToPageTop()">
	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</div>

<div class="text-contents">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Terms & Conditions</h1>


				<p><strong>Effective Date: [Insert date terms and conditions take effect &ndash; see below.]</strong></p>
				<ol>
					<li><strong>Introduction</strong>
						<ul>
							<li>This website is owned and operated by Happii Dating Limited. Our company information is at the end of this document.</li>
							<li>Please read these terms and conditions carefully. They cancel and replace any previous versions. By registering on or using our Service (as defined below) you agree to be bound by these terms and conditions. Please print or save these terms for future use as we will not keep a file copy specifically for the transaction with you and we cannot guarantee that they will remain accessible on our website in future. These terms and conditions are available in the English language only.</li>
							<li>These terms and conditions apply to all Users.</li>
						</ul>
					</li>
				</ol>
				<ol start="2">
					<li><strong>Definitions</strong>
						<ul>
							<li>Capitalised terms have the following meanings in these terms and conditions:
								<ol>
									<li>&ldquo;Content&rdquo; - all information of whatever kind (including profiles, posts, comments, blogs, chat, images, photos, audio, video, advertisements, messages etc.), published, stored or sent on or in connection with our Service.</li>
									<li>&ldquo;Service&rdquo; &ndash; our website, the services we offer by means of our website and any related software and services.</li>
									<li>&ldquo;User&rdquo; - persons or organisations using our Service (whether or not registered with us).</li>
								</ol>
							</li>
						</ul>
					</li>
				</ol>
				<ol start="3">
					<li><strong>Changes to the terms and conditions</strong>
						<ul>
							<li>We may change these terms and conditions by posting the revised version on our website a reasonable period before they become effective. Please check our website from time to time. You will be bound by the revised agreement if you continue to use our Service following the effective date shown. If you have a subscription to our Service and you don&rsquo;t agree to the changes, you can cancel your subscription in accordance with the &ldquo;Cancellation&rdquo; clause below.</li>
						</ul>
					</li>
				</ol>
				<ol start="4">
					<li><strong>Your order</strong>
						<ul>
							<li>Your order is an offer to contract with us. We will send you a confirmation email after your order. This is our acceptance of your offer and the point at which a legally binding contract is formed.</li>
						</ul>
					</li>
				</ol>
				<ol start="5">
					<li><strong>Right to cancel</strong>
						<ul>
							<li>If you are located within the European Economic Area, you have the right to cancel this contract subject to the provisions set out below.</li>

							<li>You lose the right to cancel contracts for the supply of services which have been fully performed, i.e. completed.</li>

							<li>If you do have the right to cancel, the following apply:</li>
						</ul>


						<p><em>Right to cancel</em></p>
						<ul>
							<li>You have the right to cancel this contract within 14 days without giving any reason.</li>
							<li>The cancellation period will expire after 14 days from the day of the conclusion of the contract.</li>
							<li>To exercise the right to cancel, you must inform us, Happii Dating Limited, Fruitworks, 77 Stour Street, Canterbury, CT1 2NR, England,<strong> [team@happii.co.uk]</strong>, of your decision to cancel this contract by a clear statement (e.g. a letter sent by post, fax or e-mail). You may use the model cancellation form at the end of this document but it is not obligatory.</li>
							<li>To meet the cancellation deadline, it is sufficient for you to send your communication concerning your exercise of the right to cancel before the cancellation period has expired.</li>
						</ul>
						<p><em>Effects of cancellation</em></p>
						<ul>
							<li>If you cancel this contract, we will reimburse to you all payments received from you.</li>
							<li>We will make the reimbursement without undue delay, and not later than 14 days after the day on which we are informed about your decision to cancel this contract.</li>
							<li>We will make the reimbursement using the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees as a result of the reimbursement.</li>
							<li>If you requested to begin the performance of services during the cancellation period, you shall pay us an amount which is in proportion to what has been performed until you have communicated to us your cancellation of this contract in comparison with the full coverage of the contract.</li>
						</ul>
					</li>
				</ol>


				<ol start="6">
					<li><strong>Use of our Service</strong>
						<ul>
							<li>We grant Users a limited personal non-transferable right to use our Service subject to these terms and conditions.</li>
							<li>You are not eligible for, and must not use or register on, our Service if:
								<ol>
									<li>you are under 18 years of age;</li>
									<li>display of or access to any aspect of this Service is illegal under the laws (if applicable) of the country from which you are accessing the Service (e.g. because the country does not permit such a Service or display of or access to such material at all or because you are under the relevant age limit in that country); or</li>
									<li>you have been convicted of any offence, or subject to any court order, relating to assault, violence, sexual misconduct or harassment.</li>
								</ol>
							</li>
							<li>You must not use our Service in connection with a business.</li>
							<li>You agree that you will not in connection with the Service:
								<ol>
									<li>breach any applicable law, regulation or code of conduct;</li>
									<li>publish or send any Content (including links or references to other content), or otherwise behave in a manner, which:
										<ol>
											<li>is defamatory, threatening, harassing, invasive of privacy, offensive, vulgar, racist, hateful, discriminatory, obscene, pornographic, sexually suggestive, promoting of self-harm, misleading, abusive or deceptive;</li>
											<li>infringes any intellectual property or other rights of others;</li>
										</ol>
									</li>
								</ol>
							</li>
							<li>involves phishing or scamming or similar; or</li>
							<li>we otherwise reasonably consider to be inappropriate;</li>
							<ol>
								<li>publish or send any Content which involves revealing any personal data of another person (i.e. information enabling someone to be identified or contacted) unless that person is 18 years or over and you have obtained that person&rsquo;s explicit written consent or you are the parent/guardian of such person;</li>
								<li>impersonate any person or entity for the purpose of misleading others;</li>
								<li>publish or send any Content which links to any third party websites which are unlawful or contain inappropriate Content;</li>
								<li>sell access to the Service;</li>
								<li>use the Service to provide a similar service to third parties or otherwise with a view to competing with us;</li>
								<li>sell advertising, sponsorship or promotions on or in connection with Content except where explicitly authorized by us;</li>
								<li>use the Service for junk mail, spam, pyramid or similar or fraudulent schemes;</li>
								<li>do anything which may have the effect of disrupting the Service including worms, viruses, software bombs or mass mailings;</li>
								<li>do anything which may negatively affect other Users&rsquo; enjoyment of the Service;</li>
								<li>gain unauthorised access to any part of the Service or equipment used to provide the Service;</li>
								<li>use any automated means to interact with our systems excluding public search engines; or</li>
								<li>attempt, encourage or assist any of the above.</li>
							</ol>

								<li>You must not do anything which damages, or might damage, our reputation.</li>
								<li>You must comply with any guidelines or requirements on our website.</li>
								<li>You must promptly comply with any reasonable request or instruction by us in connection with the Service.</li>
								<li>We are entitled to impose and/or change limitations on usage of our Service, for example in relation to bandwidth.</li>
								<li>You must ensure that any contact or other information which you supply to us is accurate and not misleading and you will update it so that it remains so.</li>
								<li>We do not supply support except to the extent specifically stated on our site, as may be varied from time to time.</li>
						</ul>
					</li>
				</ol>


				<ol start="7">
					<li><strong>Your Content </strong>
						<ul>
							<li>You are responsible for your Content.</li>
							<li>You promise to us that you have (and will retain) all rights and permissions needed to enable use of your Content as contemplated by the Service and these terms and conditions.</li>
							<li>If you use any features on our site which enable you to share your Content with third party sites, we are not responsible for use of your Content on those third party sites.</li>
							<li>We reserve the right without notice or refund to suspend, alter, remove or delete Content or to disclose to the relevant authorities or to a complainant any Content or behaviour if it is the subject of complaint or where we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if we are required to do so by law or appropriate authority. If so, you must not attempt to re-publish or re-send the relevant Content.</li>
							<li>We do not accept responsibility if your Content is misused by other Users as this is outside our reasonable control.</li>
							<li>It is your responsibility to make your own backup of any Content stored within the Service to protect you in case of loss or damage to such material. We are not responsible for such loss or damage.</li>
							<li>We reserve the right to place advertisements adjacent to or within your Content. We retain all revenue from such advertisements.</li>
							<li>We reserve the right without notice to irretrievably delete your Content following cancellation of this agreement or if your account has been inactive for six</li>
						</ul>
					</li>
				</ol>

				<ol start="8">
					<li><strong>Content of other Users</strong>
						<ul>
							<li>You accept that we have no obligation to vet or monitor Users or their Content. We do not endorse or recommend any Users or other Content. You rely on such information and/or deal with other Users at your own risk. We accept no legal responsibility for the accuracy of, or otherwise in relation to, any such Content or in connection with any dealings between Users. It is your responsibility to carry out careful and detailed investigations before dealing with other Users. You should not assume that any Content from another User is accurate and be aware that a person may not be who he or she claims to be.</li>
							<li>You acknowledge that in using the Service you may be exposed to offensive or other inappropriate Content or behaviour. If so, you must notify us immediately by <strong>[insert how they should report abuse]</strong>. We are under no obligation to enter into dialogue on the receipt of a complaint, nor are we obliged to act on every complaint received or to advise you of any action we do decide to take. All complaints must clearly explain the reason for complaint. You should also use the built-in facility to delete comments, block messages and/or seek appropriate external help, for example from law enforcement authorities. If you continue to suffer problems, or are dissatisfied, then you must stop using the Service.</li>
							<li>When arranging through the Service to meet another person, you must take appropriate precautions and follow the safety guidelines in our FAQs. We cannot control what actually happens at such meetings which are at your own risk and are not our responsibility.</li>
						</ul>
					</li>
				</ol>
				<ol start="9">
					<li><strong>Third party services / advertising / websites</strong>
						<ul>
							<li>We may use third party-provided services or display third party advertising within our Service and/or link to third party websites which may be of interest to you. We do not recommend or endorse, nor are we legally responsible for, those sites or services. You use them at your own risk.</li>
						</ul>
					</li>
				</ol>
				<ol>
					<li><strong>Guidance by us</strong>
						<ul>
							<li>Any guidance or similar information which we ourselves make available on our Service is intended as very general guidance information but we cannot guarantee that it is accurate or up to date and we do not accept legal responsibility for it. Before acting on such information, you must make your own appropriate and careful enquiries including as to its accuracy and suitability for your purposes.</li>
						</ul>
					</li>
				</ol>
				<ol>
					<li><strong>Your account</strong>
						<ul>
							<li>Your account on our Service is for your personal use only and is non-transferable. You must not authorise or permit any other person to use your account. You must take reasonable care to protect and keep confidential your password and other account or identity information. You must notify us immediately of any apparent breach of security such as loss, theft, misuse or unauthorised disclosure or use of a password. You are responsible for third parties who use your account or identity (unless and to the extent that we are at fault).</li>
						</ul>
					</li>
				</ol>
				<ol start="2">
					<li><strong>Payment </strong>
						<ul>
							<li>While certain features and parts of our Service are available to Users free of charge, full use of our Service is available only to Users who subscribe. Subscriptions can be acquired at the prices, for the periods and by the payment methods specified on our Service. Payment is in advance.</li>
							<li>The prices shown on our website include VAT unless we say otherwise.</li>
							<li>Where specified on the payment page of our Service when you subscribed, your subscription will continue to be auto-renewed for the same subscription period which you signed up to unless you cancel before the renewal date by following the instructions on our Service<strong>.</strong> Cancellations take effect at the end of the calendar month in which you cancel.</li>
							<li>You authorise us and our third party payment provider to charge your payment card for the relevant amounts when payments are due in accordance with this agreement.</li>
							<li>We may at any time change our subscription prices. The new rate takes effect if you apply for a new subscription after we post the new prices on our Service. For existing subscribers, we will give you notice by email at least one month before any price change takes effect. If you do not accept the new fee, you should cancel your subscription as explained below. Otherwise the next renewal of your subscription after the one month&rsquo;s notice will be at the new price.</li>
							<li>You must contact us immediately with full details if you dispute any payment.</li>
							<li>You must make all payments without any set-off, counterclaim or any other deduction.</li>
						</ul>
					</li>
				</ol>
				<ol start="3">
					<li><strong>Cancellation / suspension</strong>
						<ul>
							<li>You may at any time cancel this agreement (including your subscription) by following the instructions on our Service. A request for cancellation under this clause does not give rise to any refund (unless the statutory right to cancel applies &ndash; see above).</li>
							<li>We are entitled at any time to cancel this agreement by email notice without cause. If so, we will refund in full any fees already paid which relate to the period after cancellation.</li>
							<li>We are entitled at any time cancel this agreement by email notice without refund if we terminate our Service as a whole.</li>
							<li>We are entitled at any time (with or without notice) to cancel this agreement or suspend part or all of our Service if we have reason to believe that you have breached our terms and conditions or if any fees due to us are unpaid / unjustifiably charged back or if it is necessary to protect us or others or if we are required to do so by law or appropriate authority. If so, and you are a subscriber, we will refund</li>
							<li>Following cancellation of this agreement: Your right to use our Service is terminated. Accrued rights and liabilities are unaffected. All clauses in this agreement which are stated or intended to continue after cancellation will continue to apply. You must not attempt to re-register for or continue to use our Service if we have given you notice of cancellation.</li>
						</ul>
					</li>
				</ol>

				<ol start="4">
					<li><strong>Functioning of our Service </strong>
						<ul>
							<li>We do not guarantee that the Service will be uninterrupted or error-free and are not responsible for any losses arising from such interruptions or errors.</li>
							<li>We are entitled, without notice and without liability, to suspend the Service for repair, maintenance, improvement or other technical reason.</li>
							<li>We are entitled, without notice and without liability, to make changes to the Service provided these do not have a material adverse effect.</li>
						</ul>
					</li>
				</ol>

				<ol start="5">
					<li><strong>Liability</strong>
						<ul>
							<li>Nothing in this agreement in any way limits or excludes our liability for negligence causing death or personal injury or for fraud or fraudulent misrepresentation or for anything which may not legally be excluded or limited. In this section, any reference to us includes our employees and agents.</li>
							<li>You must give us a reasonable opportunity to remedy any matter for which we are potentially liable before you incur any costs remedying the matter yourself.</li>
						</ul>
						<ul>
							<li><strong>Very important: </strong>We shall not be liable for any loss or damage caused by us or our employees or agents in circumstances where:
								<ol>
									<li>there is no breach of a legal duty of care owed to you by us or by any of our employees or agents;</li>
									<li>such loss or damage was not foreseeable (meaning it was not an obvious consequence of our breach or not contemplated by you and us at the time we entered into this contract);</li>
									<li>such loss or damage is caused by you, for example by not complying with this agreement; or</li>
									<li>such loss or damage relates to a business.</li>
								</ol>
							</li>
						</ul>
						<ul>
							<li><strong>Very important: </strong>You will be liable for any reasonably foreseeable loss or damage we suffer arising from your breach of this agreement or misuse of our Service (subject of course to our obligation to mitigate any losses).</li>
						</ul>
					</li>
				</ol>
				<ol start="6">
					<li><strong>Intellectual property rights</strong>
						<ul>
							<li>All trademarks, logos, Content, graphics, images, photographs, animation, videos, text and software used on the Service are our intellectual property or that of our partners or other Users. For the purposes of your personal use only, you may view such material on your screen and print a single copy. You may not otherwise use, sublicense, retrieve, display, modify, copy, print, sell, distribute, download, hire, reverse engineer (unless permitted by applicable law) or create extracts of, or derivative works from, such material without our specific prior written consent.</li>
							<li>Just to be clear - you must not collect, scrape, harvest, frame or deep-link to any Content on our Service without our specific prior written consent.</li>
							<li>You must not circumvent or otherwise interfere with any security related features of the Service or features that limit or prevent copying of Content or which restrict use of Content.</li>
							<li>You must not reverse-engineer or decompile any of our software in any way (except to the extent allowed by applicable law). You must not create or use a modified or derivative version of our software or distribute or sublicense our software to third parties. You must take reasonable steps to ensure that our software is not disclosed to any third party.</li>
							<li><strong>[</strong>If you publish any Content on our Service, you grant us a worldwide, perpetual, non-exclusive, transferable (with right to sub-license), royalty-free license to use, copy, alter, display, and create extracts of, or derivative works from, that Content in any media formats, on our own Service, on our other channels including mobile, email communications, social media, PR, competitions and press releases and also on third party media, including for the purpose of redistribution or promotion of our Service. You waive your moral rights in relation to such Content to the extent legally permitted. You also grant each User a license to use your Content in accordance with these terms and conditions.</li>
						</ul>
					</li>
				</ol>

				<ol start="7">
					<li><strong>Privacy</strong>
						<ul>
							<li>You acknowledge and agree that we may process your personal data in accordance with the terms of our privacy and cookies policy [link] which is subject to change from time to time.</li>
						</ul>
					</li>
				</ol>
				<ol start="8">
					<li><strong>Events outside our control</strong>
						<ul>
							<li>We are not liable for failure to perform or delay in performing any obligation under this agreement if the failure or delay is caused by any circumstances beyond our reasonable control including third party telecommunication failures.</li>
						</ul>
					</li>
				</ol>
				<ol start="9">
					<li><strong>Transfer</strong>
						<ul>
							<li>We may transfer all or part of our rights or duties under this agreement provided we take reasonable steps to ensure that your rights under this agreement are not prejudiced. As this agreement is personal to you, you may not transfer any of your rights or duties under it without our prior written consent.</li>
						</ul>
					</li>
				</ol>
				<ol>
					<li><strong>English law</strong>
						<ul>
							<li>These terms and conditions shall be governed by English law and any disputes will be decided only by the courts of the United Kingdom. You may be entitled to use an EU online dispute resolution service to assist with any contractual dispute you may have with us. This service can be found at <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>. Our email address is <strong>[insert]</strong>.</li>
						</ul>
					</li>
				</ol>
				<ol>
					<li><strong>General</strong>
						<ul>
							<li>We may send all notices under this agreement by email to the most recent email address you have supplied to us (unless otherwise stated in this agreement). Headings used in this agreement are for information and not binding. Any failure by either party to exercise or enforce any right or provision of this agreement does not mean this is a &ldquo;waiver&rdquo; (i.e. that it cannot be enforced later). If any part of this agreement is ineffective or unenforceable for any reason, then it will be replaced with a provision which as far as possible achieves the same thing and the rest of the agreement shall continue to apply. A person who is not a party to this agreement shall have no rights to enforce this agreement except insofar as expressly stated otherwise. The parties are independent contractors and, except as otherwise specifically stated above, nothing in this agreement constitutes any party as agent, employee or representative of the other.</li>
						</ul>
					</li>
				</ol>
				<ol start="2">
					<li><strong>Complaints</strong>
						<ul>
							<li>If you have any complaints, please contact us via the contact details shown below.</li>
						</ul>
					</li>
				</ol>
				<ol start="3">
					<li><strong>Company information</strong>
						<ul>
							<li>Company name: Happii Dating Limited</li>
							<li>Country of incorporation: England and Wales.</li>
							<li>Registered number: 10422651</li>
							<li>Registered office and trading address: Fruitworks, 77 Stour Street, Canterbury, CT1 2NR, England.</li>
							<li>Other contact information: See our website.</li>
							<li>VAT number:</li>
						</ul>
					</li>
				</ol>
				<p>Version <strong>[insert]</strong></p>
				<p><strong>MODEL CANCELLATION FORM</strong></p>
				<p>Complete and return this form only if you wish to cancel the contract:</p>
				<p>&mdash; Happii Dating Limited, Fruitworks, 77 Stour Street, Canterbury, CT1 2NR, England,<strong> [insert your email address]</strong>:</p>
				<p>&mdash; I hereby give notice that I cancel my contract for the provision of the following service,</p>
				<p>&mdash; Ordered on,</p>
				<p>&mdash; Name of consumer,</p>
				<p>&mdash; Address of consumer,</p>
				<p>&mdash; Signature of consumer [only if this form is notified on paper],</p>
				<p>&mdash; Date</p>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<a href="./"><img src="images/logo.png" alt=""></a>
	<ul id="#myMenu">
		<li class="home-menu-item"><a ui-sref="home">Home</a></li>
		<li class="home-menu-item"><a ui-sref="home">About Happii</a></li>
		<li><a href="./#/safety-guidelines">Safety Guidelines</a></li>
		<li><a href="./#/terms">Terms & Conditions</a></li>
		<li><a href="./#/privacy">Privacy & Cookie Policy</a></li>
		<li><a href="./#/contact">Contact Us</a></li>
		<li><a style="cursor: default">Happii 2017 &copy;</a></li>
		<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/HappiiDating"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	</ul>
</div>