.image-upload-directive-wrapper{

	#image-upload-modal{

		z-index: 200;

		.modal-dialog{
			background-color: white;
			width: 60%;
			top: 90px;
			position: relative;
			//height: 500px;

			.modal-content{

				.close{
					position: absolute;
					right: 6px;
					top: 0;
					font-size: 32pt;
				}

				padding: 25px;

				.image-upload-content{

					margin-top: 20px;

					.user-image-wrapper{

						height: 400px;
						overflow-y: scroll;

						.photo-upload-display-wrapper{

							width: 100px;
							height: 100px;
							margin: 10px;
							display: block;
							background-color: lightgray;
							overflow: hidden;
							background-repeat: no-repeat;
							background-size: cover;

							i{
								font-size: 35pt;
								display: block;
								margin: auto;
								text-align: center;
								margin-top: 30px;
								color: white;
							}
						}

						.user-image-single{
							width: 100px;
							height: 100px;
							border-style: solid;
							border-width: 3px;
							border-color: $happii-profile-grey;
							margin: 10px;
							overflow: hidden;


							img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}

				.image-button-content{

					.photo-upload-social-btn-wrapper{

					}
				}
			}
		}
	}

}