.image-edit-directive-wrapper{

	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100vh;
	z-index: 500;
	position: absolute;
	top: 0;

	p{
		color: black;
		font-size: 22pt;
		margin-left: 25px;
		cursor: pointer;
	}

	.image-crop-content{

		width: 500px;
		height: 500px;
		margin: auto;
		//transform: translate(0, 40%);

		.img-crop-wrapper{

			width: 100%;
			height: 100%;
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
				max-width: 100%;
			}
		}

		.crop-btn-wrapper{

			position: relative;
			//top: 50px;

			button{
				//color: white;
				//border: none;
				//padding: 5px;
				//background-color: transparent;
				margin-top: 10px;
			}
		}
	}


}

#facebook-pic-modal{

	.modal-dialog{
		width: 50%;
		transform: translate(0,20%);
	}

	.modal-header{
		p{
			color: black;
			font-size: 20pt;
			text-align: center;
		}
	}

	.modal-body{
		overflow-y: scroll;
		height: 400px;

		.social-img-single{

			width: 150px;
			height: 150px;
			border-style: solid;
			border-width: 1px;
			border-color: transparent;
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
			}
		}
	}


}