.map-pop-up-wrapper{

	#map-modal{

		margin-top: 80px;

		.modal-dialog{
			width: 90%;
			height: auto;

			.modal-content{
				height: auto;
				overflow: hidden;

				.map-pop-up-content-wrapper{
					background-color: #5D5E5E;

					.map-place-details-wrapper{

						padding: 35px;

						.pin-icon{
							width: 30px;
							height: auto;

							img{
								width: 100%;
								height: auto;
							}
						}

						.map-place-title{

							margin-top: 15px;

							p{
								color: white;
								font-size: 20pt;
							}
						}

						hr{
							border-color: darkgrey;
						}

						.map-place-description{

							margin-top: 25px;

							p{
								color: white;
								font-size: 14pt;
								height: 350px;
							}

							margin-bottom: 100px;
						}

						.map-back-to-wrapper{
							p{
								color: white;
								font-size: 14pt
							}

							i{
								margin-right: 15px;
							}
						}
					}

					.map-place-slider-wrapper{

						width: 100%;
						height: 100%;
						//overflow: hidden;

						.slick-list{
							width: 100%;
							position: absolute;
							top: 0px;
						}

						.map-place-main-img{

							width: 100%;
							height: 82vh;
							position: relative;

							img{
								width: 100%;
								height: 100%;
							}
						}

						.slick-arrow-wrapper{

							position: relative;
							z-index: 10;
							top: 400px;

							.slick-arrow{

								width: 50px;
								height: 50px;
								border-radius: 25px;
								background-color: rgba(255,255,255,0.4);
								border-color: white;
								border-style: solid;
								border-width: 1px;

								i{
									color: white;
									font-size: 22pt;
									display: block;
									margin-top: 10px;
									transform: translate(30%);
								}

							}

							.left{
								float: left;
							}

							.right{
								float: right;
							}
						}

					}
				}
			}
		}
	}
}