.photo-pop-up-wrapper{

	#photo-modal{

		background-color: rgba(255,255,255,0.7);
		margin-top: 80px;

		.modal-dialog{
			width: 90%;
			height: auto;

			.modal-content{
				height: auto;

				.photo-pop-up-content-wrapper{
					background-color: #5D5E5E;

					.photo-header-navigation{

						color: white;
						padding: 15px;
						padding-bottom: 5px;

						i{
							font-size: 22pt;
							margin-left: 15px;
						}

						p{
							float: right;
							font-size: 11pt;
							line-height: 2;

							i{
								font-size: 11pt;
								margin-left: 10px;
							}
						}
					}

					.photo-thumbnails-wrapper{

						padding: 35px;

						.profile-user-name-title{

							margin-top: 15px;
							margin-left: 20px;

							p{
								color: white;
								font-size: 18pt;
							}
						}

						.photo-thumbnails{

							.photo-thumbnail-single{

								width: 90px;
								height: 90px;
								overflow: hidden;
								border-style: solid;
								border-width: 1px;
								margin: 10px;
								border-color: #95989A;

								img{
									width: 100%;
									height: 100%;
								}
							}
						}
					}

					.photo-slider-wrapper{

						width: 100%;
						height: 100%;
						padding: 15px;
						//overflow: hidden;

						.photo-main-img{

							width: 100%;
							height: 700px;
							position: relative;

							img{
								max-height: 100%;
								max-width: 100%;
								width: auto;
								height: auto;
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								right: 0;
								margin: auto;
							}

							video{
								width: 100%;
								margin: auto;
								transform: translate(0, 40%);
							}
						}

						.slick-arrow-wrapper{

							position: relative;
							height: 50px;
							z-index: 10;
							top: 400px;

							.slick-arrow{

								width: 50px;
								height: 50px;
								border-radius: 25px;
								background-color: rgba(255,255,255,0.4);
								border-color: white;
								border-style: solid;
								border-width: 1px;

								i{
									color: white;
									font-size: 22pt;
									display: block;
									margin-top: 10px;
									transform: translate(30%);
								}

							}

							.left{
								float: left;
							}

							.right{
								float: right;
							}
						}

					}
				}
			}
		}
	}
}