.travel-edit-wrapper{

	#travel-edit-modal, #travel-edit-describe-modal{

		.modal-dialog{

			width: 96%;
			position: relative;
			top: 100px;
			margin: auto;

			.modal-content{

				background-color: $happii-profile-teal;
				padding-bottom: 25px;
				height: 80vh;

				.close{
					position: absolute;
					right: 6px;
					top: 0;
					font-size: 32pt;
				}

				.travel-content-wrapper{

					width: 800px;
					margin: auto;

					.travel-title{

						margin-bottom: 20px;

						p{
							color: white;
							font-size: 26pt;
							text-align: center;
						}

					}

					.travel-sub-title{

						width: 520px;
						margin: auto;
						margin-bottom: 50px;

						p{
							color: white;
							font-size: 14pt;
							text-align: center;
							width: 100%;
						}
					}

					.travel-input-wrapper{

						i {
							position: relative;
							font-size: 20pt;
							color: lightgray;
							bottom: 47px;
							right: 10px;
							float: right;
						}

						input{
							width: 100%;
							height: 40px;
							margin-bottom: 15px;
							text-indent: 15px;
						}

						hr{
							width: 100%;
							color: white;
						}

					}

					.travel-item{
						text-align: left;
						width: 100%;

						div{
							//display: inline-flex;
							width: 100%;
						}
					}

					.travel-list-wrapper{

						margin-top: 15px;

						ul{

							list-style: none;
							display: block;
							margin: auto;
							width: 116%;
							position: relative;
							left: -39px;

							li{
								width: 100%;
								label{
									height: 30px;
									width: 100%;
									background-color: rgba(255,255,255,0.2);
									border-style: solid;
									border-width: 1px;
									border-color: white;
									text-indent: 15px;
									line-height: 2;
								}

								i{
									margin-right: 5px;
									position: relative;
									top: 25px;
									left: -15px;
								}
							}
						}
					}

					.places-set-wrapper{

						text-align: center;
						border-style: solid;
						border-width: 1px;
						border-color: white;
						margin-bottom: 10px;

						#places-set-wrapper-content{
							padding: 40px;
						}

						.travel-icon-wrapper{

							margin-bottom: 25px;

							.travel-icon{
								width: 20px;
								height: 30px;
								margin: auto;

								img{
									width: 100%;
									height: auto;
								}
							}

						}

						.travel-places-been-wrapper{

							p{
								margin-bottom: 25px;
								font-size: 14pt;
								color: white;
							}

						}

						.travel-places-go-wrapper{

							p{
								margin-bottom: 25px;
								font-size: 14pt;
								color: white;
							}
						}
					}

					.places-describe-wrapper{

						width: 100%;
						border-color: white;
						border-width: 1px;
						border-style: solid;
						margin-bottom: 10px;

						.places-describe-tab-names{

							height: 60px;
							background-color: white;

							p{
								text-align: center;
								color: darkgray;
								font-size: 14pt;
								line-height: 3;
							}

						}

						.places-describe-wrapper-content{
							padding: 40px;
							width: 100%;
							height: 300px;

							textarea{
								width: 100%;
								height: 200px;
								color: darkgrey;
								padding: 15px;
							}

							.travel-upload-photo-wrapper{

								.happii-btn{
									width: 180px !important;
									font-size: 10pt;
									//
									//i{
									//	position: relative;
									//	right: 25px;
									//	margin-left: 0px;
									//}
								}

								#video-upload-display{

									button{
										background-color: $happii-profile-blue !important;
										margin-top: 10px;
									}

								}

								.social-btn{
									width: 100%;
									margin-top: 10px;

									button{
										width: 100%;
									}
								}

							}
						}
					}



				}

			}
		}
	}
}