<div class="partner-question">

	<div class="partner-stats-title">
		<p>{{vm.gender}} has to be...</p>
	</div>

	<div class="partner-stats-contents">

		<div class="age-range-content-wrapper">

			<div class="age-range-slider-wrapper">
				<rzslider rz-slider-model="vm.slider.min"
						  rz-slider-high="vm.slider.max" rz-slider-options="vm.slider.options"></rzslider>
			</div>

			<div class="age-range-text-wrapper">
				<p>
					{{vm.selectedAgeRange.min}} - {{vm.selectedAgeRange.max}} years old
				</p>
			</div>
		</div>
	</div>

	<!--<div class="next-step-btn-wrapper">-->
		<!--<button ng-click="vm.saveAgeRangeObject()" class="happii-btn">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper navigation-wrapper-abs">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.partner.gender"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-click="vm.saveAgeRangeObject()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>


