<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'10'" title="'Body type'" icon="'images/icons/bodyType.png'" apiref="'partnerBodyType'" questionref="'partnerBodyType'" navigatefrom="'builder.questions.partner.employment'" navigateto="'builder.questions.partner.religion'" columns="'3'"></question-partner-radio-directive>

	</div>
</div>


