<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'4'" title="'Children'" icon="'images/icons/children.png'" apiref="'partnerChildren'" questionref="'partnerChildren'" navigatefrom="'builder.questions.partner.location'" navigateto="'builder.questions.partner.smoking'" columns="'2'"></question-partner-radio-directive>

	</div>
</div>


