<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'6'" title="'Drinking'" icon="'images/icons/drinking.png'" apiref="'partnerDrinking'" questionref="'partnerDrinking'" navigatefrom="'builder.questions.partner.smoking'" navigateto="'builder.questions.partner.height'" columns="'2'"></question-partner-radio-directive>

	</div>
</div>


