<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'8'" title="'Education'" icon="'images/icons/education.png'" apiref="'partnerEducation'" questionref="'partnerEducation'" navigatefrom="'builder.questions.partner.height'" navigateto="'builder.questions.partner.employment'" columns="'2'"></question-partner-radio-directive>

	</div>
</div>


