<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'9'" title="'Employment'" icon="'images/icons/employment.png'" apiref="'partnerEmployment'" questionref="'partnerEmployment'" navigatefrom="'builder.questions.partner.education'" navigateto="'builder.questions.partner.body-type'" columns="'2'"></question-partner-radio-directive>

	</div>
</div>


