<div class="partner-question">

	<div class="partner-stats-title">
		<p>I am looking for a…</p>
	</div>

	<div class="partner-stats-contents">

		<div class="gender-content-wrapper">

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

					<div class="gender-icon-wrapper">

						<div ng-click="vm.setSelectedGender('male')" class="gender-icon" id="male-icon">

							<img ng-if="vm.selectedGender == 'male'" src="images/icons/gender/male-selected.png" alt="gender icon">
							<img ng-if="vm.selectedGender != 'male'" src="images/icons/gender/male.png" alt="gender icon">

						</div>

						<div class="gender-text" ng-click="vm.setSelectedGender('male')">
							<p>man</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

					<div class="gender-icon-wrapper">

						<div ng-click="vm.setSelectedGender('female')" class="gender-icon" id="female-icon">
							<img ng-if="vm.selectedGender == 'female'" src="images/icons/gender/female-selected.png" alt="gender icon">
							<img ng-if="vm.selectedGender != 'female'" src="images/icons/gender/female.png" alt="gender icon">
						</div>

						<div class="gender-text" ng-click="vm.setSelectedGender('female')">
							 <p>woman</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!--<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.selectedGender == ''}">-->
		<!--<button ui-sref="builder.questions.partner.age-range" class="happii-btn">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper navigation-wrapper-abs">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.travel.places-set"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-class="{'disabledElement': vm.selectedGender == ''}" ui-sref="builder.questions.partner.age-range">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>


