<div class="partner-question">

	<div class="partner-icon-wrapper">
		<div class="partner-icon">
			<img ng-src="images/icons/height.png" alt="an icon">
		</div>
	</div>

	<div class="partner-stats-title">
		<p>Height</p>
	</div>

	<div class="partner-stats-contents">

		<div class="height-content-wrapper">

			<div class="height-slider-wrapper">
				<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<rzslider rz-slider-model="vm.slider.min"
								  rz-slider-high="vm.slider.max" rz-slider-options="vm.slider.options"></rzslider>
					</div>

					<div class="col-md-5">
						<div class="height-text-wrapper">
							<p>
								{{vm.selectedHeight.min}}" - {{vm.selectedHeight.max}}"
							</p>
						</div>
					</div>
				</div>
				</div>


			</div>


		</div>
	</div>

	<!--<div class="next-step-btn-wrapper">-->
		<!--<button ng-click="vm.saveHeightObject()" class="happii-btn">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper navigation-wrapper-abs">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.partner.drinking"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-click="vm.saveHeightObject()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>


