<div class="partner-question">
	<div class="partner-stats-title">
		<p>Location</p>
	</div>
	<div class="partner-stats-contents">
		<div class="location-content-wrapper">
			<div class="location-input-wrapper">
				<div class="container-fluid">
					<div class="row">

						<div class="col-md-12">
							<input maxlength="50" ng-model="vm.location.name" id="location-partner-input" placeholder="Enter postcode" type="text"><i
							class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="location-slider-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7">
							<div class="slider-rz">
								<rzslider rz-slider-model="vm.slider.value"
									rz-slider-options="vm.slider.options"></rzslider>
							</div>
						</div>
						<div class="col-md-5">
							<div class="location-text-wrapper">
								<p>within {{vm.location.miles}} miles</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.location.name.length == 0}">-->
		<!--<button ng-click="vm.savePartnerLocationObject()" class="happii-btn">Next Step <i-->
			<!--class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
	<!--</div>-->

	<div class="navigation-wrapper navigation-wrapper-abs">

		<div class="section-nav-content">
			<p ui-sref="builder.questions.partner.age-range"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ng-class="{'disabledElement': vm.location.name.length == 0}" ng-click="vm.savePartnerLocationObject()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>


