
<div class="personality-content-wrapper">
	<question-partner-interests-checkbox-directive title="'What pastimes would it be nice for your partner to enjoy?'" subtitle="'Select a handful of pastimes to narrow your search or ‘Any’ to widen it.'" backgroundimage="'images/backgrounds/wizard/shutterstock_166555196.jpg'" columns="'4'" navigatefrom="'builder.questions.partner-interests.personality-traits'" navigateto="'builder.questions.complete'" apiref="'partnerPastTimes'" topany="false" questionref="'partnerPastTimes'" minvaluesneeded="'1'"></question-partner-interests-checkbox-directive>
</div>
