
<div class="personality-content-wrapper">
	<question-partner-interests-checkbox-directive title="'What personality traits are you looking for in a partner?'" subtitle="'Select a handful of traits to narrow your search or ‘Any’ to widen it.'" backgroundimage="'images/backgrounds/wizard/shutterstock_177520691.jpg'" columns="'5'" navigatefrom="'builder.questions.partner.religion'" navigateto="'builder.questions.partner-interests.past-times'" apiref="'partnerPersonality'" topany="true" questionref="'partnerPersonality'" minvaluesneeded="'1'"></question-partner-interests-checkbox-directive>
</div>
