<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'11'" title="'Religion'" icon="'images/icons/religion.png'" apiref="'partnerReligion'" questionref="'partnerReligion'" navigatefrom="'builder.questions.partner.body-type'" navigateto="'builder.questions.partner-interests.personality-traits'" columns="'3'"></question-partner-radio-directive>

	</div>
</div>


