<div class="partner-question">

	<div class="partner-stats-contents">

		<question-partner-radio-directive subquestion="'5'" title="'Smoking'" icon="'images/icons/smoking.png'" apiref="'partnerSmoking'" questionref="'partnerSmoking'" navigatefrom="'builder.questions.partner.children'" navigateto="'builder.questions.partner.drinking'" columns="'2'"></question-partner-radio-directive>

	</div>
</div>


