<div class="map-pop-up-wrapper">

	<!-- Modal -->
	<div id="map-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="map-pop-up-content-wrapper">

					<div class="row">
						<div class="col-sm-4 col-xs-12 col-md-4 col-lg-4">

							<div class="map-place-details-wrapper">

								<div class="pin-icon">
									<img ng-src="images/icons/pinWhite.png" alt="a pin">
								</div>

								<div class="map-place-title">
									<p>{{vm.place.name}}</p>
								</div>

								<hr>

								<div class="map-place-description">
									<p>{{vm.place.description}}</p>
								</div>

							</div>
						</div>

						<div class="col-sm-8 col-xs-12 col-md-8 col-lg-8">

							<div class="map-place-slider-wrapper">

								<div class="slick-arrow-wrapper" ng-if="vm.place.images.length > 0">
									<div class="slick-arrow left" ng-click="vm.slickConfig.method.slickPrev()">
										<i class="fa fa-chevron-left" aria-hidden="true"></i>
									</div>

									<div class="slick-arrow right" ng-click="vm.slickConfig.method.slickNext()">
										<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</div>
								</div>

								<slick settings="vm.slickConfig" ng-if="vm.show == true">

									<div class="map-place-main-img" ng-repeat="image in vm.place.images track by $index">
										<img ng-src="{{vm.serverPath}}image/{{image}}" alt="a travel image containing awe and wonder">
									</div>

								</slick>


							</div>
						</div>
						<div class="col-md-12">
							<div class="map-place-details-wrapper">
								<div class="map-back-to-wrapper">
									<p ng-click="vm.closeMapModal()"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to map</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>

		</div>
	</div>

</div>