<div class="profile-travel-map-section">


	<div ng-if="vm.edittitleshow == true" class="edit-section-wrapper">
		<button data-toggle="modal" data-backdrop="false" data-target="#travel-edit-modal">Edit - Travel map <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>
		<!--<button ng-click="vm.updateProfile()" ng-if="vm.editmode == true">Save - {{vm.title}} <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>-->
	</div>

	<div class="profile-icon-divider">

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
				<div class="col-lg-2">
					<div class="profile-icon-divider-icon">
						<img src="images/icons/profile/travel.png" alt="">
					</div>
				</div>
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>my travel</p>
				</div>
			</div>

		</div>

	</div>


	<div class="profile-travel-map-content">

		<div class="travel-map-key">

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<div id="place-been" class="places-title-wrapper">
					<div class="places-title-pin">
						<img ng-src="images/icons/places-pink.png" alt="places pin">
					</div>

					<p>Places I have been</p>
				</div>

			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<div class="places-title-wrapper">
					<div class="places-title-pin">
						<img ng-src="images/icons/places-blue.png" alt="places pin">
					</div>

					<p>Places I want to go</p>
				</div>
			</div>

		</div>

		<div id="travel-map" class="travel-map">

		</div>
	</div>

	<div class="travel-map-mobile-content-wrapper">
	 <div class="places-mobile-single">
		 <div class="places-title-pin">
			 <img ng-src="images/icons/places-blue.png" alt="places pin">
			 <p>Places I have been</p>


		 </div>

		 <hr>

		 <div class="places-mobile-blocks-wrapper">


				 <div class="col-xs-6" ng-repeat="place in vm.travelbeen">
					 <div class="places-mobile-block-single" >
						 {{place.name}}
					 </div>

				 </div>

		 </div>

	 </div>
		<div class="places-mobile-single">
			<div class="places-title-pin">
				<img ng-src="images/icons/places-pink.png" alt="places pin">
				<p>Places I want to go</p>
			</div>

			<hr>

			<div class="places-mobile-blocks-wrapper">


				<div class="col-xs-6" ng-repeat="place in vm.travelgo">
					<div class="places-mobile-block-single" >
						{{place.name}}
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<!-- For the profile view mode, shows a pop up of places been -->
<map-pop-up-directive place="vm.selectedPlace"></map-pop-up-directive>

<!-- The travel edit set places directive-->
<profile-travel-edit-directive profileobj="vm.profileobj" travelbeen="vm.travelbeen" travelgo="vm.travelgo"></profile-travel-edit-directive>

<!-- The travel edit describe places directive-->
<profile-travel-edit-describe-directive profileobj="vm.profileobj" travelbeen="vm.travelbeen"></profile-travel-edit-describe-directive>