<div class="travel-edit-wrapper">
	<!-- Trigger the modal with a button -->
	<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-backdrop="false" data-target="#travel-edit-modal">Open Modal</button>-->


	<!-- Modal travel edit-->
	<div id="travel-edit-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="travel-content-wrapper">
					<div class="travel-title">
						<p>Travel</p>
					</div>

					<div class="travel-sub-title">
						<p>Choose up to 4 favourite countries or cities that you’ve visited
							and 4 that you’d love to visit one day</p>
					</div>


					<div class="places-set-wrapper" fade-background blur="8">

						<div class="row" id="places-set-wrapper-content">

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

								<div class="travel-places-been-wrapper">

									<div class="travel-icon-wrapper">

										<div class="travel-icon">
											<img ng-src="images/icons/places-pink.png" alt="the travel icon">
										</div>

									</div>

									<p>Places I have been</p>

									<div class="travel-input-wrapper">
										<input id="places-been-input" ng-model="vm.placesBeenInput" placeholder="Start typing city or country..." type="text">
										<i class="fa fa-map-marker" aria-hidden="true"></i>

										<hr>
									</div>

									<div class="travel-list-wrapper">
										<ul>

											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelbeen | limitTo: 4 track by $index" fade-background blur="8">
												<li class="travel-item">

													<i ng-click="vm.removePlacesItem(vm.travelbeen, item)" class="fa fa-times white" aria-hidden="true"></i>
													<label class="travel-item-delay white">{{item.name | limitTo: 15}}</label>

												</li>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelGoPlaceholderItems | limitTo: 4 track by $index" fade-background blur="8">
												<li class="travel-item">

													<div ng-if="($index + 1) > vm.travelbeen.length">
														<i class="fa fa-times lower-white" aria-hidden="true"></i>
														<label class="favourite-item-delay lower-white">{{item.title}}</label>
													</div>
												</li>
											</div>



										</ul>
									</div>


								</div>


							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

								<div class="travel-places-go-wrapper">

									<div class="travel-icon-wrapper">
										<div class="travel-icon">
											<img ng-src="images/icons/places-blue.png" alt="the travel icon">
										</div>

									</div>
									<p>Places I want to go</p>

									<div class="travel-input-wrapper">
										<input id="places-go-input" ng-model="vm.placesGoInput" placeholder="Start typing city or country..." type="text">
										<i class="fa fa-map-marker" aria-hidden="true"></i>


										<hr>
									</div>

									<div class="travel-list-wrapper">
										<ul>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelgo | limitTo: 4 track by $index" fade-background blur="8">
												<li class="travel-item" >

													<i ng-click="vm.removePlacesItem(vm.travelgo, item)" class="fa fa-times white" aria-hidden="true"></i>
													<label class="travel-item-delay white">{{item.name | limitTo: 15}}</label>

												</li>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in vm.travelGoPlaceholderItems | limitTo: 4 track by $index" fade-background blur="8">
												<li class="travel-item" >

													<div ng-if="($index + 1) > vm.travelgo.length">

														<i class="fa fa-times lower-white" aria-hidden="true"></i>
														<label class="favourite-item-delay lower-white">{{item.title}}</label>
													</div>

												</li>
											</div>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Navigate to the next section-->
					<div class="next-step-btn-wrapper">
						<button class="happii-btn" ng-click="vm.saveSelection()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>