<div class="employment-wrapper">

	<question-type-radio-directive 	subquestion="'6'" title="'Body Type'" icon="'images/icons/bodyType.png'" questionref="'bodyType'" navigatefrom="'builder.questions.basic-stats.height'" navigateto="'builder.questions.basic-stats.children'" columns="'3'"></question-type-radio-directive>

</div>