<div class="builder-basic-stats-wrapper">

	<div class="basic-stats-main-title">
		<p>Now we need some basic stats…</p>
	</div>


	<div class="route-questions-wrapper" fade-background blur="8">

		<div class="questions-dots-wrapper">
			<div class="sub-dot-content">
				<div class="container-fluid">

					<div class="row">
						<div class="builder-dot-single">
							<div class="" ng-repeat="dot in vm.subQuestionDots">

								<i class="fa fa-circle" aria-hidden="true" ng-style="{opacity: 0.4, color: 'darkgray'}"
									ng-if="vm.activeSubQuestion != dot"></i>
								<i class="fa fa-circle" aria-hidden="true" ng-style="{opacity: 1, color: 'darkgray'}"
									ng-if="vm.activeSubQuestion == dot"></i>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- UI View for basic stats -->
		<basic-stats ui-view>

		</basic-stats>
	</div>
</div>