<div class="employment-wrapper">

	<question-type-radio-directive 	subquestion="'7'" title="'Children'" icon="'images/icons/children.png'" questionref="'children'" navigatefrom="'builder.questions.basic-stats.body-type'" navigateto="'builder.questions.basic-stats.smoking'" columns="'2'"></question-type-radio-directive>

</div>