<div class="employment-wrapper">

	<question-type-radio-directive 	subquestion="'9'" title="'Drinking'" icon="'images/icons/drinking.png'" questionref="'drinking'" navigatefrom="'builder.questions.basic-stats.smoking'" navigateto="'builder.questions.interests.personality'" columns="'2'"></question-type-radio-directive>

</div>