<div class="education-wrapper">

	<question-type-radio-directive subquestion="'2'" title="'Education'" icon="'images/icons/education.png'"
		questionref="'education'" navigatefrom="'builder.questions.basic-stats.location-from'" navigateto="'builder.questions.basic-stats.employment'"
		columns="'2'"></question-type-radio-directive>

</div>