<div class="employment-wrapper">

	<question-type-radio-directive subquestion="'3'" title="'Employment'" icon="'images/icons/employment.png'" questionref="'employment'" navigatefrom="'builder.questions.basic-stats.education'" navigateto="'builder.questions.basic-stats.religion'" columns="'2'"></question-type-radio-directive>

</div>