<div class="height-wrapper">

	<div class="basic-stats-question">

		<div class="basic-stats-icon-wrapper">

			<div class="basic-stats-icon">
				<img ng-src="images/icons/height.png" alt="an icon">
			</div>
		</div>

		<p class="basic-stats-title">Height</p>

		<div class="height-slider-wrapper">

			<div class="row">

				<div class="col-md-9">
					<div class="height-slider">
						<rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options"></rzslider>

					</div>
				</div>

				<div class="col-md-3">
					<div class="height-slider-value">
						<p>{{vm.height}}ft</p>
					</div>
				</div>

			</div>

		</div>


		<!--Navigate to the next section-->
		<!--<div class="next-step-btn-wrapper">-->
			<!--<button class="happii-btn" ng-click="vm.saveHeight()">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
		<!--</div>-->

		<div class="navigation-wrapper navigation-wrapper-abs">

			<div class="section-nav-content">
				<p ui-sref="builder.questions.basic-stats.religion"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
				<p>|</p>
				<p ng-click="vm.saveHeight()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
			</div>

		</div>
	</div>


</div>