<div class="location-from-wrapper">

	<div class="basic-stats-question">

		<div class="basic-stats-icon-wrapper">

			<div class="basic-stats-icon">
				<img ng-src="images/icons/location/location.png" alt="an icon">
			</div>
		</div>

		<p class="basic-stats-title">Where are you from?</p>

		<div class="location-from-input-wrapper">

			<div class="row">

				<div class="col-md-12">
					<input maxlength="50"  id="location-from-input" placeholder="Enter your country..." ng-model="vm.locationFrom" type="text"><i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>

			</div>

		</div>


		<!--Navigate to the next section-->
		<!--<div class="next-step-btn-wrapper" ng-class="{'disabledElement': vm.validAddress == false}">-->
			<!--<button class="happii-btn" ui-sref="builder.questions.basic-stats.education">Next Step <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
		<!--</div>-->

		<div class="navigation-wrapper navigation-wrapper-abs" ng-class="{'disabledElement': vm.validAddress == false}">

			<div class="section-nav-content">
				<p ui-sref="builder.questions.profile-description"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
				<p>|</p>
				<p ui-sref="builder.questions.basic-stats.education" ng-class="{'disabledElement': vm.profilePhoto.name == ''}">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
			</div>

		</div>
	</div>


</div>