<div class="employment-wrapper">

	<question-type-radio-directive subquestion="'4'" title="'Religion'" icon="'images/icons/religion.png'" questionref="'religion'" navigatefrom="'builder.questions.basic-stats.employment'"  navigateto="'builder.questions.basic-stats.height'" columns="'3'"></question-type-radio-directive>

</div>