<div class="employment-wrapper">

	<question-type-radio-directive 	subquestion="'8'" title="'Smoking'" icon="'images/icons/smoking.png'" questionref="'smoking'" navigatefrom="'builder.questions.basic-stats.children'" navigateto="'builder.questions.basic-stats.drinking'" columns="'2'"></question-type-radio-directive>

</div>