<div class="home-header">
	<div class="container-fluid">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="row">
				<a ng-click="vm.moveToSlide('firstPage', 1)">
					<img class="white-logo" src="images/logo.png" alt="">
					<img class="blue-logo" src="images/logo-sign-in.png" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-6">
			<div class="row">
				<ul id="#myMenu" class="hide-mobile">
					<li id="menu-item-1" data-menuanchor="firstPage" class="home-menu-item"><a ng-click="vm.moveToSlide('firstPage', 1)" >Home</a></li>
					<li id="menu-item-2" data-menuanchor="secondPage" class="home-menu-item"><a ng-click="vm.moveToSlide('secondPage', 2)" >About Happii</a></li>
					<li id="menu-item-3" data-menuanchor="thirdPage" class="home-menu-item"><a ng-click="vm.moveToSlide('thirdPage', 3)">Functions & Features</a></li>
					<li id="menu-item-4" data-menuanchor="fourthPage" class="home-menu-item"><a ng-click="vm.moveToSlide('fourthPage', 4)">Twitter</a></li>
					<li class="register"><a ui-sref="register">Register for free</a></li>
					<li class="sign-in"><a ui-sref="sign-in">Sign in</a></li>
				</ul>
				<div class="mobile-menu hide-desktop">
					<a href="#menu"><i class="fa fa-3x fa-bars"></i></a>
					<nav id="menu">
						<ul>
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="register">Register For Free</a></li>
							<li><a ui-sref="sign-in">Sign In</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms &amp; Conditions</a></li>
							<li><a ui-sref="privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="back-to-top-arrow" ng-click="vm.moveToSlide('firstPage', 1)">
	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</div>
<div id="fullpage" class="home-page">

	<div class="section slide-1">


		<div class="contents">
			<div class="container-fluid">
				<div class="row" data-aos="zoom-in-up"  data-aos-duration="2000">
					<h1>Date Better</h1>

					<button fade-background blur="8" ui-sref="register.gender">Pre-Register Now For 6 Months Free</button>
					<div class="down-arrow" ng-click="vm.moveToSlide('secondPage', 2)"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="section slide-2">
		<div class="contents">
			<div class="slide" data-anchor="slide1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<img src="images/home/woman.png" alt="">
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="slide-2-text">

								<h3>Hello and welcome to Happii, we’re glad you found us. This could be the start of something special.
								</h3>
								<hr>
								<p>Happii is a UK start-up, on a mission to become the most engaging, social, entertaining and secure dating platform on the market.</p>
								<p>We enable those looking for more meaningful connections to ‘date better’ – better matches, better dates as a result and a better experience online.
								</p>
								<p>We’re all about fresh thinking, original features and contemporary design. Profile pages incorporate elements of social media, status updates and
									extensive image and video galleries that not only better reflect who you are but mean you can create a profile in minutes, not hours.
								</p>
								<p>We have also built some great safety features, including a bullsh*t detector, private date diary and anti-spamming algorithms,
									all designed to help keep any players, scammers and oddballs away.
								</p>

								<p><strong>Scroll down for our amazing launch offer…</strong></p>
							</div>

						</div>
						<div class="col-md-3">
							<img src="images/home/man.png" alt="">
						</div>
					</div>
				</div>
				<div class="down-arrow" ng-click="vm.moveToSlide('thirdPage', 3)"><i class="fa fa-angle-down fa-4x"
																					 aria-hidden="true"></i></div>
			</div>

		</div>
	</div>
	<div class="section slide-2">
		<div class="contents">

			<div class="slide slide-2-right" data-anchor="slide2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-md-offset-1 col-sm-12">
							<h3>Pre-register for 6 months free!</h3>

							<div class="slide-2-right-mob-text">
								<p>Happii is a mobile-friendly desktop platform, designed to encourage better user engagement rather than simply swiping on-the-hoof (a supporting app will follow soon).</p>

								<p>Our aim is to grow a fresh userbase from scratch so you won’t be able to search and message others just yet. For now, you’ll be able to sign-up and create your profile page so when we do launch the full site later this year, you’ll be good to go!</p>

								<p>As a thank-you for your support and patience, the first 30,000 people that pre-register will get their first 6-months subscription totally free, a saving of £75.</p>

								<p>To let your single friends know about Happii and our launch offer, please share this link;</p>
							</div>


							<div id="share"></div>
						</div>
						<div class="col-md-6">
							<img src="images/home/mac.jpg" alt="" class="mac-img">
						</div>
					</div>
				</div>

				<!--<div class="down-arrow-2" ng-click="vm.moveToSlide('thirdPage', 3)"><i class="fa fa-angle-down fa-4x"-->
																					   <!--aria-hidden="true"></i></div>-->
			</div>
		</div>
	</div>
	<div class="section slide-3">

		<h3>Functions and Features</h3>
		<div class="contents">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="card in vm.cardArray track by $index">
						<div class="card-flip" id="card{{$index}}" ng-click="vm.flipCard('card' + $index)">
							<div class="front">
								<img ng-src="{{card.frontImg}}" alt="">
								<h4>{{card.frontName}}</h4>
							</div>
							<div class="back" ng-style="{'background-color' : card.color}">
								<p>{{card.backText}}</p>
							</div>
						</div>
					</div>
					<!--<div class="down-arrow" ng-click="vm.moveToSlide('fourthPage', 4)"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="section slide-4">
		<div class="contents">
			<div class="container">
				<div class="row">
					<div class="twitter-section">
						<div class="tweet-header">
							<p>Tweets</p>
						</div>
						<div class="col-md-2 col-sm-3">
							<div class="row">
								<img src="images/home/twitter-profile.jpg" alt="">
								<a href="https://twitter.com/HappiiDating" target="_blank" class="follow-icon">follow +</a>
								<a href="https://twitter.com/HappiiDating" target="_blank" class="twitter-username">@HappiiDating</a>
								<p class="bio-text">The UK’s best new dating site? Real people. Real lives. Real relationships. Launching soon, pre-registering now!</p>
							</div>
						</div>
						<div class="col-md-10 col-sm-9">

							<div class="row">
								<!--<div class="recent-tweets">-->
									<!--<div id="recentTweets"></div>-->
								<!--</div>-->



								<div id="recentTweetsDesktop">
									<!--<a class="twitter-timeline"-->
									<!--href="https://twitter.com/happiidating">-->
									<!--Tweets by @happiidating-->
									<!--</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="footer">
						<!--<a ng-click="vm.moveToSlide('firstPage', 1)"><img src="images/logo.png" alt=""></a>-->
						<ul id="#myMenu">
							<li id="menu-item-1" data-menuanchor="firstPage" class="home-menu-item"><a ng-click="vm.moveToSlide('firstPage', 1)" >Home</a></li>
							<li id="menu-item-2" data-menuanchor="secondPage" class="home-menu-item"><a ng-click="vm.moveToSlide('secondPage', 2)" >About Happii</a></li>
							<li><a ui-sref="safety-guidelines">Safety Guidelines</a></li>
							<li><a ui-sref="terms">Terms & Conditions</a></li>
							<li><a ui-sref="privacy">Privacy & Cookie Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
							<li><a style="cursor: default">Happii 2017 &copy;</a></li>
							<!--<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
							<!--<li><a href="https://twitter.com/HappiiDating"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>