<div class="profile-action-icons-wrapper">
	<div class="container-fluid">

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="profile-action-icons-left">
				<div class="profile-name-age-wrapper">
					<p>{{vm.name}}, {{vm.getAgeFromDob(vm.age)}}</p>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="profile-action-icons-right">

				<div class="profile-location-wrapper">
					<p>{{vm.location.city}}, {{vm.location.county}}</p>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="profile-action-icons-left">



				<div class="profile-action-icons">
					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-click="vm.mediaPopUpMode = 'photo'" data-toggle="modal" data-target="#photo-modal" data-backdrop="false" ng-src="images/icons/profile/photo.png" alt="an icon">
						</div>

						<p data-toggle="modal" data-target="#photo-modal">Photos</p>
					</div>

					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-click="vm.mediaPopUpMode = 'video'" data-toggle="modal" data-target="#photo-modal" data-backdrop="false" ng-src="images/icons/profile/video.png" alt="an icon">
						</div>

						<p>Videos</p>

					</div>

					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-src="images/icons/profile/pings.png" alt="an icon">
						</div>

						<p>Pings</p>
					</div>

					<div class="action-icon-wrapper">
						<div class="action-icon">
							<img ng-src="images/icons/profile/calendar.png" alt="an icon">
						</div>

						<p>Calendar</p>
					</div>
				</div>

			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="profile-action-icons-right">



				<div class="profile-action-icons">
					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-src="images/icons/profile/favourite.png" alt="an icon">
						</div>

						<p>Favourites</p>
					</div>

					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-src="images/icons/profile/matches.png" alt="an icon">
						</div>

						<p>Like</p>

					</div>

					<div class="action-icon-wrapper">

						<div class="action-icon">
							<img ng-src="images/icons/profile/messageMe.png" alt="an icon">
						</div>

						<p>Message me</p>
					</div>

					<div class="action-icon-wrapper">
						<div class="action-icon">
							<img ng-src="images/icons/profile/likesYou.png" alt="an icon">
						</div>

						<p>Likes you</p>
					</div>

					<div class="action-icon-wrapper">
						<div class="action-icon">
							<img ng-src="images/icons/profile/share.png" alt="an icon">
						</div>

						<p>Share</p>
					</div>
				</div>

			</div>
		</div>
	</div>
		</div>
</div>

<!--Photo viewer directive-->
<photo-pop-up-directive mode="vm.mediaPopUpMode" photos="vm.photos" videos="vm.videos" username="vm.name"></photo-pop-up-directive>