<div class="profile-cover-photo-wrapper">

	<div class="">
		<div class="cover-photo-single">
			<img ng-if="vm.profilecoverphoto.length > 0" ng-src="{{vm.getImagePath(vm.profilecoverphoto)}}" alt="">
			<img ng-if="vm.profilecoverphoto.length == 0" ng-src="{{vm.getImagePathLocal('images/Sample/cover-photo-1.png')}}" alt="">
		</div>
	</div>

</div>