<div class="profile-icon-divider">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 removePadding">
				<hr>
			</div>
			<div class="col-lg-2">
				<div class="profile-icon-divider-icon">

					<img ng-src="images/icons/profile/quotes.png" alt="">

				</div>
			</div>
			<div class="col-lg-5 removePadding">
				<hr>
			</div>
		</div>

	</div>

</div>

<div class="profile-page-description" ng-class="{'border-dotted' : vm.editmode == true}">

	<div ng-if="vm.edittitleshow == true" class="edit-section-wrapper">
		<button ng-click="vm.editmode = true" ng-if="vm.editmode == false">Edit - opening statement <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>
		<button ng-click="vm.updateProfileDescription()" ng-if="vm.editmode == true">Save - opening statement <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>
	</div>

	<p ng-if="vm.editmode == false">"{{vm.description}}"</p>

	<textarea maxlength="500" ng-if="vm.editmode == true" ng-model="vm.description"></textarea>


</div>