<!--Favourite lists-->

<div class="favourite-list-wrapper">

	<div ng-if="vm.edittitleshow == false" class="favourite-list-icon">
		<img ng-src="{{vm.icon}}" alt="list icon">
		<p>Favourite {{vm.questionref}}</p>
	</div>

	<div ng-if="vm.edittitleshow == true" class="edit-section-wrapper">
		<button data-backdrop="false" data-toggle="modal" data-target="#modal{{vm.questionref}}">Edit - {{vm.title}} <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>
	</div>


	<div class="favourite-list-content">

		<slick settings="vm.slickConfig" ng-if="vm.listdata.length != 0">

			<!--Music-->
			<div class="col-md-12" ng-repeat="result in vm.listdata track by $index" ng-if="vm.questionref == 'music'">

				<div class="favourite-list-arrows-wrapper">

					<i class="fa fa-chevron-left" aria-hidden="true" ng-click="vm.slickConfig.method.slickPrev()"></i>
					<i class="fa fa-chevron-right" aria-hidden="true" ng-click="vm.slickConfig.method.slickNext()"></i>

				</div>

				<div class="favourite-list-item">

					<div class="favourite-list-item-img" ng-click="vm.playSpotifySong(result)">
						<img ng-src="{{result.album.images[0].url}}" alt="album image">
					</div>

					<div class="favourite-item-text">
						<p>{{result.artists[0].name}}</p>
						<p>{{result.name}}</p>
					</div>

					<i ng-click="vm.playSpotifySong(result)" class="fa fa-play-circle-o" aria-hidden="true"></i>
				</div>
			</div>

			<!--Film-->
			<div class="col-md-12" ng-repeat="result in vm.listdata track by $index" ng-if="vm.questionref == 'viewings'">

				<div class="favourite-list-arrows-wrapper">
					<i class="fa fa-chevron-left" aria-hidden="true" ng-click="vm.slickConfig.method.slickPrev()"></i>
					<i class="fa fa-chevron-right" aria-hidden="true" ng-click="vm.slickConfig.method.slickNext()"></i>

				</div>

				<div class="favourite-list-item" ng-click="vm.watchFilmTrailer(result)">

					<div class="favourite-list-item-img">
						<img ng-src="http://image.tmdb.org/t/p/w185//{{result.poster_path}}" alt="film image">
					</div>

					<div class="favourite-item-text">
						<p>{{result.title}}</p>
						<!--<p>Release: {{result.release_date}}</p>-->
					</div>

					<i ng-click="vm.watchFilmTrailer(result)" class="fa fa-play-circle-o" aria-hidden="true"></i>
				</div>
			</div>

			<!--Books-->
			<div class="col-md-12" ng-repeat="result in vm.listdata track by $index" ng-if="vm.questionref == 'books'">

				<div class="favourite-list-arrows-wrapper">
					<i class="fa fa-chevron-left" aria-hidden="true" ng-click="vm.slickConfig.method.slickPrev()"></i>
					<i class="fa fa-chevron-right" aria-hidden="true" ng-click="vm.slickConfig.method.slickNext()"></i>
				</div>

				<div class="favourite-list-item">

					<div class="favourite-list-item-img">
						<img ng-src="{{result.imageLinks.thumbnail}}" alt="book image">
					</div>

					<div class="favourite-item-text">
						<p>{{result.title}}</p>
						<p>{{result.authors[0]}}</p>
					</div>
				</div>
			</div>

			<!--Sport-->
			<div class="col-md-12" ng-repeat="result in vm.listdata track by $index" ng-if="vm.questionref == 'sport'">

				<div class="favourite-list-arrows-wrapper">
					<i class="fa fa-chevron-left" aria-hidden="true" ng-click="vm.slickConfig.method.slickPrev()"></i>
					<i class="fa fa-chevron-right" aria-hidden="true" ng-click="vm.slickConfig.method.slickNext()"></i>
				</div>

				<div class="favourite-list-item">

					<div class="favourite-list-item-img">
						<img ng-src="{{result.image}}" alt="album image">
					</div>

					<div class="favourite-item-text">
						<p>{{result.name}}</p>
					</div>
				</div>
			</div>

		</slick>

	</div>

	<!-- Modal edit list -->
	<div id="modal{{vm.questionref}}" class="modal fade favourite-modal-edit" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					<div class="edit-add-wrapper">

						<h3>Add a new item</h3>


						<input placeholder="add list item" ng-model="vm.newItem" ng-model-options="{debounce:500}" ng-change="vm.manageAPiSearch()" type="text">

						<div class="api-results-wrapper" ng-show="vm.apiResults.length > 0">

							<!--Books-->
							<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-if="vm.questionref == 'books'">

								<div class="container-fluid">
									<div class="row">
										<div class="col-md-2">
											<div class="api-result-image-wrapper">
												<img ng-src="{{result.volumeInfo.imageLinks.thumbnail}}" alt="book image">
											</div>
										</div>
										<div class="col-md-8">
											<p>Title: {{result.volumeInfo.title}}</p>
											<p>Author: {{result.volumeInfo.authors[0]}}</p>
										</div>
										<div class="col-md-2">
											<i ng-click="vm.addNewItem(result.volumeInfo); vm.apiResults = []"class="fa fa-plus" aria-hidden="true"></i>
										</div>
									</div>
								</div>

							</div>

							<!--Music-->
							<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-if="vm.questionref == 'music'">

								<div class="container-fluid">
									<div class="row">
										<div class="col-md-2">
											<div class="api-result-image-wrapper">
												<img ng-src="{{result.album.images[0].url}}" alt="album image">
											</div>
										</div>
										<div class="col-md-8">
											<p>Track: {{result.name}}</p>
											<p>Artist: {{result.artists[0].name}}</p>
										</div>
										<div class="col-md-2">
											<i ng-click="vm.addNewItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
										</div>
									</div>
								</div>

							</div>

							<!--Film-->
							<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-if="vm.questionref == 'viewings'">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-2">
											<div class="api-result-image-wrapper">
												<img ng-src="http://image.tmdb.org/t/p/w185//{{result.poster_path}}" alt="album image">
											</div>
										</div>
										<div class="col-md-8">
											<p>Title: {{result.title}}</p>
											<p>Release: {{result.release_date}}</p>
										</div>
										<div class="col-md-2">
											<i ng-click="vm.addNewItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
										</div>
									</div>
								</div>

							</div>

							<!--Sport-->
							<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 3" ng-if="vm.questionref == 'sport'">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-2">
											<div class="api-result-image-wrapper">
												<img ng-src="{{result.image}}" alt="album image">
											</div>
										</div>
										<div class="col-md-8">
											<p>Sport: {{result.name}}</p>
										</div>
										<div class="col-md-2">
											<i ng-click="vm.addNewItem(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="list-item-wrapper" ng-if="vm.selectedOptions.length > 0">
							<h4>List Items</h4>
							<ul>
								<li ng-repeat="item in vm.selectedOptions track by $index">
									<label ng-if="vm.questionref == 'sport'" class="favourite-item-delay"><i ng-click="vm.removeItem(item)" class="fa fa-times" aria-hidden="true"></i>{{item.name | limitTo: 35}}</label>
									<label ng-if="vm.questionref == 'viewings'" class="favourite-item-delay"><i ng-click="vm.removeItem(item)" class="fa fa-times" aria-hidden="true"></i>{{item.title | limitTo: 35}}</label>
									<label ng-if="vm.questionref == 'books'" class="favourite-item-delay"><i ng-click="vm.removeItem(item)" class="fa fa-times" aria-hidden="true"></i>{{item.title | limitTo: 35}}</label>
									<label ng-if="vm.questionref == 'music'" class="favourite-item-delay"><i ng-click="vm.removeItem(item)" class="fa fa-times" aria-hidden="true"></i>{{item.name | limitTo: 35}}</label>
								</li>

							</ul>
						</div>

					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.updateProfile()">Save</button>
				</div>
			</div>

		</div>
	</div>


	<!-- Modal for watching film trailers -->
	<div id="watch-trailer-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-body">
					<button id="stop-video-btn" type="button" class="close" data-dismiss="modal">&times;</button>

					<div id="player">

					</div>
				</div>
			</div>

		</div>
	</div>
</div>