<footer id="profile-footer">
	<div class="container-fluid">

	<div class="row">

		<div class="footer-content">
			<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">FAQ'S</a></li>
					<!--<li><a href="">Safety Guidelines</a></li>-->
					<!--<li><a href="">Terms & Conditions</a></li>-->
					<!--<li><a href="">Privacy & Cookie Policy</a></li>-->
					<!--<li><a href="">Contact Us</a></li>-->
					<li>|</li>
					<li>HAPPII 2016 ©</li>
				</ul>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

				<div class="happii-logo-footer">
					<img ng-src="images/logo-profile.png" alt="the happii logo">
				</div>
			</div>
		</div>
</div>
	</div>
</footer>