<header ng-class="{'header-white' : vm.page == 'view'}">
	<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
		<div class="happii-logo-wrapper">
			<img ng-if="vm.page != 'view'" ui-sref="home" ng-src="images/logo-profile.png" alt="the happii logo">
			<img ng-if="vm.page == 'view'" ui-sref="home" ng-src="images/logo-profile-blue.png" alt="the happii logo">
		</div>
	</div>

	<div class="col-xs-8 col-sm-9 col-md-8 col-lg-8">
		<div class="row">
			<div class="col-xs-0 col-sm-6 col-md-7 col-lg-7">

				<div class="header-search-section">
					<div class="keyword-search-wrapper" data-toggle="modal" data-target="#modal-feature-soon" data-backdrop="false">
						<input placeholder="keyword search" type="text"><i class="fa fa-search" aria-hidden="true"></i>
					</div>

					<div class="menu-drop-down-wrapper">
						<!--<p>Menu <i class="fa fa-chevron-down" aria-hidden="true"></i></p>-->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">

				<div class="header-icon-section">

					<p ng-if="vm.page != 'view'" id="your-profile-mobile-text">Your profile</p>
					<input ng-if="vm.page == 'view' && vm.deviceType == 'mobile'" disabled placeholder="keyword search" type="text">

					<div class="icon-wrapper" data-toggle="modal" data-target="#modal-feature-soon" data-backdrop="false">

						<div class="single-icon">
							<img ng-if="vm.page != 'view'" ng-src="images/icons/profile/profile.png" alt="profile icon">
							<img ng-if="vm.page == 'view'" ng-src="images/icons/profile/profile-blue.png" alt="profile icon">
						</div>

						<div class="single-icon">
							<img ng-if="vm.page != 'view'" ng-src="images/icons/profile/message.png" alt="profile icon">
							<img ng-if="vm.page == 'view'" ng-src="images/icons/profile/message-blue.png" alt="profile icon">
						</div>

						<div class="single-icon">
							<img ng-if="vm.page != 'view'" ng-src="images/icons/profile/matches.png" alt="profile icon">
							<img ng-if="vm.page == 'view'" ng-src="images/icons/profile/matches-blue.png" alt="profile icon">
						</div>
					</div>

					<div class="profile-icon-wrapper">

						<div class="profile-icon">

							<div class="profile-icon-image" ng-click="vm.returnToOwnProfile()">
								<img ng-class="{'profile-circle-icon-white': vm.page == 'view'}" ng-cloak class="img-circle" ng-src="{{vm.getImagePath(vm.profileimage)}}" alt="profile image">
							</div>

							<div class="profile-icon-semi-circle">
								<img ng-if="vm.page != 'view'" src="images/icons/profile/profileSemiCircleWhite.png" alt="semi circle">
								<img ng-if="vm.page == 'view'" src="images/icons/profile/profileSemiCircle.png" alt="semi circle">
							</div>
						</div>

						<!--<div class="profile-top-menu-dropdown">-->
							<!--<i class="fa fa-chevron-down" aria-hidden="true"></i>-->
						<!--</div>-->

							<div class="dropdown profile-mini-dropdown-menu" ng-class="{'profile-mini-dropdown-menu-view' : vm.page == 'view'}">
								<button class="dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
									<i class="fa fa-chevron-down" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile.profile-edit">Dashboard</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="vm.logOut()">Sign Out</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"  data-toggle="modal" data-target="#modal-delete-profile" data-backdrop="false">Delete Account</a></li>
									<!--<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile-view({id: vm.profileId})">View Profile</a></li>-->
								</ul>
							</div>
					</div>
					<div ng-if="vm.page != 'view'" ng-click="vm.showMobileMenu()" class="button_container" id="mobile-profile-menu">
						<span class="top"></span>
						<span class="middle"></span>
						<span class="bottom"></span>
					</div>

					<div ng-if="vm.page == 'view' && vm.deviceType == 'mobile'" id="profile-view-mobile-edit-return">
						<i ui-sref="profile.profile-edit" class="fa fa-chevron-left" aria-hidden="true"></i>
					</div>

				</div>
			</div>
		</div>
	</div>
</header>

<!-- Delete Profile Modal -->
<div id="modal-delete-profile" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<p>Are you sure you want to permanently delete your profile?</p>
				<p>Doing so will mean you'll lose your three month free subscription offer and, if you change your mind later, you'll have to complete your full profile from scratch.</p>

				<div class="modal-delete-profile-btn-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<button class="delete-profile-btn">I've changed my mind</button>
							</div>
							<div class="col-md-6">
								<button class="delete-profile-btn">Yes, please delete my account</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Coming Soon Modal -->
<div id="modal-feature-soon" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
		</div>

	</div>
</div>