<div class="profile-page-sliding-icon-content-wrapper" ng-class="{'icon-slider-edit-larger' : vm.editmode == true}">

	<div class="profile-icon-divider">

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
				<div class="col-lg-2">
					<div ng-if="vm.edittitleshow == false" class="profile-icon-divider-icon">
						<img ng-src="{{vm.slidericon}}" alt="{{vm.slidericon}}">
					</div>

					<div ng-if="vm.edittitleshow == true" class="profile-icon-divider-button">

						<button ng-click="vm.editmode = true" ng-if="vm.editmode == false">Edit - {{vm.title}}</button>
						<button ng-click="vm.updateProfile()" ng-if="vm.editmode == true">Save - {{vm.title}}</button>

					</div>
				</div>
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>I love</p>
				</div>
			</div>

		</div>

	</div>


	<div class="sliding-icon-slider-wrapper">

		<!-- View mode-->
		<div ng-if="vm.editmode == false">
			<!--<p>{{vm.title}}</p>-->

			<div class="sliding-icon-slider">

				<div class="slick-chevron-navigation-wrapper-profile">
					<i ng-click="vm.slickConfig.method.slickPrev()" class="fa fa-chevron-left" aria-hidden="true"></i>
					<i ng-click="vm.slickConfig.method.slickNext()" class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>

				<slick settings="vm.slickConfig" ng-if="vm.pasttimes.length != 0">

					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="pastTime in vm.pasttimes track by $index">
						<div class="love-icon-single" >

							<icon-lookup iconname="pastTime"></icon-lookup>

							<p>{{pastTime}}</p>
						</div>
					</div>

				</slick>
			</div>
		</div>

		<!--Edit mode-->
		<div class="icon-slider-edit-mode-wrapper" ng-if="vm.editmode == true">

			<p>{{vm.errorMsg}}</p>

			<div class="row">

				<div class="">
					<div ng-repeat="option in vm.dataOptions track by $index">

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

							<div class="interests-input-single">
								<fancy-checkbox>
									<label><input ng-click="vm.setCheckBoxOption(option)" ng-init="" type="checkbox" value="{{option}}">{{option}}</label>
								</fancy-checkbox>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</div>


</div>