<div class="profile-page-sliding-icon-content-wrapper">

	<div class="sliding-icon-wrapper">
		<img ng-src="{{vm.slidericon}}" alt="love icon">
	</div>


	<div class="sliding-icon-slider-wrapper">

		<!-- View mode-->

		<div class="looking-for-edit-content-profile-view">
			<p>{{vm.title}}</p>

			<div class="looking-for-edit-content">
				<div class="container-fluid">
					<div class="row">

						<div class="slick-chevron-navigation-wrapper-profile-looking-edit">
							<i ng-click="vm.slickConfig.method.slickPrev()" class="fa fa-chevron-left" aria-hidden="true"></i>
							<i ng-click="vm.slickConfig.method.slickNext()" class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>

						<slick settings="vm.slickConfig" ng-if="vm.lookingForQuestions.length > 0">

							<!--questions-->
							<div ng-repeat="item in vm.lookingForQuestions" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

								<div ng-if="vm.editmode != false" class="looking-for-edit-icon" ng-click="vm.setActiveDetails(item)" data-backdrop="false" data-toggle="modal" data-target="#looking-for-modal-profile">
									<icon-lookup iconname="item.iconRef"></icon-lookup>
								</div>

								<div ng-if="vm.editmode == false" class="looking-for-edit-icon">
									<icon-lookup iconname="item.iconRef"></icon-lookup>
								</div>

								<div class="looking-for-edit-icon-title">
									<p>{{item.title}}</p>
								</div>

							</div>

						</slick>
					</div>
				</div>
			</div>

		</div>



	</div>


</div>