<div class="looking-for-edit-section-wrapper">

	<div class="edit-section-wrapper" ng-if="vm.editmode != false">
		<button>Edit - Ideal partner... <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>
		<!--<button>Save - {{vm.title}} <i ng-style="{'color' : 'white'}" class="fa fa-pencil" aria-hidden="true"></i></button>-->
	</div>

	<div class="looking-for-edit-content">

		<p ng-if="vm.editmode != false">Click an icon to edit details</p>
		<div class="container-fluid">
		<div class="row">

			<div class="slick-chevron-navigation-wrapper-profile-looking-edit">
				<i ng-click="vm.slickConfig.method.slickPrev()" class="fa fa-chevron-left" aria-hidden="true"></i>
				<i ng-click="vm.slickConfig.method.slickNext()" class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>

			<slick settings="vm.slickConfig" ng-if="vm.lookingForQuestions.length > 0">

				<!--questions-->
				<div ng-repeat="item in vm.lookingForQuestions" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

					<div ng-if="vm.editmode != false" class="looking-for-edit-icon" ng-click="vm.setActiveDetails(item)" data-backdrop="false" data-toggle="modal" data-target="#looking-for-modal-profile">
						<icon-lookup iconname="item.iconRef"></icon-lookup>
					</div>

					<div ng-if="vm.editmode == false" class="looking-for-edit-icon">
						<icon-lookup iconname="item.iconRef"></icon-lookup>
					</div>

					<div class="looking-for-edit-icon-title">
						<p>{{item.title}}</p>
					</div>

				</div>

			</slick>
		</div>
		</div>
	</div>

	<!--Modal which shows the content-->
	<looking-for-modal-directive type="'profile'" details="vm.activeDetails"></looking-for-modal-directive>
</div>