<div class="looking-for-modal-wrapper">

	<!-- Trigger the modal with a button -->
	<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#looking-for-modal">Open Modal</button>-->

	<!-- Modal -->
	<div id="looking-for-modal-{{vm.type}}" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Edit {{vm.details.title}}</h4>
				</div>

				<div class="modal-body">

					<div class="checkbox-data-wrapper">
						<div class="container-fluid">
						<div class="row">

							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="item in vm.details.values">
								<div class="checkbox-data-single">

									<!-- Radio buttons-->
									<fancy-checkbox ng-if="vm.details.type == 'radio'">
										<label><input ng-model="vm.selected" ng-click="vm.setCheckBoxOption(item)" type="radio" value="{{item}}">{{item}}</label>
									</fancy-checkbox>

									<!--Checkboxes-->
									<fancy-checkbox ng-if="vm.details.type == 'checkbox'">
										<label><input ng-click="vm.setCheckBoxOption(item)" type="checkbox" value="{{item}}">{{item}}</label>
									</fancy-checkbox>
								</div>

							</div>


							<!--Range slider-->
							<div class="age-range-slider-wrapper" ng-if="vm.details.type == 'range'">
								<rzslider rz-slider-model="vm.slider.min"
										  rz-slider-high="vm.slider.max" rz-slider-options="vm.slider.options"></rzslider>
							</div>

						</div>
						</div>
					</div>


				</div>

				<div class="modal-footer">
					<button ng-if="vm.details.type != 'range'" ng-click="vm.saveLookingForDetails()" type="button" class="btn btn-default" data-dismiss="modal" ng-class="{'disabledElement' : vm.selectedOptions.length < vm.details.min}">Save Changes</button>
					<button ng-if="vm.details.type == 'range'" ng-click="vm.saveLookingForDetails()" type="button" class="btn btn-default" data-dismiss="modal" ng-class="{'disabledElement' : vm.selectedRange.min == 0}">Save Changes</button>
				</div>
			</div>

		</div>
	</div>
</div>