<div class="profile-image-main">
	<div class="profile-icon">

		<div class="profile-icon-image">
			<img class="img-circle" ng-src="{{vm.getImagePath(vm.profilemainphoto)}}" alt="profile image">
		</div>

		<div class="profile-icon-semi-circle">
			<img ng-src="images/icons/profile/profileSemiCircle.png" alt="semi circle">
		</div>
	</div>

</div>