<div class="profile-manage-buttons-section">
	<div class="container-fluid">

	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

			<div class="profile-manage-btn">
				<button>
					Go back to the list
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

			<div class="profile-manage-btn">
				<button>
					Hide this profile
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

			<div class="profile-manage-btn">
				<button>
					Block this profile
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">

			<div class="profile-manage-btn">
				<button>
					Report this profile
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
		</div>
</div>