<div class="looking-for-edit-section-wrapper profile-box-answers-wrapper">


	<div class="profile-icon-divider">

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
				<div class="col-lg-2">
					<div ng-if="vm.edittitleshow == false" class="profile-icon-divider-icon">

						<img ng-src="{{vm.icon}}" alt="">

					</div>

					<div ng-if="vm.edittitleshow == true" class="profile-icon-divider-button">

						<button ng-click="vm.editmode = true">Edit - {{vm.title}}</button>

					</div>
				</div>
				<div class="col-lg-5 removePadding">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>{{vm.title}}</p>
				</div>
			</div>

		</div>

	</div>

	<!--View mode-->
	<div class="container-fluid">
		<div class="row">

			<div class="profile-box-answer-single" ng-repeat="item in vm.statsQuestions track by $index">

				<div class="col-md-3">
					<div ng-if="vm.edittitleshow == true" class="profile-box" ng-click="vm.setActiveDetails(item)" data-backdrop="false" data-toggle="modal" data-target="#looking-for-modal-stats">
						<p><strong>{{item.title}}</strong>: {{item.answer}}</p>
					</div>

					<div ng-if="vm.edittitleshow == false" class="profile-box" ng-click="vm.setActiveDetails(item)">
						<p><strong>{{item.title}}</strong>: {{item.answer}}</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--Edit mode-->
	<!--<div class="box-edit-mode-wrapper" ng-if="vm.editmode == true">-->

		<!--<p>{{vm.errorMsg}}</p>-->

		<!--<div class="row">-->

			<!--<div class="">-->
				<!--<div ng-repeat="option in vm.dataOptions track by $index">-->

					<!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->

						<!--<div class="interests-input-single">-->
							<!--<fancy-checkbox>-->
								<!--<label><input ng-click="vm.setCheckBoxOption(option)" ng-init="" type="checkbox" value="{{option}}">{{option}}</label>-->
							<!--</fancy-checkbox>-->
						<!--</div>-->

					<!--</div>-->

				<!--</div>-->
			<!--</div>-->

		<!--</div>-->

	<!--</div>-->


	<!--Modal which shows the content-->
	<looking-for-modal-directive type="'stats'" details="vm.activeDetails"></looking-for-modal-directive>
</div>