<div class="pings-wrapper">

	<div ng-repeat="ping in vm.pings" class="ping-single-wrapper">

		<div class="ping-single">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

				<div class="profile-icon">

					<div class="profile-icon-image">
						<img class="img-circle" ng-src="{{ping.profile_image}}" alt="profile image">
					</div>

					<div class="profile-icon-semi-circle">
						<img src="images/icons/profile/profileSemiCircle.png" alt="semi circle">
					</div>
				</div>
			</div>

			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

				<div class="ping-single-text">
					<div class="ping-content">
						{{ping.content}}
					</div>

					<div class="ping-date">
						{{ping.date}}
					</div>
				</div>

			</div>
		</div>

	</div>
</div>