<div class="profile-similar-profiles-section">

	<div class="similar-profiles-title-bar">
		<div class="container-fluid">

		<div class="row">

			<div class="col-xs-3 col-sm-4 col-md-5 col-lg-5">
				<hr>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
				<p>Similar profiles</p>
			</div>

			<div class="col-xs-3 col-sm-4 col-md-5 col-lg-5">
				<hr>
			</div>
</div>
		</div>
	</div>

	<div class="similar-profiles-slider">
		<div class="container-fluid">

		<div class="row">

			<slick settings="vm.slickConfigSimilar" ng-if="vm.similarProfiles.length != 0">

				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="profile in vm.similarProfiles track by $index">

					<div class="profile-icon-wrapper">
						<div class="profile-icon">

							<div class="profile-icon-image">
								<img class="img-circle" ng-src="{{profile.image}}" alt="profile image">
							</div>

							<div class="profile-icon-semi-circle">
								<img src="images/icons/profile/profileSemiCircle.png" alt="semi circle">
							</div>
						</div>
					</div>

					<div class="similar-profile-single-wrapper">

						<div class="similar-profile-content">
							<p>{{profile.name}}, {{profile.age}}</p>
							<p>{{profile.location}}</p>
						</div>
					</div>
				</div>
			</slick>
		</div>
			</div>
	</div>
</div>