<div class="tab-personality-wrapper">

	<ul class="tab-personality-tabs">
		<li  ng-class="{'profile-active-tab': vm.tabPersonalityContent.name == 'profile'}" ng-click="vm.setPersonalityTabbedContent('profile')">Profile</li>
		<li ng-class="{'profile-active-tab': vm.tabPersonalityContent.name == 'traits'}" ng-click="vm.setPersonalityTabbedContent('traits')">Traits</li>
	</ul>

	<div class="tab-personality-content">
		<ul>
			<li class="tab-profile" ng-if="vm.tabPersonalityContent.name == 'profile'" ng-repeat="item in vm.tabPersonalityContent.list track by $index">
				<div class="tab-icon-wrapper"><icon-lookup iconname="item.title"></icon-lookup></div>
				<p>{{item.value}}</p>
			</li>

			<li ng-if="vm.tabPersonalityContent.name == 'traits'" ng-repeat="item in vm.tabPersonalityContent.list track by $index">
				<p>{{item}}</p>
			</li>
		</ul>
	</div>
</div>