<div class="profile-theme-icons-wrapper">
<div class="container-fluid">
	<div class="row">

		<!--The name and lcoation for mobile-->
		<!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">-->
			<!--<div class="color-choose-wrapper">-->
				<!--<p>Choose colour palette</p>-->

				<!--<ul>-->
					<!--<li ng-repeat="color in vm.themeColors">-->
						<!--<div ng-style="{'background-color' : color.value}" class="color-circle">-->

						<!--</div>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="color-choose-wrapper" data-toggle="modal" data-target="#modal-feature-soon" data-backdrop="false">
				<p>Choose colour palette</p>

				<ul>
					<li ng-repeat="color in vm.themeColors">
						<div ng-style="{'background-color' : color.value}" class="color-circle">

						</div>

					</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="update-photo-wrapper">

				<ul>
					<li ng-click="vm.openImageEditModal()"> <div class="circle"></div> Update profile photo</li>
					<li ng-click="vm.openImageEditModal()"> <div class="rectangle"></div> Update cover photo</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>


