<div class="image-section-intro-wrapper">

	<div class="intro-content">
		<p>This section is all about you.</p>
		<p>
			First up, let’s get a look at you...
		</p>


		<button class="happii-btn-empty" ui-sref="builder.questions.image-section.profile-photo">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
	</div>
</div>