<div class="image-section-photo-complete-wrapper">

	<div class="intro-content">
		<p>Great, looking good!</p>
		<p>Now we need at least two supporting gallery images (helps us confirm your identity).</p>
		<p>You can add even more photos later</p>
	</div>

	<div class="image-section-navigation">

		<div class="image-section-nav-content">
			<p ui-sref="builder.questions.image-section.profile-photo"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</p>
			<p>|</p>
			<p ui-sref="builder.questions.image-section.profile-gallery" ng-class="{'disabledElement': vm.profilePhoto.name == ''}">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
		</div>

	</div>
</div>