<div class="register-complete-wrapper">

	<div ng-if="vm.completeStatus == 'complete'">
		<p  class="register-complete-text">
			We have sent you an email,
			please click the confirm link to
			continue to build your
			profile page. Please close this page.
		</p>
		<!--<button class="happii-btn" ng-click="vm.closePage()">Close Page</button>-->
	</div>

	<div ng-if="vm.completeStatus == 'oauth'">
		<p  class="register-complete-text">
			Congratulations, you have registered successfully with Happii!

			<p style="text-align: center;" class="happii-btn" ui-sref="builder.welcome">Start Wizard</p>
		</p>
		<!--<button class="happii-btn" ng-click="vm.closePage()">Close Page</button>-->
	</div>


	<p ng-if="vm.completeStatus == 'processing'" class="register-complete-text">
		Just a second, validating your details...
	</p>

	<div ng-if="vm.completeStatus == 'error'">
		<p class="register-complete-text">
			Could not save details, please fix the following issues
			{{vm.errorMessage}}
		</p>

		<div class="details-to-fix-wrapper">

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3" ng-repeat="detail in vm.detailsToFix">
						<div class="details-to-fix-single" >
							<p ui-sref="{{detail.sref}}">{{detail.name}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>