<div class="register-section-wrapper" fade-background blur="0">

    <header-directive></header-directive>

<div class="container-fluid" style="padding-top: 10%;">

    <div class="row">
        <div class="col-md-12">
            <div class="register-complete-return-wrapper" ng-if="vm.returnToRegister == true">
                <p ui-sref="register.complete">Return to Complete Register page</p>
            </div>
        </div>
    </div>

    <div class="register-questions-wrapper" fade-background blur="8">

            <div class="register-questions-wrapper-dots-wrapper">

                <div class="sub-dot-content">
                    <div class="container-fluid">

                    <div class="row">
                        <div class="builder-dot-single">
                            <div ng-repeat="dot in vm.registerSubQuestionDots">

                                <i class="fa fa-circle" aria-hidden="true" ng-style="{opacity: 0.4, color: 'darkgray'}" ng-if="vm.activeSubQuestion != dot"></i>
                                <i class="fa fa-circle" aria-hidden="true" ng-style="{opacity: 1, color: 'darkgray'}"  ng-if="vm.activeSubQuestion == dot"></i>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>

            <!-- UI View for register -->
            <register ui-view>

            </register>
    </div>

    <!--<div class="next-step-btn-wrapper">-->
        <!--<button>Next Step</button>-->
    <!--</div>-->

</div>
</div>