<div class="profile-page-wrapper" id="profile-page-edit-wrapper">

	<div class="profile-page-content" ng-if="vm.profileObj.properties != null">

		<!--The cover photo-->
		<profile-cover-photo-directive profilecoverphoto="vm.profileObj.properties.questions.profileCoverImage.name"></profile-cover-photo-directive>

		<!--Profile main image-->
		<profile-main-photo-directive profilemainphoto="vm.profileObj.properties.questions.profileImage.name"></profile-main-photo-directive>


		<div class="profile-centered-content">

			<!-- Photos, videos, pings, likes... all those icon stuff... plus the profile name, age and location-->
			<profile-theme-icons-directive profile="vm.profileObj"></profile-theme-icons-directive>

			<!-- The profile description-->
			<profile-description-directive profile="vm.profileObj" edittitleshow="true" editmode="false"></profile-description-directive>


			<!--My Stats section-->
			<my-stats-edit-section-directive ownregisterinfo="vm.registerProfileData" profiletype="'own'" icon="'images/icons/profile/profileIcon.png'" title="'My Profile'" edittitleshow="true" editmode="false" profile="vm.profileObj"></my-stats-edit-section-directive>

			<!--My Traits boxes-->
			<profile-box-answers-directive profile="vm.profileObj" title="'my traits'" icon="'images/icons/profile/traits.png'" datatoshow="vm.profileObj.properties.questions.personality" columns="3" edittitleshow="true" editmode="false" questionref="'personality'" min="6"></profile-box-answers-directive>

			<!--I love section-->
			<profile-sliding-icon-section-directive profile="vm.profileObj" edittitleshow="true" editmode="false" questionref="'pastTimes'" title="'I love'" slidericon="'images/icons/profile/loveIcons/loveIcon.png'" pasttimes="vm.profileObj.properties.questions.pastTimes"></profile-sliding-icon-section-directive>


			<!--Map section-->
			<profile-travel-directive edittitleshow="true" profileobj="vm.profileObj" travelbeen="vm.profileObj.properties.questions.travelBeen" travelgo="vm.profileObj.properties.questions.travelGo"></profile-travel-directive>


			<!--Favourite lists-->
			<div class="profile-favourite-list-section" id="profile-favourite-list-section-dashboard">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'books'" profile="vm.profileObj" edittitleshow="true" editmode="false" questionref="'books'" icon="'images/icons/profile/listsIcons/book.png'" listdata="vm.profileObj.properties.questions.books"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'music'" profile="vm.profileObj" edittitleshow="true" editmode="false" questionref="'music'" icon="'images/icons/profile/listsIcons/music.png'" listdata="vm.profileObj.properties.questions.music"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'film'" profile="vm.profileObj" edittitleshow="true" editmode="false" questionref="'viewings'" icon="'images/icons/profile/listsIcons/tv.png'" listdata="vm.profileObj.properties.questions.viewings"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'sports'" profile="vm.profileObj" edittitleshow="true" editmode="false" questionref="'sport'" icon="'images/icons/profile/listsIcons/sport.png'" listdata="vm.profileObj.properties.questions.sport"></profile-favourite-list-directive>
						</div>
					</div>
				</div>
			</div>




			<!--Who i'm looking for-->
			<div class="looking-for-view-section">
				<p id="looking-for-section-title">Who I’m Looking For</p>

				<!--My Stats section-->
				<my-stats-edit-section-directive ownregisterinfo="vm.registerProfileData" profiletype="'partner'" icon="'images/icons/profile/profileIcon.png'" title="'Your Profile'" edittitleshow="true" editmode="false" profile="vm.profileObj"></my-stats-edit-section-directive>


				<!--Your Traits boxes-->
				<profile-box-answers-directive profile="vm.profileObj" title="'your traits'" icon="'images/icons/profile/traits.png'" datatoshow="vm.profileObj.properties.questions.partnerPersonality" columns="3" edittitleshow="true" editmode="false" questionref="'partnerPersonality'" min="6"></profile-box-answers-directive>

				<!--Your interests boxes-->
				<profile-box-answers-directive profile="vm.profileObj" title="'you love'" icon="'images/icons/profile/loveIcon.png'" datatoshow="vm.profileObj.properties.questions.partnerPastTimes" columns="4" edittitleshow="true" editmode="false" questionref="'partnerPersonality'" min="6"></profile-box-answers-directive>

			</div>

		</div>


	</div>

	<!--footer-->
	<profile-footer-directive></profile-footer-directive>

	<!-- Coming Soon Modal -->
	<div id="modal-feature-soon" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>

		</div>
	</div>

</div>
<image-upload-directive images="vm.profileObj.properties.questions.profileGallery"></image-upload-directive>