<div class="profile-page-wrapper" id="profile-page-edit-wrapper" ng-cloak>

	<!--The profile header-->
	<profile-header-directive profileimage="vm.profileObj.properties.questions.profileImage.name"></profile-header-directive>


	<div id="profile-sidebar-wrapper" class="profile-sidebar-wrapper">

		<div class="sidebar-links">
			<ul>
				<li ng-repeat="link in vm.sidebar" ng-click="vm.currentState = link.link" ng-class="{'profile-link-selected' : vm.currentState == link.link}">
					<div class="sidebar-item-single" ui-sref="{{link.link}}">
						<div class="sidebar-icon-wrapper"><img ng-src="{{link.image}}" alt="sidebar icon"></div><p>{{link.name}}</p>
					</div>
				</li>
			</ul>

			<hr>

			<div class="features-coming-soon-wrapper">
				<p>Features coming soon</p>

				<ul class="featrues-coming">
					<li ng-repeat="link in vm.sidebarComingSoon">
						<div class="sidebar-item-single">
							<div class="sidebar-icon-wrapper"><img ng-src="{{link.image}}" alt="sidebar icon"></div><p>{{link.name}}</p>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="profile-route-content">
		<profile ui-view>

		</profile>
	</div>


	<!--footer-->
	<!--<profile-footer-directive></profile-footer-directive>-->

</div>