<div id="profile-page-view" class="profile-page-wrapper" ng-if="vm.profileObj.properties.questions">

	<!--The profile header-->
	<profile-header-directive page="'view'" profileimage="vm.userProfileObj.properties.questions.profileImage.name"></profile-header-directive>



	<div id="profile-page-view-content" class="profile-page-content">


		<!--The cover photo-->
		<profile-cover-photo-directive profilecoverphoto="vm.profileObj.properties.questions.profileCoverImage.name"></profile-cover-photo-directive>

		<!--Profile main image-->
		<profile-main-photo-directive profilemainphoto="vm.profileObj.properties.questions.profileImage.name"></profile-main-photo-directive>



		<div class="profile-centered-content">

			<!-- Photos, videos, pings, likes... all those icon stuff... plus the profile name, age and location-->
			<profile-action-icons-directive name="vm.profileObj.firstName" age="vm.profileObj.dob" location="vm.profileObj.location" videos="vm.profileObj.properties.questions.profileVideos" photos="vm.profileObj.properties.questions.profileGallery"></profile-action-icons-directive>

			<!-- The profile description-->
			<profile-description-directive profile="vm.profileObj" editmode="false" edittitleshow="false"></profile-description-directive>




			<!--Traits and pings-->
			<!--<div class="profile-traits-section">-->
				<!--<div class="container-fluid">-->
					<!--<div class="row">-->
						<!--&lt;!&ndash;Tab personality wrapper&ndash;&gt;-->
						<!--<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">-->
							<!--<profile-tab-personality-directive profile="vm.profileAnswers" personality="vm.profileObj.properties.questions.personality"></profile-tab-personality-directive>-->
						<!--</div>-->

						<!--&lt;!&ndash;Pings&ndash;&gt;-->
						<!--<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">-->

							<!--<profile-pings-directive></profile-pings-directive>-->

						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--Looking for section-->
			<!--<profile-sliding-icon-section-looking-directive profile="vm.profileObj" title="'My ideal partner is'" slidericon="'images/icons/profile/lookingFor.png'" partnerdata="vm.profileObj"></profile-sliding-icon-section-looking-directive>-->

			<!--My Stats section-->
			<my-stats-edit-section-directive ownregisterinfo="vm.profileObj" profiletype="'own'" icon="'images/icons/profile/profileIcon.png'" title="'My Profile'" edittitleshow="false" editmode="false" profile="vm.profileObj"></my-stats-edit-section-directive>


			<!--My Traits boxes-->
			<profile-box-answers-directive profile="vm.profileObj" title="'my traits'" icon="'images/icons/profile/traits.png'" datatoshow="vm.profileObj.properties.questions.personality" columns="3" edittitleshow="false" editmode="false" questionref="'personality'" min="6"></profile-box-answers-directive>

			<!--I love section-->
			<profile-sliding-icon-section-directive profile="vm.profileObj" edittitleshow="false" editmode="false" questionref="'pastTimes'" title="'I love'" slidericon="'images/icons/profile/loveIcons/loveIcon.png'" pasttimes="vm.profileObj.properties.questions.pastTimes"></profile-sliding-icon-section-directive>


			<!--Map section-->
			<profile-travel-directive edittitleshow="false" travelbeen="vm.profileObj.properties.questions.travelBeen" travelgo="vm.profileObj.properties.questions.travelGo"></profile-travel-directive>

			<!--Favourite lists-->
			<div class="profile-favourite-list-section">
				<div class="container-fluid">
					<div class="row">

						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'fave music'" profile="vm.profileObj" edittitleshow="false" editmode="false" questionref="'music'" icon="'images/icons/profile/listsIcons/music.png'" listdata="vm.profileObj.properties.questions.music"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'fave film'" profile="vm.profileObj" edittitleshow="false" editmode="false" questionref="'viewings'" icon="'images/icons/profile/listsIcons/tv.png'" listdata="vm.profileObj.properties.questions.viewings"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'fave books'" profile="vm.profileObj" edittitleshow="false" editmode="false" questionref="'books'" icon="'images/icons/profile/listsIcons/book.png'" listdata="vm.profileObj.properties.questions.books"></profile-favourite-list-directive>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<profile-favourite-list-directive title="'fave sports'" profile="vm.profileObj" edittitleshow="false" editmode="false" questionref="'sport'" icon="'images/icons/profile/listsIcons/sport.png'" listdata="vm.profileObj.properties.questions.sport"></profile-favourite-list-directive>
						</div>
					</div>
				</div>
			</div>


			<!--Who i'm looking for-->
			<div class="looking-for-view-section">
				<p id="looking-for-section-title">Who I’m Looking For</p>

				<!--My Stats section-->
				<my-stats-edit-section-directive ownregisterinfo="vm.profileObj" profiletype="'partner'" icon="'images/icons/profile/profileIcon.png'" title="'Your Profile'" edittitleshow="false" editmode="false" profile="vm.profileObj"></my-stats-edit-section-directive>


				<!--Your Traits boxes-->
				<profile-box-answers-directive profile="vm.profileObj" title="'your traits'" icon="'images/icons/profile/traits.png'" datatoshow="vm.profileObj.properties.questions.partnerPersonality" columns="3" edittitleshow="false" editmode="false" questionref="'partnerPersonality'" min="6"></profile-box-answers-directive>

				<!--Your interests boxes-->
				<profile-box-answers-directive profile="vm.profileObj" title="'you love'" icon="'images/icons/profile/loveIcon.png'" datatoshow="vm.profileObj.properties.questions.partnerPastTimes" columns="4" edittitleshow="false" editmode="false" questionref="'partnerPersonality'" min="6"></profile-box-answers-directive>

			</div>

		</div>


	</div>

	<!--footer-->
	<profile-footer-directive></profile-footer-directive>

</div>