<div class="video-gallery-wrapper">

	<!--Video-->
	<div class="video-top-boxes">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6">

					<div class="upload-video-single-wrapper">

						<div class="profile-img-wrapper" data-toggle="modal" data-target="#image-upload-modal" data-backdrop="false">
							<img ng-src="images/icons/profile/videoUpload.png" alt="video icon">
						</div>
						<p>Select file to upload</p>
					</div>

				</div>

				<div class="col-md-6 col-sm-6">

					<div class="video-import-from">
						<p>Import from</p>

						<div class="import-from-icons">

							<div class="row import-from-desktop">
								<div class="col-md-6 col-sm-6">
									<div class="import-from-single">
										<div class="import-from-single-img">
											<img ng-src="images/icons/profile/video/vimeoLogo.png">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="import-from-single">
										<div class="import-from-single-img">
											<img ng-src="images/icons/profile/video/youtubeLogo.png">
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="video-url-wrapper">
										<div class="import-from-single-img-mobile">
											<img ng-src="images/icons/profile/video/vimeoLogo.png">
										</div>
										<input ng-model="vm.newFaveVideo.src" type="text" placeholder="enter a vimeo url">
										<button class="happii-btn" ng-class="{'disabledElement' : vm.newFaveVideo.src.length == 0 || vm.validateUrl() == false}" ng-click="vm.addFavouriteVideo()">Save</button>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="video-url-wrapper">
										<div class="import-from-single-img-mobile">
											<img ng-src="images/icons/profile/video/youtubeLogo.png">
										</div>
										<input ng-change="vm.searchYoutubeApi()" ng-model="vm.newYoutubeVid" ng-model-options="{debounce:500}" type="text" placeholder="search YouTube...">
										<button class="happii-btn" ng-class="{'disabledElement' : vm.newFaveVideo.src.length == 0 || vm.validateUrl() == false}" ng-click="vm.addFavouriteVideo()">Save</button>
									</div>
								</div>

								<!--Youtube Api  -->
								<div class="api-results-wrapper" ng-mouseleave="vm.apiResults = []" ng-show="vm.apiResults.length > 0">


									<div class="api-result-single" ng-repeat="result in vm.apiResults | limitTo: 20">
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
													<div class="api-result-image-wrapper">
														<img ng-src="{{result.snippet.thumbnails.default.url}}" alt="book image">
													</div>
												</div>
												<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
													<p>Title: {{result.snippet.title}}</p>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
													<i ng-click="vm.addYoutubeVideoToFavouriteList(result); vm.apiResults = []" class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>

									</div>

								</div>


							</div>



						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<profile-gallery-directive type="'video'" questionref="'profileVideos'"></profile-gallery-directive>
			</div>

			<div class="col-md-6 col-sm-6">

				<div class="video-favourite-wrapper">

					<p>Social Videos</p>

					<div class="video-gallery-content">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6" ng-repeat="video in vm.videosFavourite track by $index">

									<div class="video-favourite-single">
										<!--<video class="video-fave" width="100%" height="100%" ng-if="video.type == 'url'">-->
											<!--<source src="{{video.src}}">-->
											<!--&lt;!&ndash;<source src="https://www.youtube.com/watch?v=jebJ9itYTJE">&ndash;&gt;-->
											<!--&lt;!&ndash;<source src="https://vimeo.com/190154199">&ndash;&gt;-->
										<!--</video>-->

										<div ng-if="video.type == 'url'" ng-init="vm.setUpVimeo()">
											<div data-type="vimeo" data-video-id="{{video.src}}"></div>
										</div>




										<div id="{{video.src}}" class="players" ng-click="vm.setUpYoutubeVideoToPlay(video.src)" ng-if="video.type == 'youtube'">
											<div class="api-result-image-wrapper">
												<img style="width: 100%; height: auto" ng-src="{{video.youtubeObj.snippet.thumbnails.high.url}}" alt="book image">
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>



					<!--<div class="video-favourite-single">-->
					<!--<video class="video-fave" width="100%" height="100%">-->
					<!--<source src="https://www.youtube.com/watch?v=jebJ9itYTJE">-->
					<!--&lt;!&ndash;<source src="https://vimeo.com/190154199">&ndash;&gt;-->
					<!--</video>-->
					<!--</div>-->

				</div>

			</div>

		</div>
	</div>


</div>


