
<div class="books-content-wrapper">
	<question-interests-favourite-directive title="'Favourite books...'" innertitle="'Choose up to 5 of your favourite books'" backgroundimage="'images/backgrounds/wizard/shutterstock_517474195.jpg'" listplaceholder="'Book'" navigatefrom="'builder.questions.interests.past-times'" navigateto="'builder.questions.interests.music'" apiref="'books'" questionref="'books'"></question-interests-favourite-directive>
</div>
