
<div class="books-content-wrapper">
	<question-interests-favourite-directive title="'Favourite music...'" innertitle="'Choose up to 5 of your favorite songs.'" backgroundimage="'images/backgrounds/wizard/music.jpg'" listplaceholder="'Favourite Song'" navigatefrom="'builder.questions.interests.books'" navigateto="'builder.questions.interests.viewings'" apiref="'music'" questionref="'music'"></question-interests-favourite-directive>
</div>
