<div class="personality-content-wrapper">
	<question-interests-checkbox-directive title="'What are your favourite pastimes?'" subtitle="'Please enter as many as you like'"
		backgroundimage="'images/backgrounds/wizard/shutterstock_313155557.jpg'" columns="'5'" navigatefrom="'builder.questions.interests.personality'"
		navigateto="'builder.questions.interests.books'" apiref="'pastTimes'" questionref="'pastTimes'"
		minvaluesneeded="'1'"></question-interests-checkbox-directive>
</div>
