<div class="personality-content-wrapper">
	<question-interests-checkbox-directive title="'Which 6 personality traits best describe you?'"
		subtitle="'You must enter 6 traits only in order to continue'" backgroundimage="'images/backgrounds/wizard/shutterstock_177520691.jpg'"
		columns="'5'" navigatefrom="'builder.questions.basic-stats.drinking'" navigateto="'builder.questions.interests.past-times'" apiref="'personality'"
		questionref="'personality'" minvaluesneeded="'6'" maxvaluesneeded="'6'"></question-interests-checkbox-directive>
</div>
