
<div class="books-content-wrapper">
	<question-interests-favourite-directive title="'Favourite sports...'" innertitle="'Choose up to 5 of your favourite sports'" backgroundimage="'images/backgrounds/wizard/sport.jpg'" listplaceholder="'Sport'" navigatefrom="'builder.questions.interests.viewings'" navigateto="'builder.questions.travel.places-set'" apiref="'sport'" questionref="'sport'"></question-interests-favourite-directive>
</div>
