
<div class="books-content-wrapper">
	<question-interests-favourite-directive title="'Favourite viewing...'" innertitle="'Choose up to 5 of your favorite movies.'" backgroundimage="'images/backgrounds/wizard/shutterstock_514007053.jpg'" listplaceholder="'TV show, movie or box set'" navigatefrom="'builder.questions.interests.music'" navigateto="'builder.questions.interests.sport'" apiref="'viewings'" questionref="'viewings'"></question-interests-favourite-directive>
</div>
